{block content}

<div class="nav-tabs-custom">
   <ul class="nav nav-tabs">
      <li n:class="$activeTab == 1 ? active"><a href="#general" data-toggle="tab" aria-expanded="true">Obecné</a></li>
      <li n:class="$activeTab == 2 ? active"><a href="#companyDetails" data-toggle="tab" aria-expanded="false">Firemní údaje</a></li>
      <li n:class="$activeTab == 3 ? active"><a href="#eet" data-toggle="tab" aria-expanded="false">EET</a></li>
   </ul>
   <div class="tab-content">
      <div class="tab-pane {$activeTab == 1 ? active}" id="general">
         {control editGlobalSettings}
      </div>
      <div class="tab-pane {$activeTab == 2 ? active}" id="companyDetails">
         {control editSellerData}
      </div>
      <div class="tab-pane {$activeTab == 3 ? active}" id="eet">
         {control editEetSettings}
      </div>
      <!-- /.tab-pane -->
   </div>
   <!-- /.tab-content -->
</div>