{control flashMessage}

{form form}
   <div class="form-group {if $form['company']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label company /}
      </div>
      <div class="col-sm-6">
         {input company}
         <span class="help-block" n:foreach="$form['company']->getErrors() AS $error">{$error}</span>
      </div>
   </div>
   <div class="form-group {if $form['street']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label street /}
      </div>
      <div class="col-sm-6">
         {input street}
         <span class="help-block" n:foreach="$form['street']->getErrors() AS $error">{$error}</span>
      </div>
   </div>
   <div class="form-group {if $form['city']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label city /}
      </div>
      <div class="col-sm-6">
         {input city}
         <span class="help-block" n:foreach="$form['city']->getErrors() AS $error">{$error}</span>
      </div>
   </div>
   <div class="form-group {if $form['zip']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label zip /}
      </div>
      <div class="col-sm-6">
         {input zip}
         <span class="help-block" n:foreach="$form['zip']->getErrors() AS $error">{$error}</span>
      </div>
   </div>

   <div class="form-group {if $form['vatNo']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label vatNo /}
      </div>
      <div class="col-sm-6">
         <div class="input-group">
            {input vatNo}
            <span class="input-group-btn">
                        <a href="#" class="btn btn-primary" id="loadCompanyData">načíst data z ARES</a>
                     </span>
         </div>
         <span class="help-block" n:foreach="$form['vatNo']->getErrors() AS $error">{$error}</span>
      </div>

      <script type="text/javascript">
          $("#loadCompanyData").click(function (e){
              e.preventDefault();
              $.nette.ajax({
                  url: {link loadCompanyData!},
                  data: {
             {$control->getParameterId('vatNo')}: $("#" + {$form['vatNo']->getHtmlId()}).val()
          },
              start: function(){
                  //show spinner
                  $("#boxContactDetails").append($('<div class="overlay">' +
                      '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
                      '                          </div>'));
              },
              success: function(payload){
                  if(payload.ares) {
                      var ares = payload.ares;

                      $("#" + {$form['company']->getHtmlId()}).val(ares.company);
                      $("#" + {$form['street']->getHtmlId()}).val(ares.street + ' ' + ares.streetNumber);
                      $("#" + {$form['city']->getHtmlId()}).val(ares.city);
                      $("#" + {$form['zip']->getHtmlId()}).val(ares.zip);
                      $("#" + {$form['vatId']->getHtmlId()}).val(ares.vatId);
                  }

                  //remove spinner
                  $("#boxContactDetails").find(".overlay").fadeOut();
              }
          })
          });
      </script>
   </div>
   <div class="form-group {if $form['vatId']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label vatId /}
      </div>
      <div class="col-sm-6">
         {input vatId}
         <span class="help-block" n:foreach="$form['vatId']->getErrors() AS $error">{$error}</span>
      </div>
   </div>

   <div class="form-group {if $form['taxablePerson']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {$form['taxablePerson']->getLabelPart()}
      </div>
      <div class="col-sm-6">
         {$form['taxablePerson']->getControlPart()}
         <span class="help-block" n:foreach="$form['taxablePerson']->getErrors() AS $error">{$error}</span>
         <span class="help-block help-info">Na základě této volby bude upraveno prostředí pokladny</span>
      </div>
   </div>

   <div class="form-group {if $form['bankAccountNumber']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label bankAccountNumber /}
      </div>
      <div class="col-sm-6">
         {input bankAccountNumber}
         <span class="help-block" n:foreach="$form['bankAccountNumber']->getErrors() AS $error">{$error}</span>
      </div>
   </div>

   <div class="form-group {if $form['documentNote']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label documentNote /}
      </div>
      <div class="col-sm-6">
         {input documentNote}
         <span class="help-block" n:foreach="$form['documentNote']->getErrors() AS $error">{$error}</span>
      </div>
   </div>

   <hr />

   <div class="form-group {if $form['phone']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label phone /}
      </div>
      <div class="col-sm-6">
         {input phone}
         <span class="help-block" n:foreach="$form['phone']->getErrors() AS $error">{$error}</span>
      </div>
   </div>

   <div class="form-group {if $form['email']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label email /}
      </div>
      <div class="col-sm-6">
         {input email}
         <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
      </div>
   </div>

   <div class="form-group {if $form['web']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label web /}
      </div>
      <div class="col-sm-6">
         {input web}
         <span class="help-block" n:foreach="$form['web']->getErrors() AS $error">{$error}</span>
      </div>
   </div>

   <input n:name="submit" class="btn btn-primary" />
{/form}