{block content}

<p class="text-right">
   <a n:href="add" class="btn btn-success">
      <span class="glyphicon glyphicon-plus"></span>
      Přidat
   </a>
</p>

<div class="box">
   <div class="box-body no-padding">
      {control grid}
   </div>
</div>