{block content}

<div class="text-right margin-bottom">
   <div class="btn-group">
      <a class="btn btn-success" n:href="add">
         <span class="glyphicon glyphicon-plus"></span>
         Přidat
      </a>
   </div>
</div>

<div class="box">
   <div class="box-body no-padding">
      {control suppliersGrid}
   </div>
</div>
