<tr>
   <td colspan="5" style="border: 0;" n:snippet="item">
      <table class="table table-striped productTable">
         <tr class="productRow">
            <td style="width: 40%;">
               <strong>{$product->getName()}</strong>

               {snippet errors}
                  <div n:if="count($errors)" class="text-red text-bold has-error">
                     {foreach $errors AS $error}
                        {$error} {sep}<br />{/sep}
                     {/foreach}
                  </div>
               {/snippet}
            </td>
            <td style="width: 20%;" n:snippet="purchasePrice">
               {form purchasePrice}
                  <div class="form-group {if $form['value']->hasErrors()}has-error{/if}">
                     {input value}
                     <span class="help-block" n:foreach="$form['value']->getErrors() AS $error">{$error}</span>
                  </div>
               {/form}
            </td>
            <td style="width: 20%;" n:snippet="sellPrice">
               {form sellPrice}
                  <div class="form-group {if $form['value']->hasErrors()}has-error{/if}">
                     <div class="input-group"
                          {if $control->isGrossMarginCheckerEnabled()}
                             title="marže: {$control->getGrossMarginTooltipValue()}"
                             data-toggle="tooltip"
                          {/if}
                     >
                        <span
                                class="input-group-addon text-red text-bold"
                                n:if="$control->isGrossMarginCheckerEnabled()"
                                title="U porduktu je hlídaná marže"
                        >
                           M
                        </span>
                        {input value}
                     </div>
                     <span class="help-block" n:foreach="$form['value']->getErrors() AS $error">{$error}</span>
                  </div>
               {/form}
            </td>
            <td style="width: 20%;" n:snippet="quantity">
               {form quantity}
                  <div class="form-group {if $form['value']->hasErrors()}has-error{/if}">
                     <div class="pull-left" style="width: 80%">
                        {input value}
                     </div>
                     <div class="pull-right" style="width: 20%; padding-left: 10px;">
                        <strong>
                           {App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($product->getMeasurementUnit())}
                        </strong>
                     </div>

                     <div class="clearfix"></div>

                     <span class="help-block" n:foreach="$form['value']->getErrors() AS $error">{$error}</span>
                  </div>
               {/form}
            </td>
            <td>
               <a n:href="remove!" class="ajax spinner btn btn-danger btn-sm">
                  <i class="fas fa-times" aria-hidden="true"></i>
               </a>
            </td>
         </tr>

         <tr class="infoRow" n:snippet="overview">
            <td>
               {$control->calculateNewPurchaseUnitPrice()}
            </td>
            <td>
               <span title="Stará pořizovací cena" data-toggle="tooltip" n:if="$control->getOldPurchaseUnitPrice()">
                  {$control->getOldPurchaseUnitPrice()|number} Kč /
                  {App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($product->getMeasurementUnit())}
               </span>
            </td>
            <td>
               <span title="Aktuální prodejní cena" data-toggle="tooltip">
                  {$product->getPrice()|number:2} Kč
               </span>
            </td>
            <td>
               <span title="Aktuální skladový stav" data-toggle="tooltip">
                  {$product->getQuantityInStock()|number:2}
                  {App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($product->getMeasurementUnit())}
               </span>
            </td>
            <td></td>
         </tr>
      </table>
   </td>
</tr>

