{define productRow, $product, $type}
   <td n:if="$type == 'suggested'"></td>
   <td style="background-color: {$product->getColor()|noescape};" n:if="$type != 'suggested'"></td>
   <td>
      <i class="fas fa-star text-red" n:if="$type == 'suggested'"></i>
      <i class="fas fa-cart-plus" n:if="$type != 'suggested'"></i>
   </td>
   <td>{$product->getName()}</td>
   <td class="text-left">
      {if $control->isSellerTaxablePerson()}
         <span class="label label-primary">{$product->getPriceWithVat()|number: 2}</span>
      {else}
         <span class="label label-primary">{$product->getPrice()|number: 2}</span>
      {/if}
      Kč
      {*
      <small>
         {if $product->getAmountInSellUnit() > 1}
            Kč/{$product->getAmountInSellUnit()} {\App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($product->getMeasurementUnit())}
         {else}
            Kč/{\App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($product->getMeasurementUnit())}
         {/if}
      </small>*}
   </td>
   <td title="Cena za jednotku" class="text-left">
      {if $control->isSellerTaxablePerson()}
         <span class="label label-info">{$product->getUnitPriceWithVat($product)|number: 2}</span>
      {else}
         <span class="label label-info">{$product->getUnitPrice()|number: 2}</span>
      {/if}
      Kč/<small>{\App\Model\Helpers\MeasurementUnitHelper::getMeasurementUnitText($product->getMeasurementUnit())}</small>
   </td>
   <td n:if="$control->isSellerTaxablePerson()" class="text-right">
      {if $product->getTaxRate()}
         {$product->getTaxRate()->getvalue()} %
      {else}
         -
      {/if}
   </td>
   <td class="text-right" n:if="$control->isWarehouseEnabled()">
      {$product->getQuantityInStock()} {\App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($product->getMeasurementUnit())}
   </td>
   <td>
      <a n:href="selectProduct!, $product->getId()" n:if="$type != 'suggested'"
              class="ajax spinnerSelectGoods btn {if $control->isProductOnReceipt($product)}btn-primary{else}btn-success{/if} btn-sm">
         vybrat
      </a>
      <a n:href="selectProduct!, $product->getId()" n:if="$type == 'suggested'"
              class="ajax spinnerSelectGoods btn btn-warning btn-sm">
         vybrat
      </a>
   </td>
{/define}

{snippet all}

{snippetArea box}
      <div class="box box-default" id="productSelectTableView">
         <div class="box-header with-border">
            <div class="pull-left" n:inner-snippet="location">
               {control categoryLocationScheme}
            </div>

            <div class="pull-right" n:inner-snippet="form">
               {form form}
                  <div class="form-group {if $control->searchedTerm}has-warning{/if}">
                     <div class="input-group" style="width: 350px;">
                        <div class="input-group-btn" n:if="$control->searchedTerm">
                           <a n:href="resetSearching!" class="btn btn-warning ajax spinnerSelectGoods">
                              <i class="fa fa-cancel"></i> zrušit
                           </a>
                        </div>

                        {input searchedTerm}

                        <div class="input-group-btn">
                           <button n:name="search" class="btn {if $control->searchedTerm}btn-warning{else}btn-default{/if}">
                              <i class="fa fa-search"></i>
                           </button>
                        </div>
                     </div>
                  </div>
               {/form}
            </div>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <table class="table table-hover table-striped" n:snippet="table">
               <thead>
                  <tr>
                     <th style="width: 20px"></th>
                     <th style="width: 20px"></th>
                     <th style="width: 50%">Název</th>
                     <th style="width: 15%">Cena{if $control->isSellerTaxablePerson()} vč. DPH{/if}</th>
                     <th style="width: 15%">Jedn. cena</th>
                     <th style="width: 10%" n:if="$control->isSellerTaxablePerson()" class="text-center">Sazba DPH</th>
                     <th style="width: 10%" n:if="$control->isWarehouseEnabled()" class="text-center">Stav skladu</th>
                     <th></th>
                  </tr>
               </thead>

               <tbody n:inner-snippet="suggested" style="border-bottom: 2px solid #00a65a;">
                  {if !$control->searchedTerm}
                     <tr n:foreach="$control->getSuggestedProducts() AS $product" class="bg-warning">
                        {include productRow, $product, "suggested"}
                     </tr>
                  {/if}
               </tbody>

               <tbody n:snippetArea="content">
                  <tr n:if="$control->searchedTerm">
                     <td colspan="{$control->getColspanValue()}" class="text-center danger">
                        výsledky jsou filtrovány pro výraz <strong>{$control->searchedTerm}</strong>
                     </td>
                  </tr>
                  <tr n:if="$control->getActualCategory()">
                     <td colspan="{$control->getColspanValue()}" class="text-center">
                        <a n:href="up!" class="btn btn-default center-block ajax ajax-history spinnerSelectGoods">
                           <span class="glyphicon glyphicon-arrow-up" style="padding-right: 60px;"></span>
                           o úroveň výše
                           <span class="glyphicon glyphicon-arrow-up" style="padding-left: 60px;"></span>
                        </a>
                     </td>
                  </tr>
                  {if !$control->searchedTerm}
                     <tr n:foreach="$control->getCategories() AS $category" n:snippet="'category_' . $category->getId()">
                        <td style="background-color: {$category->getColor()|noescape};"></td>
                        <td>
                           <i class="fa fa-folder" aria-hidden="true"></i>
                        </td>
                        <td colspan="{$control->getColspanValue() - 1}">
                           <a n:href="changeCategory!, $category->getId()" class="ajax ajax-history spinnerSelectGoods center-block">
                              {$category->getName()}
                           </a>
                        </td>
                     </tr>

                     {ifset $redrawProduct}
                        <tr n:snippet="'product_' . $redrawProduct->getId()">
                           {include productRow, $redrawProduct}
                        </tr>
                     {else}
                        <tr n:foreach="$control->getProducts() AS $product" n:snippet="'product_' . $product->getId()">
                           {include productRow, $product}
                        </tr>
                     {/ifset}
                  {else}
                     {foreach $control->searchProductsAndCategories() AS $item}
                        <tr n:if="$item['category'] != $control->getActualCategory()">
                           <td style="background-color: {$item['category']->getColor()|noescape};"></td>
                           <td>
                              <i class="fa fa-folder-open" aria-hidden="true"></i>
                           </td>

                           <td colspan="{$control->getColspanValue()}">
                              <a n:href="changeCategory!, $item['category']->getId()" class="ajax ajax-history spinnerSelectGoods center-block">
                                 {$item['location']|implode:' / '}
                              </a>
                           </td>
                        </tr>

                        {ifset $item['products']}
                           <tr n:foreach="$item['products'] AS $product" n:snippet="'product_' . $product->getId()" class="a">
                              {include productRow, $product}
                           </tr>
                        {/ifset}
                     {/foreach}
                  {/if}
               </tbody>
            </table>
         </div>
         <!-- /.box-body -->
      </div>

   {snippet url}
      <script type="text/javascript">
          var url = {link barcodeScanned!, code=>''};
      </script>
   {/snippet}
{/snippetArea}


<script type="text/javascript">
    $.nette.ext('spinnerSelectGoods', {
        start: function(jqXHR, settings) {
            if(!settings.nette || !settings.nette.el.is(".spinnerSelectGoods")) {
                return;
            }

            //show spinner
            $("#productSelectTableView").append($('<div class="overlay">' +
                '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
                '                          </div>'));
        },
        success: function(payload, status, jqXHR, settings){
            if(settings.nette && !settings.nette.el.is(".spinnerSelectGoods")) {
                return;
            }

            //remove spinner
            $("#productSelectTableView").find(".overlay").fadeOut();
        }
    });
</script>

{/snippet}