<div class="box box-warning">
   <div class="box-header with-border">
      <h3 class="box-title pull-left">Zaparkované účty</h3>
   </div>
   <!-- /.box-header -->
   <div class="box-body no-padding">
      <table class="table" id="receiptTable">
         <thead>
            <tr>
               <th width="30%">Název</th>
               <th width="20%">Vytvořil</th>
               <th width="20%">Uzamčený</th>
               <th width="30%"></th>
            </tr>
         </thead>
         <tbody n:snippet="items">

         {foreach $control->getReceipts() AS $receipt}
            <tr>
               <td>{$receipt->getName()?:"Nepojmenovaný účet"}</td>
               <td>{$control->getUser($receipt->getCreatedByUserId())->getName()}</td>
               <td>
                  {if $receipt->getBlockedByCashierId()}
                     {$control->getUser($receipt->getBlockedByCashierId())->getName()}
                  {/if}
               </td>
               <td>
                  <a n:href="openReceipt!, $receipt->getId()" class="btn btn-success {if !$control->canReceiptBeOpened($receipt)}disabled{/if}">
                     Otevřít
                  </a>
                  <a n:href="showReceipt!, $receipt->getId()" class="btn btn-primary btn-xs ajax">
                     Zobrazit
                  </a>
                  <a n:href="deleteReceipt!, $receipt->getId()" class="btn btn-danger btn-xs ajax {if !$control->canReceiptBeDeleted($receipt)}disabled{/if}">
                     Smazat
                  </a>
               </td>
            </tr>
         {/foreach}
         </tbody>
      </table>
   </div>
   <!-- /.box-body -->
</div>