{snippet}
   {form form}
      <span class="form-group {if $form['value']->hasErrors()}has-error{/if}">
         {input value}
         <span class="help-block" n:foreach="$control['form']['value']->getErrors() AS $error">{$error}</span>
      </span>
   {/form}
{/snippet}