<ol class="breadcrumb no-margin" n:inner-snippet="scheme">
   <li>
      {if $control->hasItemLink()}
         <a href="{$control->renderItemLink(null)}" class="{$control->getItemLinkClass()}">
            <i class="fa fa-home" aria-hidden="true"></i>
         </a>
      {else}
         <i class="fa fa-home" aria-hidden="true"></i>
      {/if}
   </li>

   <li n:foreach="$control->getItems() AS $item">
      {if $control->hasItemLink()}
         <a href="{$control->renderItemLink($item)}" class="{$control->getItemLinkClass()}">
            {$item->getName()}
         </a>
      {else}
         {$item->getName()}
      {/if}
   </li>
</ol>