{form form}
   {foreach $form->getOwnErrors() AS $error}
      <div class="alert alert-danger">
         {$error}
      </div>
   {/foreach}

   <div class="form-group has-feedback {if $form['email']->hasErrors()}has-error{/if}">
         {input email}
         <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
         <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
   </div>

   <div class="form-group has-feedback {if $form['captcha']->hasErrors()}has-error{/if}">
         {input captcha}
         <span class="help-block" n:foreach="$form['captcha']->getErrors() AS $error">{$error}</span>
   </div>
   <div class="row">
      <!-- /.col -->
      <div class="col-xs-5">
         {input reset}
      </div>
      <!-- /.col -->
   </div>
{/form}