<div class="box box-default" id="{$control->getName()}">
   <!-- /.box-header -->
   <div class="box-body">
      {form form, class=>form-horizontal}
         <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label name /}
            </div>
            <div class="col-sm-6">
               {input name}
               <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="form-group {if $form['address']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label address /}
            </div>
            <div class="col-sm-6">
               {input address}
               <span class="help-block" n:foreach="$form['address']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="form-group {if $form['vatNo']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label vatNo /}
            </div>
            <div class="col-sm-6">
               <div class="input-group">
                  {input vatNo}
                  <span class="input-group-btn">
                        <a href="#" class="btn btn-primary" id="load{$control->getName()}">načíst data z ARES</a>
                     </span>
               </div>

               <script type="text/javascript">
                   $("#load" + {$control->getName()}).click(function (e){
                       e.preventDefault();
                       $.nette.ajax({
                           url: {link loadCompanyData!},
                           data: {
                              {$control->getParameterId('vatNo')}: $("#" + {$form['vatNo']->getHtmlId()}).val()
                           },
                          start: function(){
                              //show spinner
                              $("#" + {$control->getName()}).append($('<div class="overlay">' +
                                  '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
                                  '                          </div>'));
                          },
                          success: function(payload){
                              if(payload.ares) {
                                  var ares = payload.ares;

                                  $("#" + {$form['name']->getHtmlId()}).val(ares.company);
                                  $("#" + {$form['address']->getHtmlId()}).val(ares.street + ' ' + ares.streetNumber + ', ' + ares.zip + ' ' + ares.city);
                                  $("#" + {$form['vatId']->getHtmlId()}).val(ares.vatId);
                              }

                              //remove spinner
                              $("#" + {$control->getName()}).find(".overlay").fadeOut();
                          }
                   })
                   });
               </script>

               <span class="help-block" n:foreach="$form['vatId']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="form-group {if $form['vatId']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label vatId /}
            </div>
            <div class="col-sm-6">
               {input vatId}
               <span class="help-block" n:foreach="$form['vatId']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="form-group {if $form['phone']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label phone /}
            </div>
            <div class="col-sm-6">
               {input phone}
               <span class="help-block" n:foreach="$form['phone']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="form-group {if $form['email']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label email /}
            </div>
            <div class="col-sm-6">
               {input email}
               <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="form-group {if $form['visible']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {$form['visible']->getLabelPart()}
            </div>
            <div class="col-sm-6">
               {$form['visible']->getControlPart()}
               <span class="help-block" n:foreach="$form['visible']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="form-group {if $form['note']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label note /}
            </div>
            <div class="col-sm-6">
               {input note}
               <span class="help-block" n:foreach="$form['note']->getErrors() AS $error">{$error}</span>
            </div>
         </div>


         <input n:name="submit" class="btn btn-primary" />
      {/form}
   </div>
   <!-- /.box-body -->
</div>