<div class="modal fade" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog" id="editCustomerDataModal">
      <div class="modal-content" n:if="$show" n:inner-snippet="content">
         {form form}
            <div class="modal-body overlay-wrapper">
               {control flashMessage}
                  <div class="row">
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
                           {label name}
                           {input name}
                           <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group {if $form['street']->hasErrors()}has-error{/if}">
                           {label street}
                           {input street}
                           <span class="help-block" n:foreach="$form['street']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group {if $form['city']->hasErrors()}has-error{/if}">
                           {label city}
                           {input city}
                           <span class="help-block" n:foreach="$form['city']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group {if $form['zip']->hasErrors()}has-error{/if}">
                           {label zip}
                           {input zip}
                           <span class="help-block" n:foreach="$form['zip']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group {if $form['vatNo']->hasErrors()}has-error{/if}">
                           {label vatNo /}
                           <div class="input-group">
                              {input vatNo}
                              <span class="input-group-btn">
                                 <a href="javascript:;" class="btn btn-primary" id="loadCompanyData">načíst data z ARES</a>
                              </span>
                           </div>

                           <script type="text/javascript">
                               $("#loadCompanyData").click(function (e){
                                   e.preventDefault();
                                   $.nette.ajax({
                                       url: {link loadCompanyData!},
                                       off: ['ajaxSpinnerEditCustomerBox'],
                                       data: {
                                          {$control->getParameterId('vatNo')}: $("#" + {$form['vatNo']->getHtmlId()}).val()
                                      },
                                      start: function(){
                                          //show spinner
                                          $("#editCustomerDataModal .modal-body").append($('<div class="overlay">' +
                                              '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
                                              '                          </div>'));
                                      },
                                      complete: function() {
                                          $("#editCustomerDataModal").find(".overlay").fadeOut();
                                      },
                                      success: function(payload){
                                          if(payload.ares) {
                                              var ares = payload.ares;

                                              $("#" + {$form['name']->getHtmlId()}).val(ares.company);
                                              $("#" + {$form['street']->getHtmlId()}).val(ares.street + ' ' + ares.streetNumber);
                                              $("#" + {$form['city']->getHtmlId()}).val(ares.city);
                                              $("#" + {$form['zip']->getHtmlId()}).val(ares.zip);
                                              $("#" + {$form['vatId']->getHtmlId()}).val(ares.vatId);
                                          }
                                      }
                                   });
                               });

                               $("#" + {$form['vatNo']->getHtmlId()}).keyup(function(e){
                                   if(e.keyCode === 13)
                                   {
                                       $("#loadCompanyData").click();
                                       e.stopPropagation();
                                   }
                               });
                           </script>

                           <span class="help-block" n:foreach="$form['vatNo']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group {if $form['vatId']->hasErrors()}has-error{/if}">
                           {label vatId}
                           {input vatId}
                           <span class="help-block" n:foreach="$form['vatId']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group {if $form['phone']->hasErrors()}has-error{/if}">
                           {label phone}
                           {input phone}
                           <span class="help-block" n:foreach="$form['phone']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <div class="form-group {if $form['email']->hasErrors()}has-error{/if}">
                           {label email}
                           {input email}
                           <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                  </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zavřít</button>
               {input save, class=>'btn btn-primary'}
            </div>
         {/form}
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


