{form form}
<div class="row">
   <div class="col-md-6">
      <div class="box box-primary">
         <div class="box-header with-border">
            <i class="fa fa-question"></i>

            <h3 class="box-title">Obecné</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
               {label name /}
               {input name}
               <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
            </div>

            <div class="form-group">
               <label class="control-label">Lokace</label> <br />
               {control categoryLocationScheme}
            </div>

            <div class="clearfix"></div>

            <div class="form-group {if $form['ean']->hasErrors()}has-error{/if}">
               {label ean /}
               <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-barcode" aria-hidden="true"></i></span>
                  {input ean}
                  <span class="input-group-btn">
                     <a class="btn btn-primary" id="eanManual" href="javascript:">
                       zadat manuálně
                     </a>
                  </span>
               </div>
               <span class="help-block" n:foreach="$form['ean']->getErrors() AS $error">{$error}</span>
            </div>

            <div class="form-group {if $form['plu']->hasErrors()}has-error{/if}">
               {label plu /}
               <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                  {input plu}
               </div>
               <span class="help-block" n:foreach="$form['plu']->getErrors() AS $error">{$error}</span>
            </div>

            <div class="form-group {if $form['color']->hasErrors()}has-error{/if}">
               {label color /}
               {input color}
               <span class="help-block" n:foreach="$form['color']->getErrors() AS $error">{$error}</span>
            </div>

            <div class="form-group {if $form['note']->hasErrors()}has-error{/if}">
               {label note /}
               {input note}
               <span class="help-block" n:foreach="$form['note']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <!-- /.box-body -->
      </div>
   </div>

   <div class="col-md-6">
      <div class="box box-danger">
         <div class="box-header with-border">
            <i class="fa fa-money"></i>

            <h3 class="box-title">Ceny</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <div class="row" n:if="$control->isSellerTaxablePerson()">
               <div class="col-md-4">
                  <div class="form-group {if $form['taxRate']->hasErrors()}has-error{/if}">
                     {label taxRate /}
                     {input taxRate}
                     <span class="help-block" n:foreach="$form['taxRate']->getErrors() AS $error">{$error}</span>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group {if $form['priceWithoutTax']->hasErrors()}has-error{/if}">
                     {label priceWithoutTax /}
                     <div class="input-group">
                        {input priceWithoutTax}
                        <span class="input-group-addon">Kč</span>
                     </div>
                     <span class="help-block" n:foreach="$form['priceWithoutTax']->getErrors() AS $error">{$error}</span>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group {if $form['priceWithVat']->hasErrors()}has-error{/if}">
                     {label priceWithVat /}
                     <div class="input-group">
                        {input priceWithVat}
                        <span class="input-group-addon">Kč</span>
                     </div>
                     <span class="help-block" n:foreach="$form['priceWithVat']->getErrors() AS $error">{$error}</span>
                  </div>
               </div>
            </div>

            <div class="row" n:if="!$control->isSellerTaxablePerson()">
               <div class="col-md-7">
                  <div class="form-group {if $form['priceWithoutTax']->hasErrors()}has-error{/if}">
                     {label priceWithoutTax /}
                     <div class="input-group">
                        {input priceWithoutTax}
                        <span class="input-group-addon">Kč</span>
                     </div>
                     <span class="help-block" n:foreach="$form['priceWithoutTax']->getErrors() AS $error">{$error}</span>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-6">
                  <div class="form-group {if $form['grossMargin']->hasErrors()}has-error{/if}">
                     {label grossMargin /}
                     {input grossMargin}
                     <span class="help-block" n:foreach="$form['grossMargin']->getErrors() AS $error">{$error}</span>
                     <span class="help-block">
                        Uveďte v Kč, či v procentech (nutné doplnit znak %)
                     </span>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group {if $form['quantityInStock']->hasErrors()}has-error{/if}">
                     {label quantityInStock /}
                     {input quantityInStock}
                     <span class="help-block" n:foreach="$form['quantityInStock']->getErrors() AS $error">{$error}</span>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <div class="box box-default">
         <div class="box-header with-border">
            <i class="fa fa-balance-scale"></i>

            <h3 class="box-title">Měrná jednotka</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <div class="form-group {if $form['measureUnit']->hasErrors()}has-error{/if}">
               {label measureUnit /}
               {input measureUnit}
               <span class="help-block" n:foreach="$form['measureUnit']->getErrors() AS $error">{$error}</span>
            </div>
            <div class="form-group {if $form['amountInSellUnit']->hasErrors()}has-error{/if}">
               {label amountInSellUnit /}
               {input amountInSellUnit}
               <span class="help-block" n:foreach="$form['amountInSellUnit']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <input n:name="submit" class="btn btn-primary" />
   </div>

   <script type="text/javascript" n:if="$control->isSellerTaxablePerson()">
      var taxRate = $("#" + {$form['taxRate']->getHtmlId()});
      var priceWithoutTax = $("#" + {$form['priceWithoutTax']->getHtmlId()});
      var priceWithVat = $("#" + {$form['priceWithVat']->getHtmlId()});

      $(taxRate).change(function(){
          changePrice("taxRate");
      });
      $(priceWithoutTax).focusout(function(){
          changePrice("priceWithoutTax");
      });
      $(priceWithVat).focusout(function(){
          changePrice("priceWithVat");
      });

      var active = true;
      function changePrice(whatWasChanged) {
          if(!active) {
              return;
          }

          $.nette.ajax({
              url: {link priceChanged!},
              data: {
               {$control->getParameterId('taxRateId')}: taxRate.val(),
               {$control->getParameterId('priceWithoutTax')}: priceWithoutTax.val(),
               {$control->getParameterId('priceWithVat')}: priceWithVat.val(),
               {$control->getParameterId('changed')}: whatWasChanged
              },
              before: function() {
                  active = false;
              },
              success: function(payload) {
                  var prices = payload.prices;

                  priceWithoutTax.val(prices.priceWithoutTax);
                  priceWithVat.val(prices.priceWithVat);

                  active = true;
              }
      })
      }

      $(document).barcodeScannerListener().on("barcode.valid", function(e, code) {
          $("#" + {$form['ean']->getHtmlId()}).val(code);

          $.notify({
              message: "Načten EAN: " + code,
              icon: "icon fa fa-info"
          });
      });

      $("#" + {$form['ean']->getHtmlId()}).attr("readonly", "readonly").attr("placeholder", "použijte čtečku čárových kódů");
      $("#eanManual").click(function (){
          $("#" + {$form['ean']->getHtmlId()}).removeAttr("readonly").removeAttr("placeholder");
      });
   </script>
</div>
{/form}