{block content}

<div class="row">
   <div class="col-lg-9 col-md-12">
      <div class="box box-default">
         <div class="box-header with-border">
            <i class="fa fa-info"></i>

            <h3 class="box-title">Obecné informace</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <div class="row">
               <div class="col-lg-5 col-md-6">
                  <dl class="dl-horizontal">
                     <dt>Vytvořeno:</dt>
                     <dd>{$stockMovement->getCreated()|date:'j. n. Y | H:i'}</dd>

                     <dt>Vytvořeno uživatelem:</dt>
                     <dd>{$stockMovement->getExecutedBy()->getName()}</dd>

                     <dt>Operace:</dt>
                     <dd>{\App\Model\Helpers\StockMovementHelper::getStockMovementTypeLabel($stockMovement)}</dd>

                     <dt>Počet položek:</dt>
                     <dd>{$itemsCount}</dd>

                     <dt>Cena celkem (vč. DPH):</dt>
                     <dd>{$itemsPurchasePriceSum} Kč</dd>
                  </dl>
               </div>
               <div class="col-lg-7 col-md-6">
                  <dl class="dl-horizontal">
                     {if $stockMovement->getType()->equalsValue(App\Model\Enums\StockMovementType::BUY)}
                        <dt>Dodavatel:</dt>
                        <dd n:if="$stockMovement->getSupplier()">
                           <a n:href="Supplier:edit, $stockMovement->getSupplier()->getId()">
                              {$stockMovement->getSupplier()->getName()}
                           </a>
                        </dd>
                        <dd n:if="!$stockMovement->getSupplier()">-</dd>

                        <dt>Číslo dokladu:</dt>
                        <dd n:if="$stockMovement->getInvoiceNumber()">{$stockMovement->getInvoiceNumber()}</dd>
                        <dd n:if="!$stockMovement->getInvoiceNumber()">-</dd>
                     {elseif $stockMovement->getType()->equalsValue(App\Model\Enums\StockMovementType::SALE)}
                        <dt>Doklad:</dt>
                        <dd>
                           <a n:href="Receipts:detail, $stockMovement->getReceipt()->getId()">
                              {$stockMovement->getReceipt()->getNiceId()}
                           </a>
                        </dd>
                     {/if}

                     <dt>Poznámka:</dt>
                     <dd n:if="$stockMovement->getNote()">{$stockMovement->getNote()}</dd>
                     <dd n:if="!$stockMovement->getNote()">-</dd>
                  </dl>
               </div>
            </div>
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->
   </div>


   <div class="col-md-12">
      <div class="box">
         <div class="box-body no-padding">
            {control gridMovementItems}
         </div>
      </div>
   </div>
</div>