{control flashMessage}

{form form}
   <div class="form-group {if $form['warehouse']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {$form['warehouse']->getLabelPart()}
      </div>
      <div class="col-sm-7">
         {$form['warehouse']->getControlPart()}
         <span class="help-block" n:foreach="$form['warehouse']->getErrors() AS $error">{$error}</span>
      </div>
   </div>


   <input n:name="submit" class="btn btn-primary" />
{/form}


<script type="text/javascript">
   $("#uploadNewCertificate").click(function (e) {
       $(this).parent().remove();
       $("#certificate").removeClass("hidden");
       $("#privateKey").removeClass("hidden");

       e.preventDefault();
   });
</script>