<div class="box box-default" id="{$control->getName()}">
   <!-- /.box-header -->
   <div class="box-body">
      {form form, class=>form-horizontal}
         <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label name /}
            </div>
            <div class="col-sm-6">
               {input name}
               <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="form-group {if $form['type']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label type /}
            </div>
            <div class="col-sm-6">
               {input type}
               <span class="help-block" n:foreach="$form['type']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="form-group {if $form['value']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label value /}
            </div>
            <div class="col-sm-6">
               <div class="input-group">
                  {input value}
                  <span class="input-group-addon">
                     <i class="fa fa-percent" aria-hidden="true"></i>
                  </span>
               </div>
               <span class="help-block" n:foreach="$form['value']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="form-group {if $form['color']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label color /}
            </div>
            <div class="col-sm-6">
               {input color}
               <span class="help-block" n:foreach="$form['color']->getErrors() AS $error">{$error}</span>
            </div>
         </div>


         <input n:name="submit" class="btn btn-primary" />
      {/form}
   </div>
   <!-- /.box-body -->
</div>

