{block body}
<body class="hold-transition login-page">
<div class="login-box">
   <div class="login-logo">
      <span style="text-transform: uppercase; font-weight: 600;">EET pokladna</span>
   </div>

   {control flashMessage}

   <!-- /.login-logo -->
   <div class="login-box-body">
      <p class="login-box-msg">Prosím, přihlašte se</p>

      {control signInForm}

      {*<a n:href="passwordRecovery">{_sign.signInPage.lostPassword}</a>*}
   </div>
   <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</body>