{block content}
{form form}
<div class="nav-tabs-custom">
   <ul class="nav nav-tabs">
      <li n:class="$activeTab == 1 ? active"><a href="#tab_1" data-toggle="tab">Úvodní stránka</a></li>
      <li n:class="$activeTab == 2 ? active"><a href="#tab_2" data-toggle="tab">Kontakt</a></li>
   </ul>
   <div class="tab-content">
      <div class="tab-pane {if $activeTab == 1}active{/if}" id="tab_1">
         <div class="form-group">
            {input welcomePageContent}
         </div>
         {input save_1, class=>"btn btn-primary"}
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane {if $activeTab == 2}active{/if}" id="tab_2">
         <div class="form-group">
            {input contactPageContent}
         </div>
         {input save_2, class=>"btn btn-primary"}
      </div>
      <!-- /.tab-pane -->
   </div>
   <!-- /.tab-content -->
</div>
{/form}