<div class="modal fade" tabindex="-1" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog">
      <div class="modal-content" n:if="$show">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4>Dostupné pokladny</h4>
         </div>
         <div class="modal-body">
            <ul class="nav nav-pills nav-stacked">
               {foreach $control->getItems() AS $item}
                  <li n:class="$control->isCashActive($item) ? active">
                     <a n:href="change!, $item->getId()">{$item->getName()}</a>
                  </li>
               {/foreach}
            </ul>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

