<div class="row">
   <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
         <div class="inner">
            <h3>{$control->getNewTicketsCount()}</h3>

            <p>nových tiketů</p>
         </div>
         <div class="icon">
            <i class="fas fa-plus" aria-hidden="true"></i>
         </div>
      </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
         <div class="inner">
            <h3>{$control->getOpenedTicketsCount()}</h3>

            <p>otevřených tiketů</p>
         </div>
         <div class="icon">
            <i class="fas fa-ticket-alt" aria-hidden="true"></i>
         </div>
      </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
         <div class="inner">
            <h3>{$control->getNewMessageTicketsCount()}</h3>

            <p>nových odpovědí</p>
         </div>
         <div class="icon">
            <i class="fas fa-reply" aria-hidden="true"></i>
         </div>
      </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
         <div class="inner">
            <h3>{$control->getClosedTicketsCount()}</h3>

            <p>uzavřených tiketů</p>
         </div>
         <div class="icon">
            <i class="fas fa-times" aria-hidden="true"></i>
         </div>
      </div>
   </div>
   <!-- ./col -->
</div>

{control ticketsPerDay}