<div class="form-group {if $control->hasErrors()}has-error{/if}">
   {label $control/}
   {input $control}
   <span class="text-warning">Povolené typy: {App\Model\Storage\TicketAttachmentStorage::$allowedFiles|implode:', '}</span>
   <span class="help-block" n:foreach="$control->getErrors() AS $error">{$error}</span>
</div>