{form form}
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title">Obecné informace</h3>
      </div>
      <div class="panel-body">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
                  {label name /}
                  {input name}
                  <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group {if $form['phone']->hasErrors()}has-error{/if}">
                  {label phone /}
                  {input phone}
                  <span class="help-block" n:foreach="$form['phone']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group {if $form['email']->hasErrors()}has-error{/if}">
                  {label email /}
                  {input email}
                  <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title">Přihlašovací údaje</h3>
      </div>
      <div class="panel-body">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group {if $form['username']->hasErrors()}has-error{/if}">
                  {label username /}
                  {input username}
                  <span class="help-block" n:foreach="$form['username']->getErrors() AS $error">{$error}</span>
                  <span class="help-block" n:if="!$form['username']->getErrors()">
                  <strong>Tip: </strong> lze rovněž použít emailovou adresu
               </span>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group {if $form['password']->hasErrors()}has-error{/if}">
                  {label password /}
                  {input password}
                  <span class="help-block" n:if="!$form['password']->getErrors()">
                  vyplňte jen v případě změny
               </span>
               </div>
               <div class="form-group {if $form['passwordRepeat']->hasErrors()}has-error{/if}">
                  {label passwordRepeat /}
                  {input passwordRepeat}
                  <span class="help-block" n:foreach="$form['passwordRepeat']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title">Kontaktní údaje <span class="label label-danger">nepovinné</span></h3>
      </div>
      <div class="panel-body" id="boxContactDetails">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group {if $form['street']->hasErrors()}has-error{/if}">
                  {label street /}
                  {input street}
                  <span class="help-block" n:foreach="$form['street']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['city']->hasErrors()}has-error{/if}">
                  {label city /}
                  {input city}
                  <span class="help-block" n:foreach="$form['city']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['zip']->hasErrors()}has-error{/if}">
                  {label zip /}
                  {input zip}
                  <span class="help-block" n:foreach="$form['zip']->getErrors() AS $error">{$error}</span>
               </div>
            </div>

            <div class="col-md-6">
               <div class="form-group {if $form['vatNo']->hasErrors()}has-error{/if}">
                  {label vatNo /}
                  <div class="input-group">
                     {input vatNo}
                     <span class="input-group-btn">
                        <a href="#" class="btn btn-primary" id="loadCompanyData">načíst data z ARES</a>
                     </span>
                  </div>

                  <script type="text/javascript">
                      $("#loadCompanyData").click(function (e){
                          e.preventDefault();
                          $.nette.ajax({
                              url: {link loadCompanyData!},
                              data: {
                                 {$control->getParameterId('vatNo')}: $("#" + {$form['vatNo']->getHtmlId()}).val()
                          },
                          start: function(){
                              //show spinner
                              $("#boxContactDetails").loading({
                                  message: 'načítám data'
                              });
                          },
                          success: function(payload){
                              if(payload.ares) {
                                  var ares = payload.ares;

                                  $("#" + {$form['company']->getHtmlId()}).val(ares.company);
                                  $("#" + {$form['street']->getHtmlId()}).val(ares.street + ' ' + ares.streetNumber);
                                  $("#" + {$form['city']->getHtmlId()}).val(ares.city);
                                  $("#" + {$form['zip']->getHtmlId()}).val(ares.zip);
                                  $("#" + {$form['vatId']->getHtmlId()}).val(ares.vatId);
                              }

                              //remove spinner
                              $("#boxContactDetails").loading('stop');
                          }
                      })
                      });
                  </script>

                  <span class="help-block" n:foreach="$form['vatNo']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['vatId']->hasErrors()}has-error{/if}">
                  {label vatId /}
                  {input vatId}
                  <span class="help-block" n:foreach="$form['vatId']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['company']->hasErrors()}has-error{/if}">
                  {label company /}
                  {input company}
                  <span class="help-block" n:foreach="$form['company']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
         </div>
      </div>
   </div>


   <input n:name="submit" class="btn btn-primary" />
{/form}