<div class="input-group date">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>
   {input $container['value']}
</div>

<script type="text/javascript">
    $('#' + {$container['value']->getHtmlId()}).datepicker({
        autoclose: true,
        language: 'cs',
        format: {$filter->getDateFormatJS()}
    });
</script>