<div class="input-group pull-right">
   <button type="button" class="btn btn-default pull-right" id="{$container['start']->getHtmlId()}_button">
     <span>
       <i class="fa fa-calendar"></i> vybrat rozsah
     </span>
     <i class="fa fa-caret-down"></i>
   </button>

   <input n:name="$container['start']">
   <input n:name="$container['end']">
</div>

<script type="text/javascript">
    $('#' + {$container['start']->getHtmlId()} + '_button').daterangepicker(
        {
          ranges: {
            'Dnes': [moment(), moment()],
            'Včera': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Posledních 7 dnů': [moment().subtract(6, 'days'), moment()],
            'Posledních 30 dnů': [moment().subtract(29, 'days'), moment()],
            'Tento měsíc': [moment().startOf('month'), moment().endOf('month')],
            'Minulý měsíc': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate: moment(),
          locale: {
             format: 'MM/DD/YYYY',
             separator: ' - ',
             applyLabel: 'Aplikovat',
             cancelLabel: 'Zrušit',
             weekLabel: 'W',
             customRangeLabel: 'Vlastní rozsah',
             daysOfWeek: moment.weekdaysMin(),
             monthNames: moment.monthsShort(),
             firstDay: moment.localeData().firstDayOfWeek()
          }
        },
        function (start, end) {
          $('#' + {$container['start']->getHtmlId()} + '_button').html(start.format('D. MMMM, YYYY') + ' - ' + end.format('D. MMMM, YYYY'));

          $('#' + {$container['start']->getHtmlId()}).val(start);
          $('#' + {$container['end']->getHtmlId()}).val(end);
        }
    );
</script>