<div class="box box-default" id="{$control->getName()}">
   <!-- /.box-header -->
   <div class="box-body">
      {form form, class=>form-horizontal}
         <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label name /}
            </div>
            <div class="col-sm-6">
               {input name}
               <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-2 {if $form['measurementUnit']->hasErrors()}has-error{/if}">
               {label measurementUnit /}
            </div>
            <div class="col-sm-6">
               <div class="form-group row">
                  <div class="col-sm-6 {if $form['measurementUnit']->hasErrors()}has-error{/if}">
                     {input measurementUnit}
                     <span class="help-block">ponechte prázdné, pokud se shoduje s prodejní jednotkou</span>
                     <span class="help-block" n:foreach="$form['measurementUnit']->getErrors() AS $error">{$error}</span>
                  </div>
                  <div class="row">
                     <div class="col-sm-6 {if $form['measurementUnitFormat']->hasErrors()}has-error{/if}">
                        <div class="col-sm-6">
                           {label measurementUnitFormat /}
                        </div>
                        <div class="col-sm-6">
                           {input measurementUnitFormat}
                           <span class="help-block" n:foreach="$form['measurementUnitFormat']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-2">
               {label saleUnit /}
            </div>
            <div class="col-sm-6">
               <div class="form-group row">
                  <div class="col-sm-6 {if $form['saleUnit']->hasErrors()}has-error{/if}">
                     {input saleUnit}
                     <span class="help-block">v čem budeme prodávat</span>
                     <span class="help-block" n:foreach="$form['saleUnit']->getErrors() AS $error">{$error}</span>
                  </div>
                  <div class="row">
                     <div class="col-sm-6 {if $form['saleUnitFormat']->hasErrors()}has-error{/if}">
                        <div class="col-sm-6">
                           {label saleUnitFormat /}
                        </div>
                        <div class="col-sm-6">
                           {input saleUnitFormat}
                           <span class="help-block" n:foreach="$form['saleUnitFormat']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="form-group {if $form['coefficient']->hasErrors()}has-error{/if}">
            <div class="col-sm-2">
               {label coefficient /}
            </div>
            <div class="col-sm-6">
               {input coefficient}
               <span class="help-block" n:foreach="$form['coefficient']->getErrors() AS $error">{$error}</span>

               <p id="example" class="text-center" style="font-size: 25px; margin-top: 10px;">
                  <strong>1</strong> <em id="saleUnitExample" class="text-danger"></em> = <strong id="coefficient"></strong> <em id="measurementUnitExample" class="text-danger"></em>
               </p>

               <script type="text/javascript">
                   $("#example").hide();
                   showExample();

                   $(  "#" + {$form['measurementUnit']->getHtmlId()} + ", " +
                       "#" + {$form['measurementUnitFormat']->getHtmlId()} + ", " +
                       "#" + {$form['saleUnit']->getHtmlId()} + ", " +
                       "#" + {$form['saleUnitFormat']->getHtmlId()} + ", " +
                       "#" + {$form['coefficient']->getHtmlId()}
                   ).change(function(){
                       showExample();
                   });

                   function showExample() {
                       var measurementUnit = $(  "#" + {$form['measurementUnit']->getHtmlId()}).val();
                       var measurementUnitFormat = parseInt($(  "#" + {$form['measurementUnitFormat']->getHtmlId()}).val());
                       var saleUnit = $(  "#" + {$form['saleUnit']->getHtmlId()}).val();
                       var saleUnitFormat = parseInt($(  "#" + {$form['saleUnitFormat']->getHtmlId()}).val());
                       var coefficient = parseFloat($(  "#" + {$form['coefficient']->getHtmlId()}).val());

                       if(measurementUnit.length && saleUnit.length && coefficient > 0) {
                           $("#example").show();
                       } else {
                           $("#example").hide();
                       }

                       if(measurementUnitFormat === {\App\Model\Enums\UnitFormat::SQUARE}) {
                           $("#measurementUnitExample").html(measurementUnit + '&sup2;');
                       }
                       else if(measurementUnitFormat === {\App\Model\Enums\UnitFormat::CUBIC}) {
                           $("#measurementUnitExample").html(measurementUnit + '&sup3;');
                       }
                       else {
                           $("#measurementUnitExample").html(measurementUnit);
                       }

                       $("#coefficient").text(coefficient);

                       if(saleUnitFormat === {\App\Model\Enums\UnitFormat::SQUARE}) {
                           $("#saleUnitExample").html(saleUnit + '&sup2;');
                       }
                       else if(saleUnitFormat === {\App\Model\Enums\UnitFormat::CUBIC}) {
                           $("#saleUnitExample").html(saleUnit + '&sup3;');
                       }
                       else {
                           $("#saleUnitExample").html(saleUnit);
                       }
                   }
               </script>
            </div>
         </div>

         <input n:name="submit" class="btn btn-primary" />
      {/form}
   </div>
   <!-- /.box-body -->
</div>


<div class="callout callout-info">
   <h4>Nápověda</h4>

   <p>Koeficient udává přírustek měrné jednotky na základě prodejní jednotky</p>
   <p>
      <strong>Příklad</strong>: měrná jednotka je <strong class="text-danger">m</strong> (metr) a prodejní jednotka
      je <strong class="text-danger">cm</strong> (centimetr) - koeficient tedy bude 0.01, jelikož
      1 <strong class="text-danger">m</strong> = 0.01 <strong class="text-danger">cm</strong>
   </p>
   <p>
      <strong>Příklad</strong>: měrná jednotka je <strong class="text-danger">kg</strong> (kilogram) a prodejní jednotka
      je <strong class="text-danger">ks</strong> (kus) - koeficient tedy bude nastaven na základě hmotnosti jednoho kusu
      (1 <strong class="text-danger">kus</strong> = 0.25 <strong class="text-danger">kg</strong> pro 250g kus)
   </p>
</div>