<div class="row">
   <div class="col-xs-12">
      <div class="box box-primary">
         <div class="box-header with-border">
            <h3 class="box-title">Položky</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <div class="row">
               <div class="col-xs-12 table-responsive">
                  <table class="table table-striped table-hovv">
                     <thead>
                        <tr class="bg-light-blue-gradient">
                           <th width="44%">Produkt</th>
                           <th width="8%">Počet [<abbr title="měrná jednotka" class="initialism">MJ</abbr>]</th>
                           <th width="6%"><abbr title="měrná jednotka" class="initialism">MJ</abbr></th>
                           <th width="8%">Cena [<abbr title="měrná jednotka" class="initialism">MJ</abbr>]</th>

                           {if $control->isSellerTaxablePerson()}
                              <th width="8%">bez DPH</th>
                              <th width="8%">DPH</th>
                              <th width="7%">DPH [%]</th>
                           {/if}

                           <th>Cena</th>
                        </tr>
                     </thead>
                     <tbody n:foreach="$receipt->getItems() AS $item">
                        <tr>
                           <td>{$item->getName()} {if $item->getNote()}<p class="italic">{$item->getNote()}</p>{/if}</td>
                           <td>{$item->getQuantity()|number:2}</td>
                           <td>{$item->getMeasurementUnit()}</td>

                           {if $control->isSellerTaxablePerson()}
                              <td>{$item->getUnitPriceWithoutTax()|number:2}</td>
                              <td>{$item->calculatePartialSum(false)|number:2}</td>
                              <td>{$item->calculatePartialTaxSum()|number:2}</td>
                              <td>{$item->getTaxRateValue()|number:2}</td>
                              <td class="text-bold">{$item->calculatePartialSum(true)|number:2}</td>
                           {else}
                              <td>{$item->getUnitPriceWithTax()|number:2}</td>
                              <td class="text-bold">{$item->calculatePartialSum(false)|number:2}</td>
                           {/if}
                        </tr>
                     </tbody>

                     <tfoot>
                        <tr class="bg-light-blue bold italic">
                           <td class="text-right">&sum;</td>
                           <td>{$receipt->calculateOverallQuantitySum()|number:2}</td>
                           <td></td>
                           <td>{$receipt->calculateOverallUnitPriceSum(false)|number:2}</td>

                           {if $seller->isTaxablePerson()}
                              <td>{$receipt->calculateOverallPriceSum(false)|number:2}</td>
                              <td>{$receipt->calculateOverallTaxSum(true)|number:2}</td>
                              <td></td>
                              <td>{$receipt->calculateOverallPriceSum(true)|number:2}</td>
                           {else}
                              <td width="6%" class="text-bold">{$receipt->calculateOverallPriceSum(false)|number:2}</td>
                           {/if}
                        </tr>
                     </tfoot>
                  </table>

                  <div class="pull-left text-left" n:if="$control->isSellerTaxablePerson()">
                     <p>Vyčíslení DPH v Kč:</p>
                     <table class="table table-striped">
                        <thead>
                           <tr class="bg-gray">
                              <th>Sazba</th>
                              <th>Hodnota</th>
                              <th>Zaokrouhlení</th>
                              <th>Základ daně</th>
                              <th>Výše daně</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr n:foreach="$receipt->getUsedTaxRateTypes() AS $type">
                              <td>{App\Model\Enums\TaxRateType::getName($type)}</td>
                              <td>{$receipt->getTaxRateValueByType($type)|number:2} %</td>
                              <td>
                                 {if $receipt->calculateTaxDifference($type)}
                                    {sprintf('%+1.2f', $receipt->calculateTaxDifference($type))}
                                 {else}
                                    0.00
                                 {/if}
                              </td>
                              <td>{$receipt->calculateBaseOfTaxAmountByTaxRateType($type)|number:2}</td>
                              <td>{$receipt->calculateTaxAmountByTaxRateType($type)|number:2}</td>
                           </tr>
                        </tbody>
                     </table>
                     <p>
                        Celkem DPH: <span class="label label-default">{$receipt->calculateTaxAmount()|number:2}</span> Kč
                     </p>
                  </div>

                  <div class="pull-right text-right">
                     <p class="lead">
                        Celkem k úhradě: <span class="label label-danger">{$receipt->calculateReceiptSum(true)|number:2}</span> Kč
                     </p>
                  </div>
               </div>
               <!-- /.col -->
            </div>
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->
   </div>
</div>