<div class="pull-right">
   <span class="btn-group">
      <a n:href="printReceipt!" class="btn btn-lg btn-success openNewWindow"><i class="fas fa-print"></i> Tisk</a>
      <a n:href="sendReceipt!" class="btn btn-lg btn-primary ajax"><i class="fas fa-envelope"></i> Poslat</a>
      <a n:href="showReceiptLink!" class="btn btn-lg btn-info ajax"><i class="fas fa-link"></i> Odkaz</a>
      <a n:href="downloadReceipt!" class="btn btn-lg btn-warning"><i class="fas fa-file-pdf "></i> Stáhnout</a>
   </span>

   <a n:href="createTicket!" class="btn btn-lg btn-danger" n:if="count($control->onCreateTicket)"><i class="fas fa-question"></i> Založit dotaz</a>
</div>

<div class="clearfix margin-bottom"></div>

<div class="row lg-flex">
   <div class="col-xs-12 col-lg-4 lg-flex">
      <div class="panel panel-primary width" style="width: 100%" n:snippet="box-general">
         <div class="panel-heading">
            Obecné
         </div>
         <!-- /.box-header -->
         <div class="panel-body">
            <dl class="dl-nice">
               <dt>Číslo dokladu:</dt>
               <dd>{$receipt->getNiceId()}</dd>

               <dt>Typ dokladu:</dt>
               <dd>{$typeOfDocument}</dd>

               <dt>Vytvořeno:</dt>
               <dd>
                  {$receipt->getCreationDate()|date:'j. n. Y H:i'}
                  <span id="niceTime" class="label label-default label-sm"></span>
                  <script type="text/javascript">
                      $time = moment({$receipt->getCreationDate()|date:'%d.%m.%Y %H:%M'}, 'D.M.Y H:m:s');
                      $("#niceTime").text($time.fromNow());
                  </script>
               </dd>

               <dt>Pokladní:</dt>
               <dd>{$receipt->getCashier()->getName()}</dd>
            </dl>
         </div>
         <!-- /.panel-body -->
      </div>
      <!-- /.box -->
   </div>

   <div class="col-xs-12 col-md-6 col-lg-4 lg-flex" n:if="$receipt->getEetData()">
      <div class="panel panel-primary" style="width: 100%" n:snippet="box-eet">
         {var $eetData = $receipt->getEetData()}

         <div class="panel-heading">
            EET
            <div class="box-tools">
               <a n:href="processEet" class="btn btn-warning btn-xs ajax spinner"
                       n:if="!$eetData->getState()->equalsValue(App\Model\Enums\ReceiptEETState::OK)"
                       data-spinner-target="body"
               >
                  opakovat pokus
               </a>
            </div>
         </div>
         <!-- /.box-header -->
         <div class="panel-body">
            <dl class="dl-nice">
               <dt>Stav:</dt>
               <dd>
                  {switch $eetData->getState()->getValue()}
                     {case App\Model\Enums\ReceiptEETState::WAITING}
                     <span class="label label-primary">
                           {App\Model\Enums\ReceiptEETState::getName($eetData->getState())}
                        </span>

                  {case App\Model\Enums\ReceiptEETState::OK}
                     <span class="label label-success">
                           {App\Model\Enums\ReceiptEETState::getName($eetData->getState())}
                        </span>


                  {case App\Model\Enums\ReceiptEETState::WAITING_NEXT_TRY}
                     <span class="label label-warning">
                           {App\Model\Enums\ReceiptEETState::getName($eetData->getState())}
                        </span>


                  {case App\Model\Enums\ReceiptEETState::ERROR}
                     <span class="label label-danger">
                           {App\Model\Enums\ReceiptEETState::getName($eetData->getState())}
                        </span>
                  {/switch}
               </dd>

               <dt class="width">FIK:</dt>
               <dd n:if="$eetData->getFik()">
                  <input value="{$eetData->getFik()}" class="form-control input-sm" readonly />
               </dd>
               <dd n:if="!$eetData->getFik()">-</dd>

               <dt>PKP kód:</dt>
               <dd>
                  <input value="{$pkp}" class="form-control input-sm" readonly />
               </dd>

               <dt>BKP kód:</dt>
               <dd>
                  <input value="{$bkp}" class="form-control input-sm" readonly />
               </dd>
            </dl>
         </div>
         <!-- /.panel-body -->
      </div>
      <!-- /.box -->
   </div>

   <div class="col-xs-12 col-md-6 col-lg-4 lg-flex" n:if="$customerData">
      <div class="panel panel-primary" style="width: 100%">
         <div class="panel-heading">
            Odběratel
         </div>
         <!-- /.box-header -->
         <div class="panel-body">
            <div class="box-body">
               <dl class="dl-nice">
                  <dt>Jméno:</dt>
                  <dd>{$customerData->getName()}</dd>
                  <dt>Ulice:</dt>
                  <dd>{$customerData->getStreet()}</dd>
                  <dt>Město:</dt>
                  <dd>{$customerData->getCity()}</dd>
                  <dt>PSČ</dt>
                  <dd>{$customerData->getZip()}</dd>
               </dl>
               <dl class="dl-nice">
                  <dt>IČ</dt>
                  <dd>{$customerData->getVatNo()}</dd>
                  <dt>DIČ</dt>
                  <dd>{$customerData->getVatId()}</dd>
                  <dt>Telefon:</dt>
                  <dd>{$customerData->getPhone()}</dd>
                  <dt>Email:</dt>
                  <dd><a href="mailto:{$customerData->getEmail()}">{$customerData->getEmail()}</a></dd>
               </dl>
            </div>
         </div>
         <!-- /.panel-body -->
      </div>
      <!-- /.box -->
   </div>
</div>

{include "itemsTable.latte"}

{control changeCustomerData}
{control sendReceiptModalDialog}
{control showReceiptLink}