<div class="hidden-xs">
   <div class="pull-left text-left">
      <strong>doklad</strong><br/>
      <span class="btn-group">
         <a n:href="printReceipt!" class="btn btn-lg btn-success openNewWindow"><i class="fas fa-print"></i> Tisk</a>
         <a n:href="showReceiptLink!" class="btn btn-lg btn-info ajax"><i class="fas fa-link"></i> Webový</a>
         <a n:href="sendReceipt!" class="btn btn-lg btn-primary ajax"><i class="fas fa-envelope"></i> Poslat</a>
         <a n:href="downloadReceipt!" class="btn btn-lg btn-warning"><i class="fas fa-file-pdf "></i> Stáhnout</a>
      </span>
   </div>
   <div class="pull-right text-right">
      <strong>operace</strong><br/>
      <span class="btn-group">
         <a n:href="cancelReceiptDialog!" class="btn btn-lg btn-danger ajax" n:if="$control->isPossibleToMakeCancellation()">
            <i class="fas fa-times"></i> Storno
         </a>
         <a n:href="createTicket!" class="btn btn-lg btn-warning"><i class="fas fa-question"></i> Založit tiket</a>
      </span>
   </div>
</div>

<div class="visible-xs">
   <div class="pull-left">
      <div class="btn-group btn-group-lg">
         <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Účtenka <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
            <li><a n:href="printReceipt!" class="btn-lg"><i class="fas fa-print"></i> Tisk</a></li>
            <li><a n:href="showReceiptLink!" class="btn-lg ajax"><i class="fas fa-link"></i> Webový</a></li>
            <li><a n:href="sendReceipt!" class="btn-lg ajax"><i class="fas fa-envelope"></i> Poslat</a></li>
            <li><a n:href="downloadReceipt!" class="btn-lg ajax"><i class="fas fa-file-pdf "></i> Stáhnout</a></li>
         </ul>
      </div>
   </div>
   <div class="pull-right">
      <div class="btn-group btn-group-lg">
         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            operace <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
            <li n:if="$control->isPossibleToMakeCancellation()">
               <a n:href="cancelReceiptDialog!" class="btn-lg ajax"><i class="fas fa-times"></i> Storno</a>
            </li>
            <li>
               <a n:href="createTicket!" class="btn-lg btn-warning"><i class="fas fa-question"></i> Založit tiket</a>
            </li>
         </ul>
      </div>
   </div>
</div>

<div class="clearfix margin-bottom"></div>

<div class="row lg-flex">
   <div class="col-xs-12 col-lg-4 lg-flex">
      <div class="box box-default" n:snippet="box-general">
         <div class="box-header with-border">
            <h3 class="box-title">Obecné</h3>
            <div class="box-tools">
               <a n:href="assignCustomer!" class="btn btn-sm btn-primary ajax" n:if="!$receipt->getCustomer()">přiřadit zákaznický účet</a>
               <a n:href="assignCustomer!" class="btn btn-sm btn-primary ajax" n:if="$receipt->getCustomer()">změnit zákaznický účet</a>
            </div>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <dl class="dl-nice">
               <dt>Číslo dokladu:</dt>
               <dd>{$receipt->getNiceId()}</dd>

               <dt>Typ dokladu:</dt>
               {if $receipt->getTypeOfDocument()->equalsValue(App\Model\Enums\TypeOfDocument::CANCELLATION)}
                  <dd><span class="label label-danger">{$typeOfDocument}</span></dd>
               {else}
                  <dd><span class="label label-primary">{$typeOfDocument}</span></dd>
               {/if}

               <dt>Vytvořeno:</dt>
               <dd>
                  {$receipt->getCreationDate()|date:'j. n. Y H:i'}
                  <span id="niceTime" class="label label-default label-sm"></span>
                  <script type="text/javascript">
                      $time = moment({$receipt->getCreationDate()|date:'%d.%m.%Y %H:%M'}, 'D.M.Y H:m:s');
                      $("#niceTime").text($time.fromNow());
                  </script>
               </dd>

               <dt>Zákaznický účet:</dt>
               <dd n:if="$receipt->getCustomer()">
                  {$receipt->getCustomer()->getName()}
               </dd>
               <dd n:if="!$receipt->getCustomer()">
                  -
               </dd>

               <dt>Pokladna:</dt>
               <dd>{$receipt->getCash()->getName()}</dd>

               <dt>Pokladní:</dt>
               <dd>{$receipt->getCashier()->getName()}</dd>
            </dl>
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->
   </div>

   <div class="col-xs-12 col-lg-4 lg-flex" n:if="$receipt->getEetData()">
      <div class="box box-default" n:snippet="box-eet">
         {var $eetData = $receipt->getEetData()}

         <div class="box-header with-border">
            <h3 class="box-title">EET</h3>
            <div class="box-tools">
               <a n:href="processEet" class="btn btn-warning btn-xs ajax spinner"
                       n:if="!$eetData->getState()->equalsValue(App\Model\Enums\ReceiptEETState::OK)"
                       data-spinner-target="body"
               >
                  opakovat pokus
               </a>
            </div>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <dl class="dl-nice">
               <dt>Stav:</dt>
               <dd>
                  {switch $eetData->getState()->getValue()}
                     {case App\Model\Enums\ReceiptEETState::WAITING}
                        <span class="label label-primary">
                           {App\Model\Enums\ReceiptEETState::getName($eetData->getState())}
                        </span>

                     {case App\Model\Enums\ReceiptEETState::OK}
                        <span class="label label-success">
                           {App\Model\Enums\ReceiptEETState::getName($eetData->getState())}
                        </span>


                     {case App\Model\Enums\ReceiptEETState::WAITING_NEXT_TRY}
                        <span class="label label-warning">
                           {App\Model\Enums\ReceiptEETState::getName($eetData->getState())}
                        </span>


                     {case App\Model\Enums\ReceiptEETState::ERROR}
                        <span class="label label-danger">
                           {App\Model\Enums\ReceiptEETState::getName($eetData->getState())}
                        </span>
                  {/switch}
               </dd>

               <dt class="width">FIK:</dt>
               <dd n:if="$eetData->getFik()">
                  <input value="{$eetData->getFik()}" class="form-control input-sm" readonly />
               </dd>
               <dd n:if="!$eetData->getFik()">-</dd>

               <dt>PKP kód:</dt>
               <dd>
                  <input value="{$pkp}" class="form-control input-sm" readonly />
               </dd>

               <dt>BKP kód:</dt>
               <dd>
                  <input value="{$bkp}" class="form-control input-sm" readonly />
               </dd>
            </dl>
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->
   </div>

   <div class="col-xs-12 col-lg-4 lga-flex" n:if="$customerData" n:inner-snippet="box-customer-details">
      <div class="box box-default">
         <div class="box-header with-border">
            <h3 class="box-title">Odběratel</h3>
            <div class="box-tools">
               <a n:href="loadCustomerDataFromAccount" n:if="$receipt->getCustomer()" class="btn btn-primary btn-xs ajax spinner">načíst z účtu zákazníka</a>
               <a n:href="changeCustomerData!" class="btn btn-warning btn-xs ajax">změnit</a>
            </div>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <dl class="dl-nice">
               <dt>Jméno:</dt>
               <dd>{$customerData->getName()}</dd>
               <dt>Ulice:</dt>
               <dd>{$customerData->getStreet()}</dd>
               <dt>Město:</dt>
               <dd>{$customerData->getCity()}</dd>
               <dt>PSČ</dt>
               <dd>{$customerData->getZip()}</dd>
            </dl>
            <dl class="dl-nice">
               <dt>IČ</dt>
               <dd>{$customerData->getVatNo()}</dd>
               <dt>DIČ</dt>
               <dd>{$customerData->getVatId()}</dd>
               <dt>Telefon:</dt>
               <dd>{$customerData->getPhone()}</dd>
               <dt>Email:</dt>
               <dd><a href="mailto:{$customerData->getEmail()}">{$customerData->getEmail()}</a></dd>
            </dl>
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->
   </div>
</div>

{include "itemsTable.latte"}

<div class="box box-warning collapsed-box">
   <div class="box-header with-border">
      <i class="fas fa-history"></i>

      <h3 class="box-title">Log</h3>

      <div class="box-tools pull-right">
         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
         </button>
      </div>
      <!-- /.box-tools -->
   </div>
   <!-- /.box-header -->
   <div class="box-body">
      {control log}
   </div>
   <!-- /.box-body -->
</div>


{control assignCustomer}
{control changeCustomerData}
{control sendReceiptModalDialog}
{control showReceiptLink}
{control cancelReceiptDialog}
