{capture $_title}
   {if $presenter['breadcrumb']->getLast()->getSubName()}
      {$presenter['breadcrumb']->getLast()->getName()} - {$presenter['breadcrumb']->getLast()->getSubName()}
   {else}
      {$presenter['breadcrumb']->getLast()->getName()}
   {/if}
{/capture}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <meta name="description" content="">
   <meta name="author" content="">

   <title>
      {if !empty($_title)}
         {$_title} |
      {/if}
      zákaznický portál - {$presenter->getCompanyName()}
   </title>

   <link href="/assets/css/portal.css" rel="stylesheet">
   <script src="/assets/js/portal.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>

         {if $user->isLoggedIn()}
            <a class="navbar-brand" n:href=":Portal:Dashboard:">{$presenter->getCompanyName()}</a>
         {else}
            <a class="navbar-brand" n:href=":Portal:Welcome:">{$presenter->getCompanyName()}</a>
         {/if}
      </div>
      <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            {if $user->isLoggedIn()}
               <li n:class="$presenter->isLinkCurrent('Dashboard:*') ? active"><a n:href="Dashboard:">Přehled</a></li>
               <li n:class="$presenter->isLinkCurrent('Receipts:*') ? active"><a n:href="Receipts:">Doklady</a></li>
               <li n:class="$presenter->isLinkCurrent('Settings:*') ? active"><a n:href="Settings:">Nastavení</a></li>
               <li n:class="$presenter->isLinkCurrent('News:*') ? active"><a n:href="News:">Aktuality</a></li>
               <li n:class="$presenter->isLinkCurrent('Support:*') ? active"><a n:href="Support:">Podpora</a></li>
               <li n:class="$presenter->isLinkCurrent('Faq:*') ? active"><a n:href="Faq:">Často kladné otázky</a></li>
               <li n:class="$presenter->isLinkCurrent('Downloads:*') ? active"><a n:href="Downloads:">Ke stažení</a></li>
            {else}
               <li n:class="$presenter->isLinkCurrent('Welcome:*') ? active"><a n:href="Welcome:">Vítejte</a></li>
               <li n:class="$presenter->isLinkCurrent('News:*') ? active"><a n:href="News:">Aktuality</a></li>
            {/if}
            <li n:class="$presenter->isLinkCurrent('Contact:*') ? active"><a n:href="Contact:">Kontakt</a></li>
         </ul>

         <ul class="nav navbar-nav navbar-right">
            <li n:if="$user->isLoggedIn()">
               <p class="navbar-btn">
                  <a  n:href=":Portal:Sign:out" class="btn btn-danger">Odhlásit se</a>
               </p>
            </li>
            <li n:if="!$user->isLoggedIn()">
               <p class="navbar-btn">
                  <a  n:href=":Portal:Sign:in" class="btn btn-success">Přihlášení</a>
                  <a  n:href=":Portal:Registration:" class="btn btn-primary">Registrace</a>
               </p>
            </li>
         </ul>
      </div><!--/.nav-collapse -->

   </div>
</nav>

<div class="container">
   {control breadcrumb}

   {control flashMessage}
   {control flashMessageNotify}
</div>



{include content}


<footer class="footer">
   <div class="container">
      <span class="text-muted">&copy; <em>FÉR</em> pokladna</span>
   </div>
</footer>
</body>
</html>