{form form}
<div class="box box-danger">
   <div class="box-header with-border">
      <h3 class="box-title">
         <i class="fas fa-user"></i> Vyberte zákazníka
      </h3>
      <div class="box-tools pull-right">
         <button class="btn btn-primary btn-sm" id="removeSelectedCustomer">
            vymazat
         </button>
      </div>
   </div>
   <!-- /.box-header -->
   <div class="box-body text-center">
      <div class="form-group {if $form['customer']->hasErrors()}has-error{/if}">
         {input customer, style=>"width: 100%"}
         <span class="help-block" n:foreach="$form['customer']->getErrors() AS $error">{$error}</span>
      </div>
   </div>
</div>

<script type="text/javascript">
    var $select = $('#' + {$form['customer']->getHtmlId()});

    $select.select2({
        language: "cs",
        ajax: {
            url: {link loadCustomers!},
            data: function (params) {
                var query = {
               {$control->getParameterId('term')}: params.term
            }

                return query;
            }
        }
    });

    $select.change(function () {
        $.nette.ajax({
            url: {link customerSelected!},
            data: {
               {$control->getParameterId('customerId')}: $(this).val()
            },
           start: function () {
               //show spinner
               $("#editCustomerBox").append($('<div class="overlay">' +
                   '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
                   '                          </div>'));
           },
           complete: function () {
               //remove spinner
               $("#editCustomerBox").find(".overlay").fadeOut();
           }
    })
    });
    
    $("#removeSelectedCustomer").click(function (e) {
        $select.val(null).trigger('change');
        e.preventDefault();
    });
</script>

{/form}

