{extends 'base.latte'}

{block title}
   Ticket #{$message->getTicket()->getId()} byl automaticky uzavřen
{/block}

{block content}
   <p>
      Tiket byl automaticky uzavřen po 14 dnech od poslední zprávy.
   </p>
   <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
      <tr>
         <td align="center">
            <table border="0" cellpadding="0" cellspacing="0">
               <tbody>
               <tr>
                  <td>
                     <a href="{$ticketLink}" class="btn btn-primary">zobrazit ticket</a>
                  </td>
               </tr>
               </tbody>
            </table>
         </td>
      </tr>
      </tbody>
   </table>
{/block}