{extends 'base.latte'}

{block title}
   Založen nový ticket #{$message->getTicket()->getId()}
{/block}

{block content}
   <p><strong>Předmět:</strong> {$message->getTicket()->getSubject()}</p>

   <p>
      <strong>Zpráva:</strong><br />
      {$message->getContent()|noescape}
   </p>

   <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
      <tr>
         <td align="center">
            <table border="0" cellpadding="0" cellspacing="0">
               <tbody>
               <tr>
                  <td>
                     <a href="{$ticketLink}" class="btn btn-primary">Zobrazit ticket</a>
                  </td>
               </tr>
               </tbody>
            </table>
         </td>
      </tr>
      </tbody>
   </table>
{/block}