{extends 'base.latte'}

{block title}
   Reset hesla
{/block}

{block content}
   <p>
      Dobrý den, <br /><br />
      na Vaši žádost bylo provedeno resetování hesla.
   </p>
   <p>
      Nové heslo: <strong>{$newPassword}</strong>
   </p>
   <p>
      V případě potřeby můžete změnit toto heslo ve svém profilu.
   </p>

   <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
      <tr>
         <td align="center">
            <table border="0" cellpadding="0" cellspacing="0">
               <tbody>
               <tr>
                  <td>
                     <a href="{$linkToTicketSystem}" class="btn btn-primary">
                        {$translator->translate("přihlásit se")}
                     </a>
                  </td>
               </tr>
               </tbody>
            </table>
         </td>
      </tr>
      </tbody>
   </table>
{/block}