{extends 'base.latte'}

{block title}
   Aktivace účtu
{/block}

{block content}
   <p>
      Dobrý den, <br /><br />
      děkujeme za registraci.
   </p>

   <p>
      Pro vstup do klientského portálu, prosím, aktivujte Váš účet pomocí následujícího odkazu:
   </p>
   <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
      <tr>
         <td align="center">
            <table border="0" cellpadding="0" cellspacing="0">
               <tbody>
               <tr>
                  <td>
                     <a href="{$linkToActivation}" class="btn btn-primary">
                        aktivovat účet
                     </a>
                  </td>
               </tr>
               </tbody>
            </table>
         </td>
      </tr>
      </tbody>
   </table>

   <p style="font-size: 13px; font-style: italic;">Tento odkaz má platnost 1 měsíc.</p>
{/block}