<tr n:snippet="item" class="{$control->getName()}" data-item-id="{$id}">
   <td class="rowNumber"></td>
   <td>
      {control itemNameForm}
   </td>
   <td>
      {control itemPriceForm}
   </td>
   <td n:if="$taxablePerson">
      {control itemTaxRateForm}
   </td>
   <td>
      {control itemQuantityForm}
   </td>
   <td n:inner-snippet="partialSum">
      {$partialSum|number:2:',':' '}
   </td>
   <td class="text-right">
      <a n:href="edit!" class="btn btn-primary ajax">
         <i class="fas fa-pencil-alt"></i>
      </a>
      <a n:href="remove!" class="btn btn-danger ajax">
         <i class="fas fa-trash-alt"></i>
      </a>

      {snippet removed}
         <script type="text/javascript" n:ifset="$removed">
             $("." + {$control->getName()}).remove();
         </script>
      {/snippet}
   </td>
</tr>