<div class="modal fade" tabindex="-1" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog">
      <div class="modal-content" n:if="$control->show">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" n:if="!$control->getItem()">Nová položka</h4>
            <h4 class="modal-title" n:if="$control->getItem()">Upravit položku</h4>
         </div>
         {form form}
            <div class="modal-body">
               {control flashMessage}

               <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
                  {label name /}
                  {input name}
                  <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
               </div>

               <div class="form-group {if $form['quantity']->hasErrors()}has-error{/if}">
                  {label quantity /}
                  {input quantity}
                  <span class="help-block" n:foreach="$form['quantity']->getErrors() AS $error">{$error}</span>
               </div>

               <div class="form-group {if $form['price']->hasErrors()}has-error{/if}">
                  {label price /}
                  {input price}
                  <span class="help-block" n:foreach="$form['price']->getErrors() AS $error">{$error}</span>
               </div>

               {if $control->isSellerTaxablePerson()}
                  <div class="form-group {if $form['taxRate']->hasErrors()}has-error{/if}">
                     {label taxRate /}
                     {input taxRate}
                     <span class="help-block" n:foreach="$form['taxRate']->getErrors() AS $error">{$error}</span>
                  </div>
               {/if}

               <div class="form-group {if $form['note']->hasErrors()}has-error{/if}">
                  {label note /}
                  {input note}
                  <span class="help-block" n:foreach="$form['note']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zavřít</button>
               {input submit, class=>'btn btn-primary'}
            </div>
         {/form}
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

