{form form}
   <div class="form-group {if $form['subject']->hasErrors()}has-error{/if}">
      {$form['subject']->getLabel()}
      {$form['subject']->getControl()}
      <span class="help-block" n:foreach="$form['subject']->getErrors() AS $error">{$error}</span>
   </div>

   <div class="form-group {if $form['file']->hasErrors()}has-error{/if} row">
      <div class="col-md-12">
         {label file}
         {input file}
         <span class="help-block" n:foreach="$form['file']->getErrors() AS $error">{$error}</span>
      </div>
   </div>

   <div class="form-group {if $form['content']->hasErrors()}has-error{/if}">
      {$form['content']->getLabel()}
      {$form['content']->getControl()}
      <span class="help-block" n:foreach="$form['content']->getErrors() AS $error">{$error}</span>
   </div>

   <input n:name="submit" class="btn btn-primary" />
{/form}