{form form}
   <div class="form-group {if $form['title']->hasErrors()}has-error{/if}">
      {label title}
      {input title}
      <span class="help-block" n:foreach="$form['title']->getErrors() AS $error">{$error}</span>
   </div>

   <div class="form-group {if $form['date']->hasErrors()}has-error{/if}">
      {label date}
      {input date}
      <span class="help-block" n:foreach="$form['date']->getErrors() AS $error">{$error}</span>
   </div>

   <div class="clearfix"></div>


   <div class="form-group {if $form['content']->hasErrors()}has-error{/if}">
      {label content}
      {input content}
      <span class="help-block" n:foreach="$form['content']->getErrors() AS $error">{$error}</span>
   </div>

   <div class="checkbox {if $form['published']->hasErrors()}has-error{/if}">
      <strong>Stav aktuality</strong> <br />
      {label published}
      {input published}
      <span class="help-block" n:foreach="$form['published']->getErrors() AS $error">{$error}</span>
   </div>

   <input n:name="submit" class="btn btn-primary" />
{/form}