<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <style>
      @page {
         margin: 3%; /* <any of the usual CSS values for margins> */
         /*(% of page-box width for LR, of height for TB) */
         margin-header: 0mm; /* <any of the usual CSS values for margins> */
         margin-footer: 0mm; /* <any of the usual CSS values for margins> */
      }

      tr.heading td{
         border-bottom: 2px solid black;
         font-weight:bold;
      }

      tr.item td {
         border-bottom: 1px solid #8c8c8c;
         padding: 5px 0 5px 0;
      }

      tr.last td {
         border-bottom: 2px solid black;
      }

      #taxRates {
         width: 100%;
         font-size: 10px;
      }

      #taxRates thead th {
         text-align: left;
      }
   </style>
</head>

<body>

<div style="width: 100%; text-align: center;">
   <barcode code="{$receipt->getNiceId()}" type="CODABAR" height="0.5" text="0" />
</div>

<div style="border-bottom: 1px solid black;">
   <div style="float: left; width: 60%;">
      <div style="font-size: 20px; font-weight: bold;">{$seller->getCompany()}</div>
      <div style="font-size: 10px;">
         vygenerováno aplikací FÉR pokladna | doklad online: <a href="{$link}">{$link}</a>
      </div>
   </div>
   <div style="font-size: 12px; float: right; width: 40%; text-align: right;">
      {App\Model\Enums\TypeOfDocument::getName($receipt->getTypeOfDocument())} <br />
      č.
      <strong style="font-size: 18px">{$receipt->getNiceId()}</strong>
   </div>
</div>
<div id="header">
   <div style="width: 17%; float: left;">
      {$seller->getStreet()}<br>
      {$seller->getZip()} {$seller->getCity()}
   </div>
   <div style="width: 20%; float: left;">
      IČ:&nbsp;{$seller->getVatNo()}<br>
      DIČ:&nbsp;{$seller->getVatId()}
   </div>
   <div style="width: 34%; float: left;">
      {if $seller->getPhone()}
         <div style="width: 22%; float: left; font-style: italic; text-align: right;">telefon:</div>
         <div style="width: 75%; float: right;">{$seller->getPhone()}</div>
      {/if}
      {if $seller->getEmail()}
         <div style="width: 22%; float: left; font-style: italic; text-align: right;">email:</div>
         <div style="width: 75%; float: right;">{$seller->getEmail()}</div>
      {/if}
      {if $seller->getWeb()}
         <div style="width: 22%; float: left; font-style: italic; text-align: right;">web:</div>
         <div style="width: 75%; float: right;">{$seller->getWeb()}</div>
      {/if}
   </div>
   <div style="width: 29%; float: left;" n:if="$receipt->getEetData()">
      <div style="width: 50%; float: left; font-style: italic; text-align: right;">režim tržby:</div>
      <div style="width: 45%; float: right;">běžný</div>

      <div style="width: 50%; float: left; font-style: italic; text-align: right;">provozovna:</div>
      <div style="width: 45%; float: right;">{$receipt->getEetData()->getPremiseId()}</div>

      <div style="width: 50%; float: left; font-style: italic; text-align: right;">pokladna:</div>
      <div style="width: 45%; float: right;">{$receipt->getEetData()->getCashRegisterId()}</div>
   </div>

   <div style="float: left; padding-top: -8px; font-size: 11px; width: 100%">
      vytvořeno: {$receipt->getCreationDate()|date:'%d. %m. %Y'} / {$receipt->getCreationDate()|date:'%H:%M:%S'}
   </div>
</div>


<div style="margin-top: 5px;">
   <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <thead>
         <tr class="heading">
            <td style="width: 5%">#</td>

            <td width="44%">Produkt</td>
            <td width="12%">Počet [MJ]</td>
            <td width="6%">MJ</td>
            <td width="15%">Cena [MJ/Kč]</td>
            <td width="18%">Mezisoučet [Kč]</td>

         </tr>
      </thead>
      <tbody>
         {var $i=1}
         <tr n:foreach="$receipt->getItems() AS $item" class="item {last}last{/last}">
            <td>{$i++}</td>
            <td>
               {$item->getName()}
               {if $item->getNote()}
                  <br /><em>{$item->getNote()}</em>
               {/if}
            </td>

            <td>{$item->getQuantity()|number:2:',':' '}</td>
            <td>
               {$item->getMeasurementUnit()}
            </td>
            <td>
               {$item->getUnitPriceWithTax()|number:2:',':' '}
            </td>
            <td>{$item->calculatePartialSum(true)|number:2:',':' '}</td>
         </tr>
      </tbody>
   </table>
</div>

<div style="margin-top: 20px; float: left; width: 47%;" n:if="$seller->isTaxablePerson()">
   <em>Rozpis DPH v Kč:</em>
   <table cellpadding="0" cellspacing="0" id="taxRates">
      <thead>
         <tr>
            {*<th>Sazba</th>*}
            <th width="15%">Sazba</th>
            <th width="27%">Zaokrouhlení</th>
            <th width="27%">Základ daně</th>
            <th width="27%">Výše daně</th>
         </tr>
      </thead>
      <tbody>
         <tr n:foreach="$receipt->getUsedTaxRateTypes() AS $type">
            {*<td>{App\Model\Enums\TaxRateType::getName($type)}</td>*}
            <td>{$receipt->getTaxRateValueByType($type)|number:0} %</td>
            <td>
               {if $receipt->calculateTaxDifference($type)}
                  {sprintf('%+1.2f', $receipt->calculateTaxDifference($type))}
               {else}
                  0.00
               {/if}
            </td>
            <td>{$receipt->calculateBaseOfTaxAmountByTaxRateType($type)|number:2}</td>
            <td>{$receipt->calculateTaxAmountByTaxRateType($type)|number:2}</td>
         </tr>
      </tbody>
   </table>
</div>

<div style="margin-top: 20px; float: left; width: 47%;" n:if="!$seller->isTaxablePerson()">
   <strong>NEJSEM plátce DPH</strong>
</div>



<div style="float: right; width: 53%;">
   <table cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
         <td width="40%" style="font-weight: bold; text-align: right;">Celkem:</td>
         <td width="50%" style="font-weight: bold; font-size: 17px; text-decoration: underline; text-align: right;">
            {$receipt->calculateReceiptSum()|number:2:',':' '}
         </td>
         <td width="10%" style="text-align: right;">Kč</td>
      </tr>
   </table>
</div>


<div style="width: 100%;margin-top: 10px; font-size: 10px; float: left;" n:if="$receipt->getEetData()">
   <div n:if="is_null($receipt->getEetData()->getFik())">
      <strong>PKP:</strong> {$generator->getPkpCode()}
   </div>
   <div n:if="!is_null($receipt->getEetData()->getFik())">
      <strong>FIK:</strong> {$receipt->getEetData()->getFik()}
   </div>
   <div><strong>BKP:</strong> {$generator->getBkpCode()}</div>
</div>

<div style="width: 100%; margin-top: 10px;" n:if="$seller->getDocumentNote()">
   <hr/>
   {$seller->getDocumentNote()}
</div>

<hr />
</body>
</html>
