<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <style>
      @page {
         margin: 3%; /* <any of the usual CSS values for margins> */
         /*(% of page-box width for LR, of height for TB) */
         margin-header: 0mm; /* <any of the usual CSS values for margins> */
         margin-footer: 0mm; /* <any of the usual CSS values for margins> */
      }

      body {

      }

      #items {
         width: 100%;
      }

      #items thead tr.name td{
         font-weight: bold;
      }

      #items thead tr.units td{
         border-bottom: 2px solid black;
      }

      tr.heading td{
         border-bottom: 2px solid black;
         font-weight:bold;
         font-size: 10px;
      }

      tr.item td {
         border-bottom: 1px solid #8c8c8c;
         padding: 5px 0 5px 0;
      }

      tr.last td {
         border-bottom: 2px solid black;
      }

      #taxRates {
         width: 100%;
         font-size: 10px;
      }

      #taxRates thead th {
         text-align: left;
      }

      #supplier, #customer {
         float: left;
         width: 50%;
      }

      #supplier h1, #customer h1 {
         font-size: 17px;
         color: #3D3D3D;
      }
   </style>
</head>

<body>

<div style="width: 100%; text-align: center;">
   <barcode code="{$receipt->getNiceId()}" type="CODABAR" height="0.5" text="0" />
</div>

<div style="border-bottom: 1px solid black;">
   <div style="float: left; width: 60%;">
      <div style="font-size: 20px; font-weight: bold;">{$seller->getCompany()}</div>
      <div style="font-size: 10px;">
         vygenerováno aplikací FÉR pokladna | doklad online: <a href="{$link}">{$link}</a>
      </div>
   </div>
   <div style="font-size: 12px; float: right; width: 40%; text-align: right;">
      {App\Model\Enums\TypeOfDocument::getName($receipt->getTypeOfDocument())} <br />
      č.
      <strong style="font-size: 18px">{$receipt->getNiceId()}</strong>
   </div>
</div>

<div id="supplier">
   <h1>Dodavatel</h1>

   <p><strong>{$seller->getCompany()}</strong></p>
   <p>
      {$seller->getStreet()} <br />
      {$seller->getZip()} {$seller->getCity()}
   </p>

   <table>
      <tr>
         <td>IČ:</td><td>{$seller->getVatNo()}</td>
      </tr>
      <tr>
         <td>DIČ:</td><td>{$seller->getVatId()}</td>
      </tr>
   </table>

   <p n:if="!$seller->isTaxablePerson()">
      <strong>NEJSEM plátce DPH</strong>
   </p>
</div>

<div id="customer">
   <h1>Odběratel</h1>

   <p><strong>{$customer->getName()}</strong></p>
   <p>
      {$customer->getStreet()} <br />
      {$customer->getZip()} {$customer->getCity()}
   </p>

   <table>
      <tr>
         <td>IČ:</td><td>{$customer->getVatNo()}</td>
      </tr>
      <tr>
         <td>DIČ:</td><td>{$customer->getVatId()}</td>
      </tr>
   </table>
</div>

<hr />

<div>
   <div style="width: 50%; float: left;">
      <table style="width: 100%;">
         <tr>
            <td style="width: 40%;">Typ platby:</td>
            <td style="font-weight: bold; text-align: left;">{\App\Model\Enums\TypeOfPayment::getName($receipt->getTypeOfPayment())}</td>
         </tr>
         <tr>
            <td style="width: 40%;">Číslo účtu:</td>
            <td style="font-weight: bold; text-align: left;">{$seller->getBankAccountNumber()}</td>
         </tr>
         <tr>
            <td>Variabilní symbol:</td>
            <td style="font-weight: bold; text-align: left;">{$receipt->getTypeOfDocument()->getValue()}{$receipt->getDocumentId()}</td>
         </tr>
      </table>
   </div>
   <div style="width: 50%; float: left;">
      <table style="width: 100%;">
         <tr>
            <td style="width: 40%;">Datum vystavení:</td>
            <td style="font-weight: bold; text-align: right;">
               {$receipt->getCreationDate()|date:'%d. %m. %Y'} / {$receipt->getCreationDate()|date:'%H:%M:%S'}
            </td>
         </tr>
         <tr n:if="$seller->isTaxablePerson() && $receipt->getDateOfTaxableSupply()">
            <td>Datum zdan. plnění:</td>
            <td style="font-weight: bold; text-align: right;">{$receipt->getDateOfTaxableSupply()|date:'%d. %m. %Y'}</td>
         </tr>
         <tr>
            <td style="font-weight: bold">Datum splatnosti:</td>
            <td style="font-weight: bold; text-align: right;">{$receipt->getDueDate()|date:'%d. %m. %Y'}</td>
         </tr>
      </table>
   </div>
</div>

<hr />

<div>
   <table cellpadding="0" cellspacing="0" id="items">
      <thead>
         <tr class="name" n:if="$seller->isTaxablePerson()">
            <td style="width: 5%">#</td>

            <td width="35%">Produkt</td>
            <td width="8%">Počet</td>
            <td width="6%">MJ</td>
            <td width="10%">Cena</td>

            <td width="10%">bez DPH</td>
            <td width="8%">DPH</td>
            <td width="8%">DPH</td>

            <td>Cena</td>

         </tr>
         <tr class="name" n:if="!$seller->isTaxablePerson()">
            <td style="width: 5%">#</td>

            <td width="50%">Produkt</td>
            <td width="8%">Počet</td>
            <td width="6%">MJ</td>
            <td width="13%">Cena</td>

            <td>Cena</td>

         </tr>
         <tr class="units">
            <td></td>

            <td></td>
            <td>MJ</td>
            <td></td>
            <td>MJ/Kč</td>

            {if $seller->isTaxablePerson()}
               <td>Kč</td>
               <td>Kč</td>
               <td>%</td>
            {/if}

            <td>Kč</td>
         </tr>
      </thead>
      {var $i=1}
      <tbody n:foreach="$receipt->getItems() AS $item">
         <tr>
            <td>{$i++}</td>
            <td>{$item->getName()} {if $item->getNote()}<br /><em>{$item->getNote()}</em>{/if}</td>
            <td>{$item->getQuantity()|number:2}</td>
            <td>{$item->getMeasurementUnit()}</td>

            {if $seller->isTaxablePerson()}
               <td>{$item->getUnitPriceWithoutTax()|number:2}</td>
               <td>{$item->calculatePartialSum(false)|number:2}</td>
               <td>{$item->calculatePartialTaxSum()|number:2}</td>
               <td>{$item->getTaxRateValue()|number:2}</td>
               <td class="text-bold">{$item->calculatePartialSum(true)|number:2}</td>
            {else}
               <td>{$item->getUnitPriceWithTax()|number:2}</td>
               <td class="text-bold">{$item->calculatePartialSum(false)|number:2}</td>
            {/if}
         </tr>
      </tbody>
   </table>
</div>

<div style="margin-top: 20px; float: left; width: 47%;" n:if="$seller->isTaxablePerson()">
   <em>Rozpis DPH v Kč:</em>
   <table cellpadding="0" cellspacing="0" id="taxRates">
      <thead>
         <tr>
            {*<th>Sazba</th>*}
            <th width="15%">Sazba</th>
            <th width="27%">Zaokrouhlení</th>
            <th width="27%">Základ daně</th>
            <th width="27%">Výše daně</th>
         </tr>
      </thead>
      <tbody>
      <tr n:foreach="$receipt->getUsedTaxRateTypes() AS $type">
         {*<td>{App\Model\Enums\TaxRateType::getName($type)}</td>*}
         <td>{$receipt->getTaxRateValueByType($type)|number:0} %</td>
         <td>
            {if $receipt->calculateTaxDifference($type)}
               {sprintf('%+1.2f', $receipt->calculateTaxDifference($type))}
            {else}
               0.00
            {/if}
         </td>
         <td>{$receipt->calculateBaseOfTaxAmountByTaxRateType($type)|number:2}</td>
         <td>{$receipt->calculateTaxAmountByTaxRateType($type)|number:2}</td>
      </tr>
      </tbody>
   </table>
</div>

<div style="float: right; width: 53%; margin-top: 15px;">
   <table cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 15px;" n:if="$seller->isTaxablePerson()">
      <tr>
         <td width="40%" style="font-weight: bold; text-align: right;">Celkem bez DPH:</td>
         <td width="50%" style="font-size: 14px;  text-align: right;">
            {$receipt->calculateReceiptSum(false)|number:2:',':' '}
         </td>
         <td width="10%" style="text-align: right;">Kč</td>
      </tr>
   </table>
   <table cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
         <td width="40%" style="font-weight: bold; text-align: right;">Celkem:</td>
         <td width="50%" style="font-weight: bold; font-size: 17px; text-decoration: underline; text-align: right;">
            {$receipt->calculateReceiptSum()|number:2:',':' '}
         </td>
         <td width="10%" style="text-align: right;">Kč</td>
      </tr>
   </table>
</div>

<div style="clear: both"></div>

<div style="margin-top: 10px; font-size: 10px; float: left;" n:if="$receipt->getEetData()">
   <div><strong>režim tržby:</strong> běžný</div>
   <div><strong>číslo provozovny:</strong> {$receipt->getEetData()->getPremiseId()}</div>
   <div><strong>pokladna:</strong> {$receipt->getEetData()->getCashRegisterId()}</div>

   <div n:if="is_null($receipt->getEetData()->getFik())"><strong>PKP:</strong> {$generator->getPkpCode()}</div>
   <div n:if="!is_null($receipt->getEetData()->getFik())"><strong>FIK:</strong> {$receipt->getEetData()->getFik()}</div>
   <div><strong>BKP:</strong> {$generator->getBkpCode()}</div>
</div>


<div style="width: 100%; margin-top: 10px;" n:if="$seller->getDocumentNote()">
   <hr/>
   {$seller->getDocumentNote()}
</div>


</body>
</html>
