{block content}
<script type="text/javascript">
   function autocomplete($selector) {
       $($selector).click(function () {
           $val = $($selector).val();

           var e = jQuery.Event("keyup", { keyCode: 65, which: 65});
           $($selector).focus()
              .attr('value', $val)
              .triggerHandler(e)
              .trigger('change');
       });
       $($selector).easyAutocomplete({
         url: function(phrase) {
             return {link productsAutocomplete!};
         },

         ajaxSettings: {
             dataType: "json",
             method: "POST",
             data: {
                 dataType: "json"
             }
         },
         getValue: function(element) {
             return element.name;
         },

         preparePostData: function(data, inputPhrase) {
             data[{$control->getParameterId("term")}] = inputPhrase;

             return data;
         },
         requestDelay: 100,
         list: {
             maxNumberOfElements: 10,
             hideOnEmptyPhrase: false,
             onChooseEvent: function () {
                 $.nette.ajax({
                     url: {link selectedSuggestedProduct!},
                     data: {
                      {$control->getParameterId("itemId")}: $($selector).closest("tr").data("itemId"),
                      {$control->getParameterId("productId")}: $($selector).getSelectedItemData().id
                   }
                 });
             }
         },
         template: {
             type: "custom",
             method: function (elementValue, element) {
                 if(element.suggested) {
                     return "<i class='fas fa-star text-red'></i> " + elementValue;
                 }

                 return elementValue;
             }
         },
           adjustWidth: false

     });
   }
</script>

{snippet receipt}
<div class="box box-default" id="{$control->getName()}">
   <div class="box-header with-border">
      <h3 class="box-title">
         <span n:snippet="receiptName">
            {if $receipt->getName()}
               {$receipt->getName()}
            {else}
               Účet
            {/if}
         </span>

         <a n:href="renameReceipt!" class="text-sm ajax" title="pojmenovat">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
         </a>
      </h3>
   </div>
   <!-- /.box-header -->
   <div class="box-body">
      <div id="table" style="min-height: 350px;">
         <table class="table table-striped">
            <thead>
            <tr>
               <th>#</th>
               <th class="col-lg-4">Produkt</th>
               <th class="col-lg-2">Cena {if $taxablePerson}vč. DPH{/if}</th>
               <th class="col-lg-2" n:if="$taxablePerson">Sazba DPH</th>
               <th class="col-lg-2">Počet kusů</th>
               <th class="col-lg-1">Mezisoučet</th>
               <th class="col-lg-1 text-right">
                  <i class="fas fa-spinner fa-spin" style="display: none;" id="savingState"></i>
               </th>
            </tr>
            </thead>

            <tbody n:snippet="items" data-ajax-append style="min-height: 300px;">
               {foreach $items AS $item}
                  {control itemRow-{$item->getId()}}
               {/foreach}
            </tbody>
         </table>
      </div>

      <div class="margin-bottom"></div>
   </div>

   <div class="box-footer">
      <div class="row" n:snippet="overview">
         <div class="col-md-4">
            <div class="btn-group-lg text-left">
               <a n:href="addRow!" class="btn btn-success btn-lg ajax"><span class="glyphicon glyphicon-plus"></span> přidat</a>
               <a n:href="selectProduct!" class="btn btn-info btn-lg ajax"><span class="glyphicon glyphicon-search"></span> vyhledat v katalogu</a>
            </div>
         </div>
         <div class="col-md-4">
            <dl class="dl-nice" style="font-size: 20px;">
               {if $taxablePerson}
                  <dt>Daň</dt>
                  <dd>{$receipt->getTaxAmount()|number: 2} Kč</dd>
               {/if}
               <dt>Položek:</dt>
               <dd>{$receipt->numberOfItems()}</dd>
               <dt>Celková cena:</dt>
               <dd>{$receipt->getReceiptSum( $taxablePerson )|number: 2} Kč</dd>
            </dl>
         </div>
         <div class="col-md-4">
            <a n:href="finishSell!" class="btn btn-success btn-lg {if $receipt->countItems() === 0.0 || $receipt->getReceiptSum( $taxablePerson ) === 0.0}disabled{/if}" style="width: 100%">
               <i class="far fa-money-bill-alt"></i>
               {$control->getReceiptSum( $taxablePerson )|number: 2} Kč
            </a>
         </div>
      </div>
   </div>
</div>
{/snippet}

<script type="text/javascript">
   function rowNumbers() {
       $counter = 1;
       $("td.rowNumber").each(function () {
           $(this).text($counter++);
       })
   }

   rowNumbers();

   $.nette.ext("rowNumbers", {
       success: function () {
           rowNumbers();
           autocomplete();
       }
   });

   $.nette.ext("savingState", {
       start: function () {
           $("#savingState").show();
       },
       complete: function () {
           $("#savingState").fadeOut();
       }
   });

   $.nette.ext("history", null);

   $("#" + {$control->getName()}).on('change', "input[type=text], input[type=number], select", function (e) {
       $(this).closest("form").submit();
   });
</script>

{control addEditReceiptItemModal}


<div class="modal fade" tabindex="-1" role="dialog" n:snippet="productSelectModal" data-history-nocache>
   <div class="modal-dialog" style="width: 80%;">
      <div class="modal-content" n:if="$control->productSelectShown">
         {control productSelect}
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{control renameReceiptModal}