<div class="row">
   <div class="col-md-4">
      <div class="box box-primary">
         <div class="box-header">
            <h3 class="box-title">Stav katalogu zboží</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <dl class="dl-nice">
               <dt>Počet pložek:</dt>
               <dd>
                  {$control->productsCount()}
               </dd>
            </dl>
         </div>
         <!-- /.box-body -->
      </div>
   </div>
</div>

<div class="box box-primary">
   <div class="box-header">
      <h3 class="box-title">Prodané zboží</h3>
   </div>
   <!-- /.box-header -->
   <div class="box-body">
      {control products}
   </div>
   <!-- /.box-body -->
</div>