{extends "../../../AdminModule/presenters/templates/@layoutBase.latte"}

{block title}
   {if $presenter['breadcrumb']->getLast()}
      {if $presenter['breadcrumb']->getLast()->getSubName()}
         {$presenter['breadcrumb']->getLast()->getName()} - {$presenter['breadcrumb']->getLast()->getSubName()}
      {else}
         {$presenter['breadcrumb']->getLast()->getName()}
      {/if}
   {/if}
{/block}

{block  body}
   <!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
   <body class="hold-transition skin-green layout-top-nav">
   <div class="wrapper">

      <header class="main-header">
         <nav class="navbar navbar-static-top">
            <div class="containera">
               <div class="navbar-header">
                  <a n:href=":Cash:MakeSell:" class="navbar-brand">
                     {$presenter->getCashName()}
                  </a>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                     <i class="fa fa-bars"></i>
                  </button>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse2">
                     <i class="fa fa-bars"></i>
                  </button>
               </div>

               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                  <ul class="nav navbar-nav">
                     {include "navigation.latte"}
                  </ul>
               </div>
               <!-- /.navbar-collapse -->
               <!-- Navbar Right Menu -->
               <div class="navbar-custom-menu pull-right">
                  <ul class="nav navbar-nav">
                     <li class="bg-orange">
                        <a n:href=":Admin:Dashboard:">
                           <i class="fas fa-wrench"></i>
                           správa
                        </a>
                     </li>

                     <!-- User Account Menu -->
                     <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <!-- The user image in the navbar-->
                           <img src="{$presenter->getAvatar()}" class="user-image" alt="User Image">
                           <!-- hidden-xs hides the username on small devices so only the image appears. -->
                           <span class="hidden-xs">{$presenter->getLoggedUser()->getName()}</span>
                        </a>
                        <ul class="dropdown-menu">
                           <!-- The user image in the menu -->
                           <li class="user-header">
                              <img src="{$presenter->getAvatar()}" class="img-circle" alt="User Image">
                              <p>
                                 {$presenter->getLoggedUser()->getName()}
                              </p>
                           </li>
                           <!-- Menu Footer-->
                           <li class="user-footer">
                              <div class="pull-left">
                                 <a n:href=":Admin:Profile:" class="btn btn-default btn-flat">Můj profil</a>
                              </div>
                              <div class="pull-right">
                                 <a n:href=":Admin:Sign:out" class="btn btn-default btn-flat">Odhlásit se</a>
                              </div>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <!-- /.navbar-custom-menu -->
            </div>
            <!-- /.container-fluid -->
         </nav>
      </header>
      <!-- Full Width Column -->
      <div class="content-wrapper">
         <!-- Content Header (Page header) -->
         <section class="content-header">
            <h1 n:if="$presenter['breadcrumb']->getLast() && !$presenter['breadcrumb']->isHidden()">
               {if $presenter['breadcrumb']->getLast()->getSubName()}
                  {$presenter['breadcrumb']->getLast()->getName()}
                  <small>{$presenter['breadcrumb']->getLast()->getSubName()}</small>
               {else}
                  {$presenter['breadcrumb']->getLast()->getName()}
               {/if}
            </h1>

            {control flashMessage}
            {control flashMessageNotify}

            {control breadcrumb}
         </section>

         <!-- Main content -->
         <section class="content">
            {include content}
         </section>
         <!-- /.content -->
      </div>
   </div>
   <!-- ./wrapper -->

   {control selectCashModal}
   {control changeViewModal}
   </body>
{/block}