{if $presenter->isLinkCurrent(':Cash:MakeSell:*')}
   <li class="bg-primary">
      <a n:href="ChangeReceipt:">
         <i class="fas fa-arrows-alt"></i> změnit účet
      </a>
   </li>
   <li class="bg-maroon">
      <a n:href=":Cash:MakeSell:default, do => newReceipt" class="ajax">
         <i class="fa fa-plus" aria-hidden="true"></i> nový účet
      </a>
   </li>
{/if}

{if $presenter->isLinkCurrent(':Cash:ChangeReceipt:*')}
   <li class="bg-red">
      <a n:href="MakeSell:">
         <i class="fa fa-arrow-left" aria-hidden="true"></i> zpět na účet
      </a>
   </li>
{/if}

{if $presenter->isLinkCurrent(':Cash:FinishSell:*')}
   <li class="bg-red">
      <a n:href="MakeSell:">
         <i class="fa fa-arrow-left" aria-hidden="true"></i> zpět na účet
      </a>
   </li>
{/if}

{if $presenter->isLinkCurrent(':Cash:Receipts:*')}
   <li class="bg-red">
      <a n:href="MakeSell:">
         <i class="fa fa-arrow-left" aria-hidden="true"></i> zpět na účet
      </a>
   </li>
   <li class="bg-primary">
      <a n:href="ChangeReceipt:">
         <i class="fas fa-arrows-alt"></i> otevřít účet
      </a>
   </li>
{/if}

<li n:class="$presenter->isLinkCurrent(':Cash:Receipts:*') ? active">
   <a n:href=":Cash:Receipts:">
      <i class="fas fa-file-alt"></i>
      doklady
   </a>
</li>

<li>
   <a n:href=":Admin:Customers:">
      <i class="fas fa-users"></i>
      zákazníci
   </a>
</li>

<li class="dropdown">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
      <i class="fas fa-cog"></i>
      nastavení <span class="caret"></span>
   </a>
   <ul class="dropdown-menu" role="menu">
      <li>
         <a n:href="selectCash!" class="ajax" onclick="$(this).closest('.dropdown').removeClass('open')">
            <i class="fas fa-arrows-alt"></i>
            Přepnout pokladnu
         </a>
      </li>
      <li>
         <a n:href="changeView!" class="ajax" onclick="$(this).closest('.dropdown').removeClass('open')">
            <i class="fas fa-sliders-h"></i>
            Změnit zobrazení
         </a>
      </li>
   </ul>
</li>