{block content}

<p class="pull-left">
   <a n:href="goBack!" class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> zpět do katalogu</a>
</p>

<div class="clearfix"></div>

{control addEditProductForm}