<div class="modal fade" tabindex="-1" role="dialog" n:snippet="modal">
   {if $control->isVisible()}
      {form form}
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Přiřadit projekt</h4>
               </div>
               <div class="modal-body">
                  <div class="form-group {if $form['project']->hasErrors()}has-error{/if}">
                     {input project}
                     <span class="help-block" n:foreach="$form['project']->getErrors() AS $error">{$error}</span>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                  <input n:name="submit" class="btn btn-primary" />
               </div>
            </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
      {/form}
   {/if}
</div><!-- /.modal -->