{snippetArea box}
   <div class="box box-default" id="{$control->getName()}">
      <div class="box-header with-border">
         <div class="pull-left">
            <h3 class="box-title">Výběr produktů</h3>
         </div>

         <div class="pull-right" n:inner-snippet="form">
            {form form}
               <div class="form-group {if $control->searchedTerm}has-warning{/if}">
                  <div class="input-group" style="width: 350px;">
                     <div class="input-group-btn" n:if="$control->searchedTerm">
                        <a n:href="resetSearching!" class="btn btn-warning ajax spinner">
                           <i class="fa fa-cancel"></i> zrušit
                        </a>
                     </div>

                     {input searchedTerm}

                     <div class="input-group-btn">
                        <button n:name="search" class="spinner btn {if $control->searchedTerm}btn-warning{else}btn-default{/if}">
                           <i class="fa fa-search"></i>
                        </button>
                     </div>
                  </div>
               </div>
            {/form}
         </div>

         <div class="clearfix"></div>

         <div class="pull-left" n:inner-snippet="location">
            {control categoryLocationScheme}
         </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
         <table class="table table-hover table-striped" n:snippet="table">
            <thead>
               <tr>
                  <th style="width: 20px"></th>
                  <th style="width: 20px"></th>
                  <th style="width: 50%">Název</th>
                  <th style="width: 25%">EAN</th>
                  <th style="width: 10%">PLU</th>
                  <th style="width: 12%"></th>
               </tr>
            </thead>

            <tbody n:snippet="body">
               <tr n:if="$control->searchedTerm">
                  <td colspan="6" class="text-center danger">
                     výsledky jsou filtrovány pro výraz <strong>{$control->searchedTerm}</strong>
                  </td>
               </tr>
               <tr n:if="$control->getActualCategory()">
                  <td colspan="6" class="text-center">
                     <a n:href="up!" class="center-block ajax spinner spinner">
                        <span class="glyphicon glyphicon-arrow-up" style="padding-right: 60px;"></span>
                        o úroveň výše
                        <span class="glyphicon glyphicon-arrow-up" style="padding-left: 60px;"></span>
                     </a>
                  </td>
               </tr>
               {if !$control->searchedTerm}
                  <tr n:foreach="$control->getCategories() AS $category" n:snippet="'category_' . $category->getId()">
                     <td style="background-color: {$category->getColor()|noescape};"></td>
                     <td>
                        <i class="fa fa-folder" aria-hidden="true"></i>
                     </td>
                     <td colspan="4">
                        <a n:href="changeCategory!, $category->getId()" class="ajax spinner center-block">
                           {$category->getName()}
                        </a>
                     </td>
                  </tr>
                  <tr n:foreach="$control->getProducts() AS $product" n:snippet="'product_' . $product->getId()">
                     <td style="background-color: {$product->getColor()|noescape};"></td>
                     <td></td>

                     <td>{$product->getName()}</td>
                     <td>{$product->getEan()}</td>
                     <td>{$product->getPlu()}</td>
                     <td>
                        {if $control->isProductSelected($product)}
                           <a n:href="unselectProduct!, $product->getId()" class="ajax spinner btn btn-warning btn-sm">odebrat</a>
                        {else}
                           <a n:href="selectProduct!, $product->getId()" class="ajax spinner btn btn-success btn-sm">vybrat</a>
                        {/if}
                     </td>
                  </tr>
               {else}
                  {foreach $control->searchProductsAndCategories() AS $item}
                     <tr n:if="$item['category'] != $control->getActualCategory()">
                        <td style="background-color: {$item['category']->getColor()|noescape};"></td>
                        <td>
                           <i class="fa fa-folder-open" aria-hidden="true"></i>
                        </td>

                        <td colspan="4">
                           <a n:href="changeCategory!, $item['category']->getId()" class="ajax spinner center-block">
                              {$item['location']|implode:' / '}
                           </a>
                        </td>
                     </tr>

                     {ifset $item['products']}
                        <tr n:foreach="$item['products'] AS $product" n:snippet="'product_' . $product->getId()">
                           <td style="background-color: {$product->getColor()|noescape};"></td>
                           <td style="padding-left: 15px;"></td>

                           <td style="padding-left: 20px;">{$product->getName()}</td>
                           <td>{$product->getEan()}</td>
                           <td>{$product->getPlu()}</td>
                           <td>
                              {if $control->isProductSelected($product)}
                                 <a n:href="unselectProduct!, $product->getId()" class="ajax btn btn-warning btn-sm">odebrat</a>
                              {else}
                                 <a n:href="selectProduct!, $product->getId()" class="ajax btn btn-success btn-sm">vybrat</a>
                              {/if}
                           </td>
                        </tr>
                     {/ifset}
                  {/foreach}
               {/if}
            </tbody>
         </table>
      </div>
      <!-- /.box-body -->
   </div>

   {snippet url}
      <script type="text/javascript">
          var url = {link barcodeScanned!, code=>''};
      </script>
   {/snippet}
{/snippetArea}


<script type="text/javascript">
    $(document).barcodeScannerListener().on("barcode.valid", function(e, code) {
        $.notify({
            message: "Načten EAN: " + code,
            icon: "icon fa fa-info"
        });

        $.nette.ajax({
            url: url,
            data: {
                {$control->getParameterId('code')}: code
            }
        })
    });
</script>