{form form}
   {foreach $form->getOwnErrors() AS $error}
      <div class="alert alert-danger">
         {$error}
      </div>
   {/foreach}

   <div class="form-group has-feedback {if $form['email']->hasErrors()}has-error{/if}">
         {input email}
         <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
         <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
   </div>
   <div class="form-group has-feedback {if $form['password']->hasErrors()}has-error{/if}">
      {input password}
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      <span class="help-block" n:foreach="$form['password']->getErrors() AS $error">{$error}</span>
   </div>
   <div class="row">
      <div class="col-xs-7 text-left">
         <div class="checkbox icheck">
            {label rememberMe}
               {input rememberMe}
            {/label}
         </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-5 text-right">
         {input signIn}
      </div>
      <!-- /.col -->
   </div>
{/form}