{snippet all}
<div class="box box-default" style="height: 100%"  id="productSelectGridView">
   <div class="box-header with-border">
      <h3 class="box-title pull-left">Katalog zboží</h3>

      <div class="pull-right">
         {control categoryLocationScheme}
      </div>
   </div>
   <!-- /.box-header -->
   <div class="box-body">
      <div n:snippet="suggested">
         {foreach $control->getSuggestedProducts() AS $product}
            <a n:href="selectProduct, $product->getId()" class="item ajax ajaxSpinnerGridView bg-warning">
               <span class="icon"><i class="fas fa-star text-red"></i></span>
               <span class="name">{$product->getName()}</span>
               <span class="price" title="Cena za jednotku">
                  {if $control->isSellerTaxablePerson()}
                     <span class="label label-info">{$product->getUnitPriceWithVat($product)|number: 2}</span>
                  {else}
                     <span class="label label-info">{$product->getUnitPrice()|number: 2}</span>
                  {/if}
                  Kč
               </span>
               <span class="quantityInStock" title="Stav skladu" n:if="$control->isWarehouseEnabled()">
                  {$product->getQuantityInStock()} {\App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($product->getMeasurementUnit())}
               </span>
            </a>
         {/foreach}
         {if count($control->getSuggestedProducts())}
            <div class="clearfix"></div>
            <hr />
            <div class="clearfix"></div>
         {/if}
      </div>
      <div n:snippet="items">
         {if $control->getActualCategory()}
            {var $parent = $control->getActualCategory()->getParent()}
            <a n:href="openCategory!, $parent ? $parent->getId() : null" class="item ajax ajaxSpinnerGridView ajax-history bg-success" style="border: 0">
                  <span class="name">
                     o úroveň výše <i class="fas fa-level-up-alt" aria-hidden="true"></i>
                  </span>
            </a>
         {/if}

         {foreach $control->getCategories() AS $category}
         <a n:href="openCategory!, $category->getId()" class="item ajax ajaxSpinnerGridView ajax-history"
                                                       style="background: {$category->getColor()|noescape}; color: {\App\Model\Helpers\ColorHelper::getContrastYIQ($category->getColor())|noescape}; border-color: {\App\Model\Helpers\ColorHelper::getContrastYIQ($category->getColor())|noescape}"
         >
            <i class="fas fa-folder faa-pulse icon"></i>
            <span class="name" style="color: {\App\Model\Helpers\ColorHelper::getContrastYIQ($category->getColor())|noescape}">
               {$category->getName()}
            </span>
         </a>
         {/foreach}
         {foreach $control->getProducts() AS $product}
            {var $textColor = "color: " . \App\Model\Helpers\ColorHelper::getContrastYIQ($product->getColor()) .";"}
            <a n:href="selectProduct, $product->getId()" class="item ajax ajaxSpinnerGridView faa-parent animated-hover" {if $product->getColor()}style="background: {$product->getColor()|noescape};  {$textColor|noescape}  border-color: {\App\Model\Helpers\ColorHelper::getContrastYIQ($product->getColor())|noescape}"{/if}>
               <i class="fas fa-cart-plus faa-pulse icon fa-2x"></i>
               <span class="name" style="{$textColor|noescape}">{$product->getName()}</span>
               <span class="price" title="Cena za jednotku">
                  {if $control->isSellerTaxablePerson()}
                     <span class="label label-info">{$product->getUnitPriceWithVat($product)|number: 2}</span>
                  {else}
                     <span class="label label-info">{$product->getUnitPrice()|number: 2}</span>
                  {/if}
                  Kč
               </span>
               <span class="quantityInStock" title="Stav skladu" n:if="$control->isWarehouseEnabled()">
                  {$product->getQuantityInStock()} {\App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($product->getMeasurementUnit())}
               </span>
            </a>
         {/foreach}

         {if !count($control->getProducts()) && $control->getActualCategory()}
            <div class="clearfix"></div>
            <div class="text-center">žádný produkt&hellip;</div>
         {/if}
      </div>
   </div>
   <!-- /.box-body -->
</div>

<script type="text/javascript">
    $.nette.ext('ajaxSpinnerGridView', {
        start: function(jqXHR, settings) {
            if(!settings.nette || !settings.nette.el.is(".ajaxSpinnerGridView")) {
                return;
            }

            //show spinner
            $("#productSelectGridView").append($('<div class="overlay">' +
                '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
                '                          </div>'));
        },
        success: function(payload, status, jqXHR, settings){
            if(settings.nette && !settings.nette.el.is(".ajaxSpinnerGridView")) {
                return;
            }

            //remove spinner
            $("#productSelectGridView").find(".overlay").fadeOut();
        }
    });
</script>
{/snippet}