<div class="box box-danger collapsed-box" id="editCustomerBox">
   <div class="box-header with-border">
      <h3 class="box-title">
         <i class="fas fa-user"></i> Upravit údaje o zákazníkovi (příjemci)
      </h3>
      <div class="box-tools pull-right">
         <a href="" class="btn btn-danger hidden" id="customerDetailsSaveButton">
            uložit
            <i class="fas fa-save faa-pulse animated"></i>
         </a>
         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
         </button>
      </div>
   </div>
   <!-- /.box-header -->
   <div class="box-body" n:inner-snippet="content">
      {form form}
      <div class="row">
         <div class="col-sm-6 col-xs-12">
            <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
               {label name}
               {input name}
               <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="col-md-6 col-xs-12">
            <div class="form-group {if $form['street']->hasErrors()}has-error{/if}">
               {label street}
               {input street}
               <span class="help-block" n:foreach="$form['street']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="col-md-6 col-xs-12">
            <div class="form-group {if $form['city']->hasErrors()}has-error{/if}">
               {label city}
               {input city}
               <span class="help-block" n:foreach="$form['city']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="col-md-6 col-xs-12">
            <div class="form-group {if $form['zip']->hasErrors()}has-error{/if}">
               {label zip}
               {input zip}
               <span class="help-block" n:foreach="$form['zip']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="col-md-6 col-xs-12">
            <div class="form-group {if $form['vatNo']->hasErrors()}has-error{/if}">
               {label vatNo /}
               <div class="input-group">
                  {input vatNo}
                  <span class="input-group-btn">
                        <a href="#" class="btn btn-primary" id="loadCompanyData">načíst data z ARES</a>
                     </span>
               </div>

               <script type="text/javascript">
                   $("#loadCompanyData").click(function (e){
                       e.preventDefault();
                       $.nette.ajax({
                           url: {link loadCompanyData!},
                           off: ['ajaxSpinnerEditCustomerBox'],
                           data: {
                              {$control->getParameterId('vatNo')}: $("#" + {$form['vatNo']->getHtmlId()}).val()
                        },
                       start: function(){
                           //show spinner
                           $("#editCustomerBox").append($('<div class="overlay">' +
                               '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
                               '                          </div>'));
                       },
                       success: function(payload){
                           if(payload.ares) {
                               var ares = payload.ares;

                               $("#" + {$form['name']->getHtmlId()}).val(ares.company);
                               $("#" + {$form['street']->getHtmlId()}).val(ares.street + ' ' + ares.streetNumber);
                               $("#" + {$form['city']->getHtmlId()}).val(ares.city);
                               $("#" + {$form['zip']->getHtmlId()}).val(ares.zip);
                               $("#" + {$form['vatId']->getHtmlId()}).val(ares.vatId);

                               $("#customerDetailsSaveButton").removeClass("hidden");
                           }


                           //remove spinner
                           $("#editCustomerBox").find(".overlay").fadeOut();
                       }
                   })
                   });

                   $("#" + {$form['vatNo']->getHtmlId()}).keyup(function(e){
                       if(e.keyCode == 13)
                       {
                           $("#loadCompanyData").click();
                           e.stopPropagation();
                       }
                   });
               </script>

               <span class="help-block" n:foreach="$form['vatNo']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="col-md-6 col-xs-12">
            <div class="form-group {if $form['vatId']->hasErrors()}has-error{/if}">
               {label vatId}
               {input vatId}
               <span class="help-block" n:foreach="$form['vatId']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="col-md-6 col-xs-12">
            <div class="form-group {if $form['phone']->hasErrors()}has-error{/if}">
               {label phone}
               {input phone}
               <span class="help-block" n:foreach="$form['phone']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
         <div class="col-md-6 col-xs-12">
            <div class="form-group {if $form['email']->hasErrors()}has-error{/if}">
               {label email}
               {input email}
               <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
      </div>

      <div class="hidden">
         <input n:name="save">
      </div>
      {/form}
   </div>
</div>

<script type="text/javascript">
    $("#editCustomerBox").on("change", "input", function () {
        $("#customerDetailsSaveButton").removeClass("hidden");
    });

    $("#editCustomerBox").on("keyup", "input", function (e) {
        if(e.keyCode != 13)
        {
            $(this).change();
        }
    });

   $("#customerDetailsSaveButton").click(function (e) {
       $("#" + {$control['form']->getElementPrototype()->getId()}).submit();
       e.preventDefault();
   });

   $("#editCustomerBox .box-header, #editCustomerBox .box-title").on('click', function(e) {
       if (e.target !== this)
           return;

       $("#editCustomerBox").boxWidget("toggle");
   });

   $.nette.ext('ajaxSpinnerEditCustomerBox', {
     start: function(jqXHR, settings) {
         if(!settings.nette || !settings.nette.el.is(".ajaxSpinnerEditCustomerBox")) {
             return;
         }

         //show spinner
         $(".editCustomerBox").append($('<div class="overlay">' +
             '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
             '                          </div>'));
     },
     complete: function(payload, status, jqXHR, settings) {
         if(settings.nette && !settings.nette.el.is(".ajaxSpinnerEditCustomerBox")) {
             return;
         }

         //remove spinner
         $(".editCustomerBox").find(".overlay").fadeOut();
         $("#customerDetailsSaveButton").addClass("hidden");
     }
    });
</script>