html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;

  /* Margin bottom by footer height */
  margin-bottom: 90px;
}

label.required::after {
  content: " *";
  color: red;
  font-size: 17px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

h1 {
  margin-top: 0;
}

.dl-nice dt {
  float: left;
  width: 50%;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}
.dl-nice dd {
  margin-bottom: 5px;
}