@box-border-color: #e4e4e4;
@box-border-radius: 3px;
@box-footer-bg: #fff;
@box-boxshadow: 0 1px 1px rgba(0, 0, 0, .1);
@box-padding: 10px;
@gray-lte: #d2d6de;

//COLORS
//--------------------------------------------------------
//Primary
@light-blue: #3c8dbc;
//Danger
@red: #dd4b39;
//Success
@green: #00a65a;
//Info
@aqua: #00c0ef;
//Warning
@yellow: #f39c12;
@blue: #0073b7;
@navy: #001F3F;
@teal: #39CCCC;
@olive: #3D9970;
@lime: #01FF70;
@orange: #FF851B;
@fuchsia: #F012BE;
@purple: #605ca8;
@maroon: #D81B60;
@black: #111;
@gray-lte: #d2d6de;

@import "../../../bower_components/AdminLTE/build/less/mixins.less";
@import "../../../bower_components/AdminLTE/build/less/miscellaneous.less";

/*
 * Component: Timeline
 * -------------------
 */

.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;

  // The line
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    .border-radius(2px);
  }

  > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
    .clearfix();

    // The content
    > .timeline-item {
      .box-shadow(@box-boxshadow);
      .border-radius(@box-border-radius);
      margin-top: 0;
      background: #f5f5f5;
      color: #2a2a2a;
      margin-left: 60px;
      margin-right: 15px;
      padding: 0;
      position: relative;

      // The time and header
      > .time {
        color: #999;
        float: right;
        padding: 10px;
        font-size: 12px;
      }
      > .timeline-header {
        margin: 0;
        color: #555;
        border-bottom: 1px solid @box-border-color;
        padding: 10px;
        font-size: 16px;
        line-height: 1.1;
        > a {
          font-weight: 600;
        }
      }
      // Item body and footer
      > .timeline-body, > .timeline-footer {
        padding: 10px;
      }

    }

    // The icons
    > .fa,
    > .fas,
    > .glyphicon,
    > .ion {
      width: 30px;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      position: absolute;
      color: #666;
      background: @gray-lte;
      border-radius: 50%;
      text-align: center;
      left: 18px;
      top: 0;
    }
  }

  // Time label
  > .time-label {
    > span {
      font-weight: 600;
      padding: 5px;
      display: inline-block;
      background-color: #fff;

      .border-radius(4px);
    }
  }
}