{capture $_title}
   {ifset #title}
      {include title|striptags|strip}
   {/ifset}
{/capture}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {if !empty($_title)}
                {$_title} |
            {/if}
            FÉR pokladna
        </title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link rel="stylesheet" href="/assets/css/admin.css">
        <script src="/assets/js/admin.js" type="text/javascript" />
    </head>

    {include body}

</html>