{extends "@layoutBase.latte"}

{block title}
   {if $presenter['breadcrumb']->getLast()->getSubName()}
        {$presenter['breadcrumb']->getLast()->getName()} - {$presenter['breadcrumb']->getLast()->getSubName()}
   {else}
      {$presenter['breadcrumb']->getLast()->getName()}
   {/if}
{/block}

{block  body}
<body class="hold-transition skin-green sidebar-mini">
<script>
    (function () {
        if($.cookie('sidebarExpanded') === 0) {
            var body = document.getElementsByTagName('body')[0];
            body.className = body.className + ' sidebar-collapse';
        }
    })();
</script>
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a n:href=":Admin:Dashboard:" class="logo" n:if="\App\Model\Enums\UserRole::isUserOfBackend($presenter->getLoggedUser())">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>F</b>P</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>FÉR</b> pokladna</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="bg-orange">
                        <a n:href=":Cash:MakeSell:">
                            <i class="fas fa-shopping-basket"></i>
                            <span>Prodej</span>
                        </a>
                    </li>

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="{$presenter->getAvatar()}" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{$presenter->getLoggedUser()->getName()}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="{$presenter->getAvatar()}" class="img-circle" alt="User Image">

                                <p>
                                    {$presenter->getLoggedUser()->getName()}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a n:href=":Admin:Profile:" class="btn btn-default btn-flat">Můj profil</a>
                                </div>
                                <div class="pull-right">
                                    <a n:href=":Admin:Sign:out" class="btn btn-default btn-flat">Odhlásit se</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {include "sidebar.latte"}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {if $presenter['breadcrumb']->getLast()->getSubName()}
                  {$presenter['breadcrumb']->getLast()->getName()}
                  <small>{$presenter['breadcrumb']->getLast()->getSubName()}</small>
                {else}
                  {$presenter['breadcrumb']->getLast()->getName()}
                {/if}
            </h1>

            {control flashMessage}
            {control flashMessageNotify}

            {control breadcrumb}
        </section>

        <!-- Main content -->
        <section class="content">

            {include content}

            <div class="clearfix"></div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 Jakub Švestka</strong>
    </footer>
</div>
<!-- ./wrapper -->

</body>
{/block}