<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" id="sidebarToggleRememberState">

   <!-- sidebar: style can be found in sidebar.less -->
   <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
         <li class="header">Navigace</li>
         <li n:class="$presenter->isLinkCurrent(':Admin:Dashboard:') ? active">
            <a n:href=":Admin:Dashboard:">
               <i class="fas fa-tachometer-alt"></i>
               <span>Dashboard</span>
            </a>
         </li>
         <li n:class="$presenter->isLinkCurrent(':Admin:Receipts:*') ? active" n:if="$user->isAllowed('Admin:Receipts')">
            <a n:href=":Admin:Receipts:">
               <i class="fas fa-file-alt"></i>
               <span>Doklady</span>
            </a>
         </li>

         <li n:class="$presenter->isLinkCurrent(':Admin:Goods:*') ? active" n:if="$user->isAllowed('Admin:Goods')">
            <a n:href=":Admin:Goods:default">
               <i class="fa fa-shopping-bag "></i>
               <span>Zboží</span>
            </a>
         </li>

         <li n:class="$presenter->isLinkCurrent(':Admin:Customers:*') ? active" n:if="$user->isAllowed('Admin:Customers')">
            <a n:href=":Admin:Customers:default">
               <i class="fa fa-user"></i>
               <span>Zákazníci</span>
            </a>
         </li>

         <li class="treeview {$presenter->isLinkCurrent(":Tickets:CreateTicket:*") ||
                              $presenter->isLinkCurrent(":Tickets:TicketList:*") ||
                              $presenter->isLinkCurrent(":Tickets:Ticket:*") ? " active"}"
               n:if="$user->isAllowed('Tickets:CreateTicket') ||
                     $user->isAllowed('Tickets:TicketList') ||
                     $user->isAllowed('Tickets:Ticket')"
         >
            <a href="#"><i class="fas fa-ticket-alt"></i> <span>Tiketovací systém</span>
               <span class="pull-right-container">
              <i class="fas fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
               <li n:class="($presenter->isLinkCurrent(':Tickets:TicketList:default') ||
                            $presenter->isLinkCurrent(':Tickets:Ticket:*')) ? active" n:if="$user->isAllowed('Tickets:TicketList', 'default')">
                  <a n:href=":Tickets:TicketList:default">
                     Správa tiketů
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Tickets:TicketList:my') ? active" n:if="$user->isAllowed('Tickets:TicketList', 'my')">
                  <a n:href=":Tickets:TicketList:my">
                     Moje tikety
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Tickets:CreateTicket:*') ? active" n:if="$user->isAllowed('Tickets:CreateTicket')">
                  <a n:href=":Tickets:CreateTicket:default">
                     Založit tiket
                  </a>
               </li>
            </ul>
         </li>

         <li class="treeview {$presenter->isLinkCurrent(":Admin:StockInProducts:*") ||
                              $presenter->isLinkCurrent(":Admin:StockMovementHistory:*") ? " active"}"
                 n:if="$user->isAllowed('Admin:StockInProducts') ||
                        $user->isAllowed('Admin:StockMovementHistory')"
         >
            <a href="#">
               <i class="fa fa-database"></i>
               <span>Sklad</span>

               <span class="pull-right-container">
                  <i class="fas fa-angle-left pull-right"></i>
               </span>
            </a>
            <ul class="treeview-menu">
               <li n:class="$presenter->isLinkCurrent(':Admin:StockInProducts:*') ? active" n:if="$user->isAllowed('Admin:StockInProducts')">
                  <a n:href=":Admin:StockInProducts:default">
                     <i class="fas fa-plus" aria-hidden="true"></i>
                     <span>Naskladnění</span>
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Admin:StockMovementHistory:*') ? active" n:if="$user->isAllowed('Admin:StockMovementHistory')">
                  <a n:href=":Admin:StockMovementHistory:default">
                     <i class="fas fa-arrows-alt" aria-hidden="true"></i>
                     <span>Skladové pohyby</span>
                  </a>
               </li>
            </ul>
         </li>

         <li class="treeview {$presenter->isLinkCurrent(":Admin:News:*") ||
                              $presenter->isLinkCurrent(":Admin:Faq:*") ||
                              $presenter->isLinkCurrent(":Admin:Downloads:*") ||
                              $presenter->isLinkCurrent(":Admin:PortalPageContent:*") ? " active"}"
            n:if="$user->isAllowed('Admin:News') ||
                  $user->isAllowed('Admin:Faq') ||
                  $user->isAllowed('Admin:Downloads') ||
                  $user->isAllowed('Admin:PortalPageContent')"
         >
            <a href="#"><i class="fa fa-sitemap"></i> <span>Portál pro zákazníky</span>
               <span class="pull-right-container">
              <i class="fas fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
               <li n:class="$presenter->isLinkCurrent(':Admin:News:*') ? active" n:if="$user->isAllowed('Admin:News')">
                  <a n:href=":Admin:News:default">
                     <i class="fa fa-comment"></i>
                     <span>Aktuality</span>
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Admin:Faq:*') ? active" n:if="$user->isAllowed('Admin:Faq')">
                  <a n:href=":Admin:Faq:default">
                     <i class="fa fa-question"></i>
                     <span>FAQ</span>
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Admin:Downloads:*') ? active" n:if="$user->isAllowed('Admin:Downloads')">
                  <a n:href=":Admin:Downloads:default">
                     <i class="fa fa-download"></i>
                     <span>Soubory ke stažení</span>
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Admin:PortalPageContent:*') ? active" n:if="$user->isAllowed('Admin:PortalPageContent')">
                  <a n:href=":Admin:PortalPageContent:default">
                     <i class="far fa-file-alt"></i>
                     <span>Obsah stránek</span>
                  </a>
               </li>
            </ul>
         </li>

         <li class="treeview {$presenter->isLinkCurrent(":Admin:Supplier:*") ||
                              $presenter->isLinkCurrent(":Admin:TaxRate:*") ||
                              $presenter->isLinkCurrent(":Admin:MeasurementUnit:*") ? " active"}"
            n:if="$user->isAllowed('Admin:Supplier') ||
                  $user->isAllowed('Admin:TaxRate') ||
                  $user->isAllowed('Admin:MeasurementUnit')"
         >

         <a href="#">
               <i class="fa fa-list-ul" aria-hidden="true"></i>
               <span>Seznamy</span>
               <span class="pull-right-container">
               <i class="fas fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
               <li n:class="$presenter->isLinkCurrent(':Admin:Supplier:*') ? active"  n:if="$user->isAllowed('Admin:Supplier')">
                  <a n:href=":Admin:Supplier:default">
                     <i class="fa fa-comment"></i>
                     <span>Dodavatelé</span>
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Admin:TaxRate:*') ? active"  n:if="$user->isAllowed('Admin:TaxRate')">
                  <a n:href=":Admin:TaxRate:default">
                     <i class="fa fa-percent"></i>
                     <span>Sazby DPH</span>
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Admin:MeasurementUnit:*') ? active"  n:if="$user->isAllowed('Admin:MeasurementUnit')">
                  <a n:href=":Admin:MeasurementUnit:default">
                     <i class="fa fa-balance-scale"></i>
                     <span>Měrné jednotky</span>
                  </a>
               </li>
            </ul>
         </li>

         <li n:class="$presenter->isLinkCurrent(':Admin:Users:*') ? active" n:if="$user->isAllowed('Admin:Users')">
            <a n:href=":Admin:Users:default">
               <i class="fa fa-users"></i>
               <span>Uživatelé</span>
            </a>
         </li>

         <li n:class="$presenter->isLinkCurrent(':Admin:Cash:*') ? active" n:if="$user->isAllowed('Admin:Cash')">
            <a n:href=":Admin:Cash:default">
               <i class="fas fa-money-bill-alt"></i>
               <span>Pokladny</span>
            </a>
         </li>
         <li n:class="$presenter->isLinkCurrent(':Admin:Settings:*') ? active" n:if="$user->isAllowed('Admin:Settings')">
            <a n:href=":Admin:Settings:default">
               <i class="fa fa-wrench"></i>
               <span>Nastavení</span>
            </a>
         </li>
         <li class="treeview {$presenter->isLinkCurrent(":Admin:Statistics:*") ? " active"}"
                 n:if="$user->isAllowed('Admin:Statistics')"
         >

            <a href="#">
               <i class="fas fa-chart-line" aria-hidden="true"></i>
               <span>Statistiky</span>
               <span class="pull-right-container">
               <i class="fas fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
               <li n:class="$presenter->isLinkCurrent(':Admin:Statistics:revenues') ? active">
                  <a n:href=":Admin:Statistics:revenues">
                     <i class="far fa-money-bill-alt"></i>
                     <span>Tržby</span>
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Admin:Statistics:stock') ? active">
                  <a n:href=":Admin:Statistics:stock">
                     <i class="fas fa-database"></i>
                     <span>Sklad</span>
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Admin:Statistics:products') ? active">
                  <a n:href=":Admin:Statistics:products">
                     <i class="fas fa-shopping-bag "></i>
                     <span>Zboží</span>
                  </a>
               </li>
               <li n:class="$presenter->isLinkCurrent(':Admin:Statistics:tickets') ? active">
                  <a n:href=":Admin:Statistics:tickets">
                     <i class="fas fa-ticket-alt"></i>
                     <span>Tikety</span>
                  </a>
               </li>
            </ul>
         </li>
         <li n:class="$presenter->isLinkCurrent(':Admin:Logs:receipts') ? active" n:if="$user->isAllowed('Admin:Logs:receipts')">
            <a n:href=":Admin:Logs:receipts">
               <i class="fas fa-history"></i>
               <span>LOG dokladů</span>
            </a>
         </li>
      </ul>
      <!-- /.sidebar-menu -->
   </section>
   <!-- /.sidebar -->
</aside>