<div class="box box-primary">
   <div class="box-header with-border">
      <h3 class="box-title">
         <span n:snippet="receiptName">
            {if $receipt->getName()}
               {$receipt->getName()}
            {else}
               Účet
            {/if}
         </span>
      </h3>
   </div>
   <!-- /.box-header -->
   <div class="box-body table-responsive no-padding">
      <div id="receiptTableOverflow">
         <table class="table table-fixed" id="receiptTable">
            <thead>
            <tr>
               <th class="itemName">položka</th>
               <th class="quantity">množství</th>
               <th class="sum">mezisoučet</th>
               <th></th>
            </tr>
            </thead>
            <tbody n:snippet="itemsContainer">
               {foreach $items AS $item}
                  {include item, $item}
               {/foreach}
            </tbody>
         </table>
      </div>

      <div id="receiptOverview">
         <div class="col-xs-4">
            {if $control->isSellerTaxablePerson()}
               <strong>Daň:</strong> <br />
               <span>{$control->getTaxAmount()|number: 2} Kč</span>
            {/if}
         </div>
         <div class="col-xs-4">
            <strong>Položek:</strong> <br />
            <span>{$receipt->numberOfItems()}</span>
         </div>
         <div class="col-xs-4">
            <strong>Celková cena:</strong> <br />
            <span>
               <span style="font-size: 30px;" class="sum">{$control->getReceiptSum( $control->isSellerTaxablePerson() )|number: 2}</span>
               Kč
            </span>
         </div>
      </div>
   </div>
</div>

{define item, $item}
   <tr class="item">
      <td>
         {$item->getName()}
         {if $item->getNote()}
         {/if}
      </td>
      <td class="quantity">
         <span>
            {$item->getQuantity()}
         </span>
      </td>
      <td class="sum" colspan="2">
         {$item->getPartialSum($control->isSellerTaxablePerson())|number: 2} <span class="currency">Kč</span>
      </td>
   </tr>

   <tr class="itemExtraRow">
      <td class="note" colspan="3">
         {if $item->getNote()}
            {$item->getNote()}
         {/if}
      </td>
   </tr>
{/define}



<script type="text/javascript">
    $('#receiptTableOverflow').css({ height: $(window).innerHeight() - 250 });
    $(window).resize(function(){
        $('#receiptTableOverflow').css({ height: $(window).innerHeight() - 250 });
    });
</script>