<div id="receiptTableOverflow">
   <table class="table" id="receiptTable">
      <thead>
         <tr>
            <th class="itemName">položka</th>
            <th class="quantity">množství</th>
            <th class="sum">mezisoučet</th>
            <th class="tools"></th>
         </tr>
      </thead>
      <tbody n:snippet="itemsContainer">
         <tr n:if="!count($control->getItems())">
            <td colspan="4" class="text-center"><em>bez položek</em></td>
         </tr>
         {foreach $items AS $item}
            {include item, $item}
         {/foreach}
      </tbody>
   </table>
</div>

{snippet deleted}
   <script type="text/javascript" n:ifset="$deleted">
      $("#receiptTable").find(".item[data-id=" + {$deleted} + "]").fadeOut();
      $("#receiptTable").find(".itemExtraRow[data-id=" + {$deleted} + "]").fadeOut();
   </script>
{/snippet}

{define item, $item}
   <tr class="item" n:snippetArea="itemsContainer-{$item->getId()}" data-id="{$item->getId()}">
      <td n:inner-snippet="itemsContainer-{$item->getId()}-name">
         {$item->getName()}
      </td>
      <td class="quantity">
         <div class="btn-group-vertical" n:if="!$readOnly">
            <a n:href="quantityPlus!, $item->getId()" class="btn btn-primary ajax">
               <span class="glyphicon glyphicon-plus"></span>
            </a>

            <a n:href="quantityMinus!, $item->getId()" class="btn btn-primary ajax">
               <span class="glyphicon glyphicon-minus"></span>
            </a>
         </div>

         <span n:inner-snippet="itemsContainer-{$item->getId()}-quantity">
            {$item->getQuantity()}
         </span>
      </td>
      <td class="sum" n:inner-snippet="itemsContainer-{$item->getId()}-sum">
         {$item->getPartialSum($control->isSellerTaxablePerson())|number: 2} <span class="currency">Kč</span>
      </td>
      <td>
         <div class="btn-group-vertical" n:if="!$readOnly">
            <a n:href="editItem!, $item->getId()" class="btn btn-warning btn-sm ajax">
               <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a n:href="removeItem!, $item->getId()" class="btn btn-danger btn-sm ajax">
               <span class="glyphicon glyphicon-remove"></span>
            </a>
         </div>
      </td>
   </tr>

   <tr class="itemExtraRow" data-id="{$item->getId()}" n:snippetArea="itemsContainerExtra-{$item->getId()}" n:if="!$overview">
      <td class="note" n:inner-snippet="itemsContainerExtra-{$item->getId()}-note">
         {if $item->getNote()}
            {$item->getNote()}
         {/if}
      </td>
      <td class="unit" n:inner-snippet="itemsContainerExtra-{$item->getId()}-unit">
         {if $item->getProductId()}
            {if $item->getAmountInSellUnit() > 1.0}
               {$item->getAmountInSellUnit() * $item->getQuantity()}
               {\App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($control->getProduct($item->getProductId())->getMeasurementUnit())}
            {else}
               {$item->getQuantity()}
               {\App\Model\Helpers\MeasurementUnitHelper::getSellUnitText($control->getProduct($item->getProductId())->getMeasurementUnit())}
            {/if}
         {else}
            ks
         {/if}
      </td>
      <td class="unitPrice" colspan="2">
         {if $item->getProductId()}
            {var $product = $control->getProduct($item->getProductId())}

            {if $control->isSellerTaxablePerson()}
               {$product->getUnitPriceWithVat($product)|number: 2} Kč /
            {else}
               {$product->getUnitPrice()|number: 2} Kč /
            {/if}

            {\App\Model\Helpers\MeasurementUnitHelper::getMeasurementUnitText($product->getMeasurementUnit())}
         {/if}
      </td>
   </tr>
{/define}