<div class="box box-primary" n:snippet="receipt">
   <div class="box-header with-border">
      <h3 class="box-title">
         <span n:snippet="receiptName">
            {if $receipt->getName()}
               {$receipt->getName()}
            {else}
               Účet
            {/if}
         </span>

         <a n:href="renameReceipt!" class="text-sm ajax" title="pojmenovat" n:if="!$readOnly">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
         </a>
      </h3>

      <div class="pull-right" n:if="!$readOnly">
         <a n:href="quickAddReceiptItem!" class="btn btn-warning btn-sm ajax"><i class="fa fa-plus" aria-hidden="true"></i> rychlá položka</a>
         <a n:href="addReceiptItem!" class="btn btn-primary btn-sm ajax"><i class="fa fa-plus" aria-hidden="true"></i> přidat položku</a>
      </div>
   </div>
   <!-- /.box-header -->
   <div class="box-body table-responsive no-padding">
      {snippetArea table}
         {include "table.latte"}
      {/snippetArea}
   </div>
   <!-- /.box-body -->


   {snippetArea overview}
   <div id="receiptOverview" class="box-footer">
      <div class="row">
         <div class="col-lg-3 col-xs-6" n:snippet="vat">
            {if $control->isSellerTaxablePerson()}
               <strong>Daň:</strong> <br />
               <span>{$control->getTaxAmount()|number: 2} Kč</span>
            {/if}
         </div>
         <div class="col-lg-3 col-xs-6">
            <strong>Položek:</strong> <br />
            <span n:snippet="count">{$receipt->numberOfItems()}</span>
         </div>
         <div class="col-xs-12 col-lg-6 text-right" n:if="!$readOnly" n:snippet="finishButton">
            <a n:href="finishSell!" class="btn btn-success btn-lg {if $receipt->countItems() == 0}disabled{/if}" style="width: 100%">
               <i class="far fa-money-bill-alt"></i>
               {$control->getReceiptSum( $control->isSellerTaxablePerson() )|number: 2} Kč
            </a>
         </div>
         <div class="col-sm-4" n:if="$readOnly">
            <strong>Celková cena:</strong> <br />
            <span><span class="sum">{$control->getReceiptSum( $control->isSellerTaxablePerson() )|number: 2}</span> Kč</span>
         </div>
      </div>
   </div>
   {/snippetArea}

   <div class="clearfix"></div>

   <script type="text/javascript">
       $('#receiptTableOverflow').css({ height: $(window).innerHeight() - 250 });
       $(window).resize(function(){
           $('#receiptTableOverflow').css({ height: $(window).innerHeight() - 250 });
       });
   </script>
</div>

{control addEditReceiptItemModal}
{control quickAddEditReceiptItemModal}
{control renameReceiptModal}