{block content}

<div class="container">
   <h1>{$pageTitle}</h1>
   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {foreach $presenter->getQuestions() AS $question}
         <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
               <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{$question->getId()}" aria-expanded="true" aria-controls="collapseOne">
                     {$question->getSubject()}
                  </a>
               </h4>
            </div>
            <div id="collapse_{$question->getId()}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
               <div class="panel-body">
                  {$question->getContent()|noescape}

                  <p n:if="$presenter->hasQuestionFile($question)">
                     <a n:href="download!, $question->getId()">
                        <i class="fa fa-download" aria-hidden="true"></i> Stáhnout přiložený soubor
                     </a>
                  </p>
               </div>
            </div>
         </div>
      {/foreach}
   </div>
</div>