{block content}

<div class="row">
   <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
         <div class="inner">
            <h3>{$presenter->getNewTicketsCount()}</h3>

            <p>{$control->translator->translate('backend.dashboard.newTickets')}</p>
         </div>
         <div class="icon">
            <i class="fa fa-plus" aria-hidden="true"></i>
         </div>
      </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
         <div class="inner">
            <h3>{$presenter->getOpenedTicketsCount()}</h3>

            <p>{$control->translator->translate('backend.dashboard.openedTickets')}</p>
         </div>
         <div class="icon">
            <i class="fa fa-ticket" aria-hidden="true"></i>
         </div>
      </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
         <div class="inner">
            <h3>{$presenter->getNewMessageTicketsCount()}</h3>

            <p>{$control->translator->translate('backend.dashboard.newReplies')}</p>
         </div>
         <div class="icon">
            <i class="fa fa-reply" aria-hidden="true"></i>
         </div>
      </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
         <div class="inner">
            <h3>{$presenter->getClosedTicketsCount()}</h3>

            <p>{$control->translator->translate('backend.dashboard.closedTickets')}</p>
         </div>
         <div class="icon">
            <i class="fa fa-close" aria-hidden="true"></i>
         </div>
      </div>
   </div>
   <!-- ./col -->
</div>



<div class="box box-default">
   <div class="box-header with-border">
      <i class="fa fa-bullhorn"></i>

      <h3 class="box-title">{$control->translator->translate('backend.dashboard.tickets')}</h3>
   </div>
   <!-- /.box-header -->
   <div class="box-body">
      {control timeline}

   </div>
   <!-- /.box-body -->
</div>
<!-- /.box -->
