<div class="input-group date">
   <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
   </div>
   {$input}
</div>

<script type="text/javascript" n:if="!$input->getAttribute('readonly') && !$input->getAttribute('disabled')">
    $('#' + {$datePicker->getHtmlId()}).datepicker({
        autoclose: true,
        language: 'cs',
        format: {$datePicker->getDateFormatJS()}
    });
</script>