{form form}
   <div class="box box-primary">
      <div class="box-header with-border">
         <h3 class="box-title">Obecné informace</h3>
      </div>
      <div class="box-body">

         <div class="row">
            <div class="col-md-6">
               <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
                  {label name /}
                  {input name}
                  <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['phone']->hasErrors()}has-error{/if}">
                  {label phone /}
                  {input phone}
                  <span class="help-block" n:foreach="$form['phone']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['email']->hasErrors()}has-error{/if}">
                  {label email /}
                  {input email}
                  <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
               </div>
            </div>

            <div class="col-md-6">
               <div class="form-group {if $form['note']->hasErrors()}has-error{/if}">
                  {label note /}
                  {input note}
                  <span class="help-block" n:foreach="$form['note']->getErrors() AS $error">{$error}</span>
               </div>

               {if $control->getUser()}
                  <p><strong>Registrován:</strong> {$control->getUser()->getRegistrationDate()|date:'j.n.Y H:i'}</p>
                  <p><strong>Poslední přihlášení:</strong>
                     {if $control->getUser()->getLastLoginDate()}
                        {$control->getUser()->getLastLoginDate()|date:'j.n.Y H:i'}
                     {else}
                        n/a
                     {/if}

                     <span class="label label-danger" n:if="!$control->getUser()->getUsername() && $control->getUser()->isAccountActive()">Účet nemá přiděleny přístupové údaje</span>
                     <span class="label label-danger" n:if="!$control->getUser()->isAccountActive()">Účet zákazníka není aktivní</span>
                   </p>
               {/if}
            </div>
         </div>
      </div>
   </div>
   <div class="box box-primary" id="boxContactDetails">
      <div class="box-header with-border">
         <h3 class="box-title">Kontaktní údaje</h3>
      </div>
      <div class="box-body">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group {if $form['street']->hasErrors()}has-error{/if}">
                  {label street /}
                  {input street}
                  <span class="help-block" n:foreach="$form['street']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['city']->hasErrors()}has-error{/if}">
                  {label city /}
                  {input city}
                  <span class="help-block" n:foreach="$form['city']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['zip']->hasErrors()}has-error{/if}">
                  {label zip /}
                  {input zip}
                  <span class="help-block" n:foreach="$form['zip']->getErrors() AS $error">{$error}</span>
               </div>
            </div>

            <div class="col-md-6">
               <div class="form-group {if $form['vatNo']->hasErrors()}has-error{/if}">
                  {label vatNo /}
                  <div class="input-group">
                     {input vatNo}
                     <span class="input-group-btn">
                        <a href="#" class="btn btn-primary" id="loadCompanyData">načíst data z ARES</a>
                     </span>
                  </div>

                  <script type="text/javascript">
                      $("#loadCompanyData").click(function (e){
                          e.preventDefault();
                          $.nette.ajax({
                              url: {link loadCompanyData!},
                              data: {
                                 {$control->getParameterId('vatNo')}: $("#" + {$form['vatNo']->getHtmlId()}).val()
                              },
                              start: function(){
                                  //show spinner
                                 $("#boxContactDetails").append($('<div class="overlay">' +
                                    '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
                                    '                          </div>'));
                              },
                              success: function(payload){
                                  if(payload.ares) {
                                      var ares = payload.ares;

                                     $("#" + {$form['company']->getHtmlId()}).val(ares.company);
                                     $("#" + {$form['street']->getHtmlId()}).val(ares.street + ' ' + ares.streetNumber);
                                     $("#" + {$form['city']->getHtmlId()}).val(ares.city);
                                     $("#" + {$form['zip']->getHtmlId()}).val(ares.zip);
                                     $("#" + {$form['vatId']->getHtmlId()}).val(ares.vatId);
                                  }

                                  //remove spinner
                                  $("#boxContactDetails").find(".overlay").fadeOut();
                              }
                      })
                      });
                  </script>

                  <span class="help-block" n:foreach="$form['vatNo']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['vatId']->hasErrors()}has-error{/if}">
                  {label vatId /}
                  {input vatId}
                  <span class="help-block" n:foreach="$form['vatId']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['company']->hasErrors()}has-error{/if}">
                  {label company /}
                  {input company}
                  <span class="help-block" n:foreach="$form['company']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-6">
         <div class="box box-danger">
            <div class="box-header with-border">
               <h3 class="box-title">Přihlašovací údaje do portálu pro zákazníky</h3>
            </div>
            <div class="box-body">
               <div class="alert alert-warning" n:if="$control->getUser() && !$control->getUser()->getUsername()">
                  <i class="icon fa fa-warning"></i> Zákazník nemá přístup do portálu pro zákazníky, jelikož nemá přiděleny přístupové údaje
               </div>

               <div class="form-group {if $form['username']->hasErrors()}has-error{/if}">
                  {label username /}
                  {input username}
                  <span class="help-block" n:foreach="$form['username']->getErrors() AS $error">{$error}</span>
                  <span class="help-block" n:if="!$form['username']->getErrors()">
                     <strong>Tip: </strong> lze rovněž použít emailovou adresu
                  </span>
               </div>
               <div class="form-group {if $form['password']->hasErrors()}has-error{/if}">
                  {label password /}
                  {input password}
                  <span class="help-block" n:foreach="$form['password']->getErrors() AS $error">{$error}</span>
                  <span class="help-block" n:if="$control->getUser() && !$form['password']->getErrors()">
                     Vyplňte jen v případě změny
                  </span>
               </div>
               <div class="form-group {if $form['passwordRepeat']->hasErrors()}has-error{/if}">
                  {label passwordRepeat /}
                  {input passwordRepeat}
                  <span class="help-block" n:foreach="$form['passwordRepeat']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="box box-warning">
            <div class="box-header with-border">
               <h3 class="box-title">Nastavení účtu</h3>
            </div>
            <div class="box-body">
               <div class="form-group {if $form['accountStatus']->hasErrors()}has-error{/if}">
                  {label accountStatus /}
                  {input accountStatus}
                  <span class="help-block" n:foreach="$form['accountStatus']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <input n:name="submit" class="btn btn-primary" />
{/form}