{form form}
   <div class="box box-primary">
      <div class="box-header with-border">
         <h3 class="box-title">Obecné informace</h3>
      </div>
      <div class="box-body">

         <div class="row">
            <div class="col-md-6">
               <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
                  {label name/}
                  {input name}
                  <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['phone']->hasErrors()}has-error{/if}">
                  {label phone/}
                  {input phone}
                  <span class="help-block" n:foreach="$form['phone']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['email']->hasErrors()}has-error{/if}">
                  {label email /}
                  {input email}
                  <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="pull-left">
                  <div class="form-group {if $form['avatar']->hasErrors()}has-error{/if}">
                     {label avatar/}
                     {input avatar}
                     <span class="help-block" n:foreach="$form['avatar']->getErrors() AS $error">{$error}</span>
                  </div>
                  <p class="help-block">podporované formáty: JPEG, PNG nebo GIF</p>
                  <p class="help-block">rozměr musí být 215px x 215px</p>
               </div>

               {snippet avatar}
                  <div class="pull-right" n:if="$control->hasAvatar()" style="width: 150px; text-align: center;">
                     <img src="{$control->getAvatarPath()}" alt="avatar" class="img-thumbnail" style="height: 150px;" /><br />
                     <a n:href="removeAvatar!" class="btn btn-danger btn-xs ajax" n:if="$control->hasAvatar()">smazat avatar</a>
                  </div>
               {/snippet}
            </div>

            <div class="col-md-6">
               <div class="form-group {if $form['note']->hasErrors()}has-error{/if}">
                  {label note/}
                  {input note}
                  <span class="help-block" n:foreach="$form['note']->getErrors() AS $error">{$error}</span>
               </div>

               {if $control->getUser()}
                  <p><strong>Registrován:</strong> {$control->getUser()->getRegistrationDate()|date:'j.n.Y H:i'}</p>
                  <p><strong>Poslední přihlášení:</strong>
                     {if $control->getUser()->getLastLoginDate()}
                        {$control->getUser()->getLastLoginDate()|date:'j.n.Y H:i'}
                     {else}
                        n/a
                     {/if}

                     <span class="label label-danger" n:if="!$control->getUser()->isAccountActive()">Účet uživatele není aktivní</span>
                  </p>
               {/if}
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-6">
         <div class="box box-danger">
            <div class="box-header with-border">
               <h3 class="box-title">Přihlašovací údaje</h3>
            </div>
            <div class="box-body">
               <div class="form-group {if $form['username']->hasErrors()}has-error{/if}">
                  {label username /}
                  {input username}
                  <span class="help-block" n:foreach="$form['username']->getErrors() AS $error">{$error}</span>
                  <span class="help-block" n:if="!$form['username']->getErrors()">
                     <strong>Tip: </strong> lze rovněž použít emailovou adresu
                  </span>
               </div>
               <div class="form-group {if $form['password']->hasErrors()}has-error{/if}">
                  {label password/}
                  {input password}
                  <span class="help-block" n:foreach="$form['password']->getErrors() AS $error">{$error}</span>
                  <span class="help-block" n:if="$control->getUser() && !$form['password']->getErrors()">
                     Vyplňte jen v případě změny
                  </span>
               </div>
               <div class="form-group {if $form['passwordRepeat']->hasErrors()}has-error{/if}">
                  {label passwordRepeat/}
                  {input passwordRepeat}
                  <span class="help-block" n:foreach="$form['passwordRepeat']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="box box-warning">
            <div class="box-header with-border">
               <h3 class="box-title">Nastavení účtu</h3>
            </div>
            <div class="box-body">
               <div class="form-group {if $form['role']->hasErrors()}has-error{/if}">
                  {label role/}
                  {input role}
                  <span class="help-block" n:foreach="$form['role']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['accountStatus']->hasErrors()}has-error{/if}">
                  {label accountStatus /}
                  {input accountStatus}
                  <span class="help-block" n:foreach="$form['accountStatus']->getErrors() AS $error">{$error}</span>
               </div>

               <div class="form-group {if $form['ticketTypeEmailNotification']->hasErrors()}has-error{/if}">
                  {label ticketTypeEmailNotification/}
                  {input ticketTypeEmailNotification}
                  <span class="help-block" n:foreach="$form['ticketTypeEmailNotification']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <input n:name="submit" class="btn btn-primary" />
{/form}