<ul class="timeline">
   {var $prevMessage = null}
   {foreach $control->getMessages() AS $message}
      <!-- timeline time label -->
      <li class="time-label" n:if="is_null($prevMessage) || $prevMessage->getCreated()->format('j. n. Y') != $message->getCreated()->format('j. n. Y')">
           <span class="bg-blue">
               {$message->getCreated()|date:'j. n. Y'}
           </span>
      </li>
      <!-- /.timeline-label -->

      <!-- timeline item -->
      <li>
         <!-- timeline icon -->
         {if $message->getType() == App\Model\Enums\TicketMessageType::CREATED}
            <i class="fas fa-plus bg-green"></i>
         {elseif $message->getType() == App\Model\Enums\TicketMessageType::REOPENED}
            <i class="fas fa-redo bg-orange"></i>
         {elseif $message->getType() == App\Model\Enums\TicketMessageType::CLOSED}
            <i class="fas fa-times bg-red"></i>
         {elseif $message->getType() == App\Model\Enums\TicketMessageType::AUTOMATICALLY_CLOSED}
            <i class="fas fa-times bg-red"></i>
         {elseif $message->getType() == App\Model\Enums\TicketMessageType::MESSAGE || $message->getType() == App\Model\Enums\TicketMessageType::FIRST_MESSAGE}
            {if $message->getTicket()->getAuthor() != $message->getAuthor()}
               <i class="fas fa-comment bg-purple" n:if="!$control->hasAvatar($message->getAuthor())"></i>

               <i class="fa" n:if="$control->hasAvatar($message->getAuthor())">
                  <img src="{$control->getAvatar($message->getAuthor())}" class="img-circle" alt="avatar {$message->getAuthor()->getName()}" width="30">
               </i>
            {/if}

            {if $message->getTicket()->getAuthor() == $message->getAuthor()}
               <i class="fas fa-comment bg-olive" n:if="!$control->hasAvatar($message->getAuthor())"></i>

               <i class="fa" n:if="$control->hasAvatar($message->getAuthor())">
                  <img src="{$control->getAvatar($message->getAuthor())}" class="img-circle" alt="avatar {$message->getAuthor()->getName()}" width="30">
               </i>
            {/if}
         {/if}

         <div class="timeline-item" title="{$message->getTicket()->getSubject()}">
               <span class="time" title="{$message->getCreated()|date:'j. n. Y | H:i'}" data-time="{$message->getCreated()|date:'d.m.Y H:i:s'}">
                  <i class="fa fa-clock-o"></i>
               </span>

            {if $message->getType() == App\Model\Enums\TicketMessageType::CREATED}
               <h3 class="timeline-header">
                  <a n:href="openTicket!, $message->getTicket()->getId()">#{$message->getTicket()->getId()} |
                  {$message->getAuthor()->getName()}</a> vytvořil tiket
               </h3>
            {elseif $message->getType() == App\Model\Enums\TicketMessageType::REOPENED}
               <h3 class="timeline-header">
                  <a n:href="openTicket!, $message->getTicket()->getId()">#{$message->getTicket()->getId()} |
                  {$message->getAuthor()->getName()}</a> znovuotevřel ticket
               </h3>
            {elseif $message->getType() == App\Model\Enums\TicketMessageType::CLOSED}
               <h3 class="timeline-header">
                  <a n:href="openTicket!, $message->getTicket()->getId()">#{$message->getTicket()->getId()} |
                  {$message->getAuthor()->getName()}</a> uzavřel tiket
               </h3>
            {elseif $message->getType() == App\Model\Enums\TicketMessageType::AUTOMATICALLY_CLOSED}
               <h3 class="timeline-header">
                  <a n:href="openTicket!, $message->getTicket()->getId()">#{$message->getTicket()->getId()}</a> |
                  Tiket byl automaticky uzavřen
               </h3>
            {elseif $message->getType() == App\Model\Enums\TicketMessageType::MESSAGE || $message->getType() == App\Model\Enums\TicketMessageType::FIRST_MESSAGE}
               <h3 class="timeline-header">
                  <a n:href="openTicket!, $message->getTicket()->getId()">#{$message->getTicket()->getId()} |
                  {$message->getAuthor()->getName()}</a> napsal
               </h3>

               <div class="timeline-body">
                  {$message->getContent()|noescape|truncate:100}
               </div>
            {/if}
         </div>
      </li>
      <!-- END timeline item -->

      {var $prevMessage = $message}
   {/foreach}
</ul>

<script type="text/javascript">
    $(".time").each(function(){
        $(this).append(moment($(this).data("time"), 'D.M.Y H:m:s').fromNow());
    });
</script>