{snippet flash}
   <script type="text/javascript">
       {foreach $flashes AS $message}
          $.notify({
              // options
              icon: {App\Components\FlashMessage\FlashMessage::$icons[$message->getType()]},
             {if $message->getMessage()}
               message: "{$message->getMessage()|noescape}",
             {else}
               message: "",
             {/if}
              title: "{$message->getTitle(true)|noescape}"
          },{
              // settings
              type: {$message->getType()},
              allow_dismiss: true,
              offset: {
                  y: 70,
                  x: 0
              },
              placement: {
                  from: "top",
                  align: "right"
              },
              template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{l}0{r}" role="alert">' +
              '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
              '<span data-notify="icon"></span> ' +
              '<strong data-notify="title">{l}1{r}</strong><br> ' +
              '<span data-notify="message">{l}2{r}</span>' +
              '<div class="progress" data-notify="progressbar">' +
              '<div class="progress-bar progress-bar-{l}0{r}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
              '</div>' +
              '<a href="{l}3{r}" target="{l}4{r}" data-notify="url"></a>' +
              '</div>',
          });
       {/foreach}
   </script>
{/snippet}