{snippet flash}
   <div class="alert alert-{$message->getType()} alert-dismissible" n:foreach="$flashes AS $message">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="{App\Components\FlashMessage\FlashMessage::$icons[$message->getType()]}"></i> {$message->getTitle(true)|noescape}</h4>
      {$message->getMessage()|noescape}
   </div>
{/snippet}