<div class="box box-info">
      <div class="box-header with-border">
         <h3 class="box-title">Počet tiketů za měsíc</h3>

         <div class="box-tools pull-right">
            {form form}
               {input year}
               {input month}
            {/form}
         </div>
      </div>
      <div class="box-body" n:inner-snippet="content">
         <div class="chart">
            <canvas id="{$control->getName()}" style="width: 100%; height: 200px;"></canvas>
            <script type="text/javascript">
                var MeSeContext = document.getElementById({$control->getName()}).getContext("2d");
                var MeSeData = {
                    labels: {$control->getLabelsForGraph()},
                    datasets: [{
                        label: "Počet tiketů",
                        data: {$control->getDataForGraph()},
                        backgroundColor: "#669911",
                        hoverBackgroundColor: ["#66A2EB", "#FCCE56"]
                    }],
                };

                new Chart(MeSeContext, {
                    type: 'bar',
                    data: MeSeData,
                    options: {
                        scales: {
                            xAxes: [{
                                ticks: {
                                    stepSize: 1,
                                    min: 0
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    stepSize: 1,
                                    min: 0
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                });

            </script>
         </div>
      </div>
      <!-- /.box-body -->
</div>