{block content}

<div class="container">
   <h1>{$pageTitle}</h1>
   <ul class="list-group">
      <li class="list-group-item" n:foreach="$presenter->getFiles() AS $file">
         {$file->getName()}

         <a n:href="download!, $file->getId()" class="pull-right btn btn-primary btn-xs">
            Stáhnout
         </a>
      </li>
   </ul>
</div>