{snippet dataGrid}
   {snippetArea dataGridSnippets}
      {form gridForm}
         <div class="table-responsive">
         <table class="datagrid table table-bordered table-striped table-hover">
            <thead>
               <tr n:snippet="columnSorting">
                  <th n:foreach="$control->getColumns() AS $column" {if $column->getWidth()}style="width: {$column->getWidth()}%"{/if}>
                     {if $column->isSortable()}
                        <a n:href="sort!, $column->getKey()" class="{$control->isSortingBy($column->getKey()) ? active} ajax">
                           {if $translator}
                              {$translator->translate($column->getTitle())}
                           {else}
                              {$column->getTitle()}
                           {/if}

                           {if $control->isSortingBy($column->getKey())}
                              {if $control->getSortingType($column->getKey()) == "asc"}
                                 <span class="glyphicon glyphicon glyphicon-sort-by-alphabet pull-right"></span>
                              {else}
                                 <span class="glyphicon glyphicon glyphicon-sort-by-alphabet-alt pull-right"></span>
                              {/if}
                           {else}
                              <span class="glyphicon glyphicon glyphicon-sort pull-right"></span>
                           {/if}
                        </a>
                     {else}
                        {if $translator}
                           {$translator->translate($column->getTitle())}
                        {else}
                           {$column->getTitle()}
                        {/if}
                     {/if}
                  </th>

                  <th n:if="count($control->getRowActions())" style="width: {count($control->getRowActions())*6}%;"></th>
               </tr>

               <tr n:if="count($control->getFilters())">
                  <td n:foreach="$control->getColumns() AS $column">
                     {if $column->hasFilter()}
                        {var $filter = $column->getFilter()}
                        {include $filter->getTemplate(), container=>$form['filters'][$filter->getContainerName()], filter=>$filter}
                     {/if}
                  </td>

                  <td n:if="count($control->getRowActions())" n:snippet="resetButton">
                     <a n:href="reset!" class="btn btn-danger btn-xs ajax" n:if="$control->isShowResetButton()">
                        {if $translator}
                           {$translator->translate("datagrid.reset")}
                        {else}
                           resetovat
                        {/if}
                     </a>
                  </td>
               </tr>
            </thead>
            <tbody n:snippet="body">
               {snippetArea rows}
                  <tr n:foreach="$rows AS $row" n:snippet="row-{$row->getId()}">
                     <td n:foreach="$control->getColumns() AS $column" {if $column->getCellStyle($row)}style="{$column->renderCellStyle($row)|noescape}"{/if} class="{$column->renderCellClass($row)}">
                        {if $column->getTemplate()}
                           {include $column->getTemplate(), column=>$column, row=>$row}
                        {else}
                           {$column->render($row)}
                        {/if}
                     </td>
                     <td n:if="count($control->getRowActions())" class="text-right">
                        {foreach $control->getRowActions() AS $action}
                           {$action->render($row)}
                        {/foreach}
                     </td>
                  </tr>

                  <tr n:if="!count($rows)">
                     <td colspan="{count($control->getRowActions()) + count($control->getColumns())}">
                        Žádné položky nebyly nalezeny.
                        {if $control->isShowFilterResetButton()}
                           {if $translator}
                              {$translator->translate("datagrid.youHaveActiveFiltering")}
                           {else}
                              Máte aktivní filtr, který můžete
                           {/if}
                           <a n:href="reset!" class="ajax">
                              {if $translator}
                                 {$translator->translate("datagrid.reset")}
                              {else}
                                 resetovat
                              {/if}
                           </a>
                           .
                        {/if}
                     </td>
                  </tr>
               {/snippetArea}
            </tbody>
            <tfoot n:snippet="footer">
               <tr>
                  <td colspan="{count($control->getColumns()) + (count($control->getRowActions()) > 0)}">
                     <div class="pull-left" n:snippet="itemsInfo">
                        {if $translator}
                           ( {$translator->translate("datagrid.items")}: {$control->getShowingItemsFrom()} - {$control->getShowingItemsTo()} {$translator->translate("datagrid.from")} {$control->getShowingItemsTotal()} )
                        {else}
                           ( Položek: {$control->getShowingItemsFrom()} - {$control->getShowingItemsTo()} z {$control->getShowingItemsTotal()} )
                        {/if}
                     </div>
                     <div class="pull-right">
                        {input $control['gridForm']['itemsPerPage'], class=>"form-control"}
                     </div>
                     <div class="pull-right" n:snippet="resetButton2" style="margin-right: 10px;">
                        <a n:href="reset!" class="btn btn-danger ajax" n:if="$control->isShowResetButton()">
                           {if $translator}
                              {$translator->translate("datagrid.reset")}
                           {else}
                              resetovat
                           {/if}
                        </a>
                     </div>
                     <div class="text-center" n:snippet="paginator">
                        {control paginator}
                     </div>
                  </td>
               </tr>
            </tfoot>
         </table>
         </div>
      {/form}
   {/snippetArea}
{/snippet}