{if $paginator->pageCount > 1}
   <ul class="pagination" style="margin: 0;">
      {if $paginator->isFirst()}
         <li class="disabled"><a>« Předchozí</a></li>
      {else}
         <li>
            <a href="{link $handle, 'page' => $paginator->page - 1}" rel="prev" n:class="$useAjax ? ajax">
               {if $control->getTranslator()}
                  « {$control->getTranslator()->translate("datagrid.paginator.previous")}
               {else}
                  « Předchozí
               {/if}
            </a>
         </li>
      {/if}

      {foreach $steps as $step}
         {if $step == $paginator->page}
            <li class="active"><a href="#">{$step}</a></li>
         {else}
            <li><a href="{link $handle, 'page' => $step}" n:class="$useAjax ? ajax">{$step}</a></li>
         {/if}
         {if $iterator->nextValue > $step + 1}<li class="disabled"><a>…</a></li>{/if}
      {/foreach}

      {if $paginator->isLast()}
         <li class="disabled">
            <a>
               {if $control->getTranslator()}
                  {$control->getTranslator()->translate("datagrid.paginator.next")} »
               {else}
                  Následující »
               {/if}
            </a>
         </li>
      {else}
         <li>
            <a href="{link $handle, 'page' => $paginator->page + 1}" rel="next" n:class="$useAjax ? ajax">
               {if $control->getTranslator()}
                  {$control->getTranslator()->translate("datagrid.paginator.next")} »
               {else}
                  Následující »
               {/if}
            </a>
         </li>
      {/if}
   </ul>
{/if}
