<div class="box box-primary">
   <!-- /.box-header -->
   <div class="box-body" id="filter">
      {snippet filter}
      {form filter, class=>"form-inline ajax ajax-history spinner", data-spinner-target=>"#content, #filter, #chart"}
         <div class="pull-left" style="margin-right: 20px;">
            <label>perioda</label> <br />
            <div class="btn-group">
               {var $actual = $control->getSettingsValue("groupBy")}
               <a n:href="changeGroupBy!, $control::GROUP_BY_DAY"
                       class="btn btn-primary ajax ajax-history {if $actual == $control::GROUP_BY_DAY}btn-success{/if} spinner"
                       data-spinner-target="#content, #filter, #chart"
               >
                  Denní
               </a>
               <a n:href="changeGroupBy!, $control::GROUP_BY_WEEK"
                       class="btn btn-primary ajax ajax-history {if $actual == $control::GROUP_BY_WEEK}btn-success{/if} spinner"
                       data-spinner-target="#content, #filter, #chart"
               >
                  Týdenní
               </a>
               <a n:href="changeGroupBy!, $control::GROUP_BY_MONTH"
                       class="btn btn-primary ajax ajax-history {if $actual == $control::GROUP_BY_MONTH}btn-success{/if} spinner"
                       data-spinner-target="#content, #filter, #chart"
               >
                  Měsiční
               </a>
               <a n:href="changeGroupBy!, $control::GROUP_BY_QUARTER"
                       class="btn btn-primary ajax ajax-history {if $actual == $control::GROUP_BY_QUARTER}btn-success{/if} spinner"
                       data-spinner-target="#content, #filter, #chart"
               >
                  Kvartální
               </a>
               <a n:href="changeGroupBy!, $control::GROUP_BY_YEAR"
                       class="btn btn-primary ajax ajax-history {if $actual == $control::GROUP_BY_YEAR}btn-success{/if} spinner"
                       data-spinner-target="#content, #filter, #chart"
               >
                  Roční
               </a>
            </div>
         </div>
         <div class="pull-left" style="margin-right: 20px;">
            <div class="form-group {if $form['from']->hasErrors()}has-error{/if}">
               {label from} <br />
               {input from} - {input to}
               <span class="help-block" n:foreach="$form['from']->getErrors() AS $error">{$error}</span>
               <span class="help-block" n:foreach="$form['to']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="pull-left" style="margin-right: 20px;">
            <div class="form-group {if $form['cash']->hasErrors()}has-error{/if}">
               <label>pokladny</label> <br />
               {input cash}
               <span class="help-block" n:foreach="$form['cash']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
      {/form}
      {/snippet}
   </div>
   <!-- /.box-body -->
</div>

{snippet content}
<div class="box box-primary">
   <!-- /.box-header -->
   <div class="box-body" id="chart">
      <div id="chart_1" style="width: 100%; height: 400px;"></div>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      {include chart}
   </div>
   <!-- /.box-body -->
</div>

<div class="box box-success">
   <!-- /.box-header -->
   <div class="box-body" id="content">
      <div class="text-center text-bold" n:if="!count($control->getGroups())">
         bez záznamů
      </div>

      <table class="table table-hover table-stripped" n:if="count($control->getGroups())">
         {foreach $control->getGroups() AS $group}
         <thead>
            <tr>
               <th class="text-left bg-primary" style="width: 30%">
                  <div style="width: 50%; float: left;">
                     {$control->getTitle($group)}
                  </div>
                  <div style="width: 30%; float: left;" n:if="$group->getCashName()">
                     <span class="label label-danger">{$group->getCashName()}</span>
                  </div>
               </th>
               <th class="text-right bg-primary" width="15%"><span class="label bg-olive">doklady</span> / <span class="label label-default">položky</span></th>
               <th class="text-right bg-primary" width="20%">Tržba bez DPH</th>
               <th class="text-right bg-primary" width="20%">Tržba s DPH</th>
               <th class="text-right bg-primary" width="20%">Celkem</th>
            </tr>
         </thead>

         <tbody class="text-right">
            <tr>
               <td class="bg-gray text-center"><strong>DPH</strong></td>
               <td class="bg-gray"><span class="label bg-olive">{$group->getReceiptsCount()}</span></td>
               <td class="bg-gray">{$group->getPriceSum(false)|number:2:',':' '}</td>
               <td class="bg-gray">{$group->getPriceSum(true)|number:2:',':' '}</td>
               <td class="bg-gray">{$group->getPriceSum(true)|number:2:',':' '}</td>
            </tr>

            <tr n:foreach="$group->getTaxRates() AS $groupTaxRate">
               {if $groupTaxRate->getTaxRateValue() !== null}
                  <td class="bg-gray-light text-center">{$groupTaxRate->getTaxRateValue()} %</td>
                  <td><span class="label label-default">{$groupTaxRate->getItemsCount()}</span></td>
                  <td>{$groupTaxRate->getPriceSum(false)|number:2:',':' '}</td>
                  <td>{$groupTaxRate->getPriceSum(true)|number:2:',':' '}</td>
                  <td>{$groupTaxRate->getPriceSum(true)|number:2:',':' '}</td>
               {else}
                  <td class="bg-gray-light text-center"><em>neplátce</em></td>
                  <td><span class="label label-default">{$groupTaxRate->getItemsCount()}</span></td>
                  <td>-</td>
                  <td>-</td>
                  <td>{$groupTaxRate->getPriceSum(false)|number:2:',':' '}</td>
               {/if}
            </tr>
         </tbody>
         {/foreach}
      </table>
   </div>
   <!-- /.box-body -->
</div>
{/snippet}

<script type="text/javascript">
    {var $form = $control['filter']}

    $('#' + {$form['cash']->getHtmlId()}).selectpicker();

    $.nette.ext({
        complete: function () {
            $('#' + {$form['cash']->getHtmlId()}).selectpicker();
        }
    });

    $('#filter').on('change', 'input, select', function () {
        $(this).closest("form").submit();
    })

    $.nette.ext('history').cache = false;
</script>


{define chart}
   <script type="text/javascript" n:if="$control->getSettingsValue('groupBy') == $control::GROUP_BY_DAY ||
                                        $control->getSettingsValue('groupBy') == $control::GROUP_BY_WEEK ||
                                        $control->getSettingsValue('groupBy') == $control::GROUP_BY_MONTH">
       google.charts.load('current', {'packages':['corechart'], 'language': 'cs'});
       google.charts.setOnLoadCallback(drawChart);

       function drawChart() {
           var data = new google.visualization.DataTable();
           data.addColumn('datetime');
           data.addColumn('number');


           var options = {
               hAxis: {
                   title: "datum",
                   titleTextStyle: { color: '#333' },
                   format: 'd. M. yy'
               },
               vAxis: { title: "tržba", format: '# Kč' },
               legend: { position: 'none' },
               height: '400px',
               chartArea: {
                   top: 10,
                   bottom: 70,
                   right: 0,
                   left: 100,
                   height: '400px'
               }
           };

           var chart = new google.visualization.AreaChart(document.getElementById('chart_1'));

           $.each({$chartData}, function( index, value ) {
               data.addRow([
                   new Date(value['date']),
                   value['value']
               ]);
           });

           var formatter = new google.visualization.NumberFormat({
               fractionDigits: 2,
               suffix: ' Kč'
           });
           formatter.format(data, 1);

           chart.draw(data, options);
       }
   </script>
   <script type="text/javascript" n:if="$control->getSettingsValue('groupBy') == $control::GROUP_BY_QUARTER">
       google.charts.load('current', {'packages':['corechart'], 'language': 'cs'});
       google.charts.setOnLoadCallback(drawChart);

       function drawChart() {
           var data = new google.visualization.DataTable();
           data.addColumn('datetime');
           data.addColumn('number');


           var options = {
               hAxis: {
                   title: "kvartál",
                   titleTextStyle: { color: '#333' },
                   format: 'd. M. yy'
               },
               vAxis: { title: "tržba", format: '# Kč' },
               legend: { position: 'none' },
               height: '400px',
               chartArea: {
                   top: 10,
                   bottom: 70,
                   right: 0,
                   left: 100,
                   height: '400px'
               }
           };

           var chart = new google.visualization.AreaChart(document.getElementById('chart_1'));

           $.each({$chartData}, function( index, value ) {
               data.addRow([
                   new Date(value['date']),
                   value['value']
               ]);
           });

           var formatter = new google.visualization.NumberFormat({
               fractionDigits: 2,
               suffix: ' Kč'
           });
           formatter.format(data, 1);

           chart.draw(data, options);
       }
   </script>
   <script type="text/javascript" n:if="$control->getSettingsValue('groupBy') == $control::GROUP_BY_YEAR">
       google.charts.load('current', {'packages':['corechart'], 'language': 'cs'});
       google.charts.setOnLoadCallback(drawChart);

       function drawChart() {
           var data = new google.visualization.DataTable();
           data.addColumn('string');
           data.addColumn('number');


           var options = {
               hAxis: {
                   title: "rok",
                   titleTextStyle: { color: '#333' }
               },
               vAxis: { title: "tržba", format: '# Kč' },
               legend: { position: 'none' },
               height: '400px',
               chartArea: {
                   top: 10,
                   bottom: 70,
                   right: 0,
                   left: 100,
                   height: '400px'
               }
           };

           var chart = new google.visualization.AreaChart(document.getElementById('chart_1'));

           $.each({$chartData}, function( index, value ) {
               data.addRow([
                   value['date'],
                   value['value']
               ]);
           });

           var formatter = new google.visualization.NumberFormat({
               fractionDigits: 2,
               suffix: ' Kč'
           });
           formatter.format(data, 1);

           chart.draw(data, options);
       }
   </script>
{/define}