<div class="modal fade" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog">
      <div class="modal-content" n:if="$show" n:inner-snippet="content">
         <div class="modal-body">
            <input type="text" readonly="readonly" value="{$control->getLink()}" class="form-control input-lg" onClick="this.select();">
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zavřít</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


