{block content}

<div class="container">
   <h1>{$pageTitle}</h1>
   {foreach $presenter->getNews() AS $news}

      <div class="panel panel-default">
         <div class="panel-heading">
            {$news->getTitle()}
            <span class="pull-right">
               {$news->getDate()|date:'j. n. Y'}
            </span>
         </div>
         <div class="panel-body">
            {$news->getContent()|noescape}
         </div>
      </div>

   {/foreach}
</div>