{form form}
   <div class="box box-primary">
      <div class="box-header with-border">
         <h3 class="box-title">Obecné informace</h3>
      </div>
      <div class="box-body">

         <div class="row">
            <div class="col-md-6">
               <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
                  {label name /}
                  {input name}
                  <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['phone']->hasErrors()}has-error{/if}">
                  {label phone/}
                  {input phone}
                  <span class="help-block" n:foreach="$form['phone']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['email']->hasErrors()}has-error{/if}">
                  {label email /}
                  {input email}
                  <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
               </div>
            </div>

            <div class="col-md-6">
               <div class="pull-left">
                  <div class="form-group {if $form['avatar']->hasErrors()}has-error{/if}">
                     {label avatar /}
                     {input avatar}
                     <span class="help-block" n:foreach="$form['avatar']->getErrors() AS $error">{$error}</span>
                  </div>
                  <p class="help-block">Podporované formáty: JPEG, PNG nebo GIF</p>
                  <p class="help-block">Rozměry musí být 215px x 215px</p>
               </div>

               {snippet avatar}
                  <div class="pull-right" n:if="$control->hasAvatar()" style="width: 150px; text-align: center;">
                     <img src="{$control->getAvatarPath()}" alt="avatar" class="img-thumbnail" style="height: 150px;" /><br />
                     <a n:href="removeAvatar!" class="btn btn-danger btn-xs ajax" n:if="$control->hasAvatar()">smazat avatar</a>
                  </div>
               {/snippet}
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-6">
         <div class="box box-danger">
            <div class="box-header with-border">
               <h3 class="box-title">Přihlašovací údaje</h3>
            </div>
            <div class="box-body">
               <div class="form-group {if $form['username']->hasErrors()}has-error{/if}">
                  {label username /}
                  {input username}
                  <span class="help-block" n:foreach="$form['username']->getErrors() AS $error">{$error}</span>
                  <span class="help-block" n:if="!$form['username']->getErrors()">
                     <strong>Tip: </strong> lze rovněž použít emailovou adresu
                  </span>
               </div>
               <div class="form-group {if $form['oldPassword']->hasErrors()}has-error{/if}">
                  {label oldPassword /}
                  {input oldPassword}
                  <span class="help-block" n:foreach="$form['oldPassword']->getErrors() AS $error">{$error}</span>
                  <p class="help-block">Vypňte pouze v případě změny hesla</p>
               </div>
               <br />
               <div class="form-group {if $form['newPassword']->hasErrors()}has-error{/if}">
                  {label newPassword /}
                  {input newPassword}
                  <span class="help-block" n:foreach="$form['newPassword']->getErrors() AS $error">{$error}</span>
               </div>
               <div class="form-group {if $form['newPasswordRepeat']->hasErrors()}has-error{/if}">
                  {label newPasswordRepeat /}
                  {input newPasswordRepeat}
                  <span class="help-block" n:foreach="$form['newPasswordRepeat']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
         </div>
      </div>


      <div class="col-md-6">
         <div class="box box-warning">
            <div class="box-header with-border">
               <h3 class="box-title">Nastavení účtu</h3>
            </div>
            <div class="box-body">
               {if App\Model\Enums\UserRole::isUserOfBackend($presenter->getLoggedUser())}
                  <div class="form-group {if $form['ticketTypeEmailNotification']->hasErrors()}has-error{/if}">
                     <label n:name="ticketTypeEmailNotification"/>
                     {input ticketTypeEmailNotification}
                     <span class="help-block" n:foreach="$form['ticketTypeEmailNotification']->getErrors() AS $error">{$error}</span>
                  </div>
               {/if}
            </div>
         </div>
      </div>
   </div>
   <input n:name="submit" class="btn btn-primary" />
{/form}