{form form}
   <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
      {$form['name']->getLabel()}
      {$form['name']->getControl()}
      <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
   </div>

   <div class="form-group {if $form['file']->hasErrors()}has-error{/if} row">
      <div class="col-md-12">
         {label file}
         {input file}
         <span class="help-block" n:foreach="$form['file']->getErrors() AS $error">{$error}</span>
      </div>
   </div>

   <input n:name="submit" class="btn btn-primary" />
{/form}