<div class="modal fade" tabindex="-1" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog">
      <div class="modal-content" n:if="$show">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" n:if="!$control->getCategory()">Nová kategorie</h4>
            <h4 class="modal-title" n:if="$control->getCategory()">Upravit kategorii</h4>
         </div>
         {form form}
            <div class="modal-body">
                  {control flashMessage}
                  <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
                        {label name /}
                        {input name}
                        <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
                  </div>
                  <div class="form-group">
                        <label class="control-label">Lokace</label> <br />
                        {control categoryLocationScheme}
                  </div>

                  <div class="clearfix"></div>

                  <div class="form-group {if $form['defaultTaxRate']->hasErrors()}has-error{/if}">
                        {label defaultTaxRate /}
                        {input defaultTaxRate}
                        <span class="help-block" n:foreach="$form['defaultTaxRate']->getErrors() AS $error">{$error}</span>
                  </div>
                  <div class="form-group {if $form['defaultMeasurementUnit']->hasErrors()}has-error{/if}">
                        {label defaultMeasurementUnit /}
                        {input defaultMeasurementUnit}
                        <span class="help-block" n:foreach="$form['defaultMeasurementUnit']->getErrors() AS $error">{$error}</span>
                  </div>
                  <div class="form-group {if $form['color']->hasErrors()}has-error{/if}">
                        {label color /}
                        {input color}
                        <span class="help-block" n:foreach="$form['color']->getErrors() AS $error">{$error}</span>
                  </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zavřít</button>
               {input submit, class=>'btn btn-primary'}
            </div>
         {/form}
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

