{block content}

<div class="row">
   <div class="col-md-3">
      <!-- Info Boxes Style 2 -->
      <div class="info-box bg-blue">
         <span class="info-box-icon">
            <i class="far fa-money-bill-alt"></i>
         </span>

         <div class="info-box-content">
            <span class="info-box-text">Tržby - <strong>{$presenter->getNameOfThisDay()}</strong></span>
            <span class="info-box-number">
               {$presenter->getTodayRevenuesSum()|number:2:',':' '}
               <strong>Kč</strong>
            </span>

            <div class="progress" n:if="$presenter->getTodayRevenuesSumPercentageChange() > 0">
               <div class="progress-bar"
                    style="width: {$presenter->getTodayRevenuesSumPercentageChange()|noescape}%"
               >
               </div>
            </div>

            <div class="progress bg-red" n:if="$presenter->getTodayRevenuesSumPercentageChange() < 0">
               <div class="progress-bar bg-blue-active"
                    style="width: {(100+$presenter->getTodayRevenuesSumPercentageChange())|noescape}%"
               >
               </div>
            </div>
            {var $tooltip = "oproti dnu ".$presenter->getNameOfLastDay()}
            <span class="progress-description" n:if="$presenter->getTodayRevenuesSumPercentageChange() > 0" data-toggle="tooltip" title="{$tooltip}">
               <i class="fas fa-caret-up text-green" style="font-size: 20px; vertical-align: bottom"></i>
               <span class="text-black">{$presenter->getTodayRevenuesSumPercentageChange()|number:2:',':' '}% nárust</span>
            </span>
            <span class="progress-description" n:if="$presenter->getTodayRevenuesSumPercentageChange() < 0" data-toggle="tooltip" title="{$tooltip}">
               <i class="fas fa-caret-down text-red" style="font-size: 20px; vertical-align: bottom"></i>
               <span class="text-black">{abs($presenter->getTodayRevenuesSumPercentageChange())|number:2:',':' '}% snížení</span>
            </span>
         </div>
         <!-- /.info-box-content -->
      </div>

   </div>
   <div class="col-md-3">
      <!-- Info Boxes Style 2 -->
      <div class="info-box bg-blue">
         <span class="info-box-icon">
            <i class="far fa-file-alt"></i>
         </span>

         <div class="info-box-content">
            <span class="info-box-text">Vydané doklady - <strong>{$presenter->getNameOfThisDay()}</strong></span>
            <span class="info-box-number">
               {$presenter->getTodayReceiptsCount()|number:0}
            </span>

            <div class="progress" n:if="$presenter->getTodayReceiptsCountPercentageChange() > 0">
               <div class="progress-bar"
                    style="width: {$presenter->getTodayReceiptsCountPercentageChange()|noescape}%"
               >
               </div>
            </div>

            <div class="progress bg-red" n:if="$presenter->getTodayReceiptsCountPercentageChange() < 0">
               <div class="progress-bar bg-blue-active"
                    style="width: {(100+$presenter->getTodayReceiptsCountPercentageChange())|noescape}%"
               >
               </div>
            </div>
            {var $tooltip = "oproti dnu ".$presenter->getNameOfLastDay()}
            <span class="progress-description" n:if="$presenter->getTodayReceiptsCountPercentageChange() > 0" data-toggle="tooltip" title="{$tooltip}">
               <i class="fas fa-caret-up text-green" style="font-size: 20px; vertical-align: bottom"></i>
               <span class="text-black">{$presenter->getTodayReceiptsCountPercentageChange()|number:2:',':' '}% nárust</span>
            </span>
            <span class="progress-description" n:if="$presenter->getTodayReceiptsCountPercentageChange() < 0" data-toggle="tooltip" title="{$tooltip}">
               <i class="fas fa-caret-down text-red" style="font-size: 20px; vertical-align: bottom"></i>
               <span class="text-black">{abs($presenter->getTodayReceiptsCountPercentageChange())|number:2:',':' '}% snížení</span>
            </span>
         </div>
         <!-- /.info-box-content -->
      </div>
   </div>
   <div class="col-md-3">
      <!-- /.info-box -->
      <div class="info-box bg-olive">
         <span class="info-box-icon">
            <i class="far fa-money-bill-alt"></i>
         </span>

         <div class="info-box-content">
            <span class="info-box-text">Tržby - <strong>{$presenter->getNameOfThisMonth()}</strong></span>
            <span class="info-box-number">
               {$presenter->getTodayRevenuesSum()|number:2:',':' '}
               <strong>Kč</strong>
            </span>

            <div class="progress" n:if="$presenter->getMonthRevenuesSumPercentageChange() > 0">
               <div class="progress-bar"
                    style="width: {$presenter->getMonthRevenuesSumPercentageChange()|noescape}%"
               >
               </div>
            </div>

            <div class="progress bg-red" n:if="$presenter->getMonthRevenuesSumPercentageChange() < 0">
               <div class="progress-bar bg-olive-active"
                    style="width: {(100+$presenter->getMonthRevenuesSumPercentageChange())|noescape}%"
               >
               </div>
            </div>
            {var $tooltip = "oproti měsíci ".$presenter->getNameOfLastMonth()}
            <span class="progress-description" n:if="$presenter->getMonthRevenuesSumPercentageChange() > 0" data-toggle="tooltip" title="{$tooltip}">
               <i class="fas fa-caret-up text-green" style="font-size: 20px; vertical-align: bottom"></i>
               <span class="text-black">{$presenter->getMonthRevenuesSumPercentageChange()|number:2:',':' '}% nárust</span>
            </span>
            <span class="progress-description" n:if="$presenter->getMonthRevenuesSumPercentageChange() < 0" data-toggle="tooltip" title="{$tooltip}">
               <i class="fas fa-caret-down text-red" style="font-size: 20px; vertical-align: bottom"></i>
               <span class="text-black">{abs($presenter->getMonthRevenuesSumPercentageChange())|number:2:',':' '}% snížení</span>
            </span>
         </div>
         <!-- /.info-box-content -->
      </div>
   </div>
   <div class="col-md-3">
      <!-- /.info-box -->
      <div class="info-box bg-olive">
         <span class="info-box-icon">
            <i class="far fa-file-alt"></i>
         </span>

         <div class="info-box-content">
            <span class="info-box-text">Vydané doklady - <strong>{$presenter->getNameOfThisMonth()}</strong></span>
            <span class="info-box-number">
               {$presenter->getTodayReceiptsCount()|number:0}
            </span>

            <div class="progress" n:if="$presenter->getMonthReceiptsCountPercentageChange() > 0">
               <div class="progress-bar"
                    style="width: {$presenter->getMonthReceiptsCountPercentageChange()|noescape}%"
               >
               </div>
            </div>

            <div class="progress bg-red" n:if="$presenter->getMonthReceiptsCountPercentageChange() < 0">
               <div class="progress-bar bg-olive-active"
                    style="width: {(100+$presenter->getMonthReceiptsCountPercentageChange())|noescape}%"
               >
               </div>
            </div>
            {var $tooltip = "oproti měsíci ".$presenter->getNameOfLastMonth()}
            <span class="progress-description" n:if="$presenter->getMonthReceiptsCountPercentageChange() > 0" data-toggle="tooltip" title="{$tooltip}">
               <i class="fas fa-caret-up text-green" style="font-size: 20px; vertical-align: bottom"></i>
               <span class="text-black">{$presenter->getMonthReceiptsCountPercentageChange()|number:2:',':' '}% nárust</span>
            </span>
            <span class="progress-description" n:if="$presenter->getMonthReceiptsCountPercentageChange() < 0" data-toggle="tooltip" title="{$tooltip}">
               <i class="fas fa-caret-down text-red"></i>
               <span class="text-black">{abs($presenter->getMonthReceiptsCountPercentageChange())|number:2:',':' '}% snížení</span>
            </span>
         </div>
         <!-- /.info-box-content -->
      </div>
   </div>
</div>


<div class="row flex-lg">
   <div class="col-md-6">
      <div class="box box-primary flex-lg">
         <div class="box-header with-border">
            <h3 class="box-title">Poslední vydané doklady</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <table class="table table-hover">
               <tr n:foreach="$presenter->getLastReceipts() AS $receipt">
                  {var $date = $receipt[0]->getCreationDate()}

                  <td style="{first}border: 0;{/first}">
                     {$receipt[0]->getNiceId()}
                  </td>
                  <td style="{first}border: 0;{/first}">
                     {$receipt['itemsSum']|number:2:',':' '}
                  </td>
                  <td title="{$date|date:'j. n. Y H:i'}" style=" {first}border: 0;{/first}" data-time="{$date|date:'%d.%m.%Y %H:%M'}">
                     <span class="niceTime label label-default label-sm"></span>
                  </td>
                  <td class="text-right" style="{first}border: 0;{/first}">
                     <a n:href="Receipts:detail, $receipt[0]->getId()" class="btn btn-primary btn-xs">
                        <i class="fas fa-search"></i>
                     </a>
                  </td>
               </tr>
            </table>
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->
   </div>
   <div class="col-md-6">
      <div class="box box-warning flex-lg">
         <div class="box-header with-border">
            <h3 class="box-title">Poslední skladové pohyby</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <table class="table table-hover">
               <tr n:foreach="$presenter->getLastStockMovements() AS $movement">
                  {var $date = $movement[0]->getCreated()}

                  <td style="{first}border: 0;{/first}">
                     {\App\Model\Helpers\StockMovementHelper::getStockMovementTypeLabel($movement[0])}
                  </td>
                  <td style="{first}border: 0;{/first}">
                     {$movement['quantitySum']|number:2:',':' '} MJ
                  </td>
                  <td style="{first}border: 0;{/first}">
                     {$movement['priceSum']|number:2:',':' '} Kč
                  </td>
                  <td title="{$date|date:'j. n. Y H:i'}" style=" {first}border: 0;{/first}" data-time="{$date|date:'%d.%m.%Y %H:%M'}">
                     <span class="niceTime label label-default label-sm"></span>
                  </td>
                  <td class="text-right" style="{first}border: 0;{/first}">
                     <a n:href="StockMovementHistory:detail, $movement[0]->getId()" class="btn btn-primary btn-xs">
                        <i class="fas fa-search"></i>
                     </a>
                  </td>
               </tr>
            </table>
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->
   </div>
   <script type="text/javascript">
       $(".niceTime").each(function () {
           $(this).text(moment($(this).parent().data("time"), 'D.M.Y H:m:s').fromNow())
       });
   </script>
</div>



<div class="row">
   <div class="col-md-8 col-xs-12">
      <div class="box box-default" style="height: 475px;">
         <div class="box-header with-border">
            <i class="fa fa-bullhorn"></i>

            <h3 class="box-title">Tikety</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body" style="overflow: auto; height: 430px">
            {control timeline}
         </div>
         <!-- /.box-body -->
      </div>
      <!-- /.box -->
   </div>

   <div class="col-md-4 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-aqua">
         <div class="inner">
            <h3>{$control->getNewTicketsCount()}</h3>

            <p>nových tiketů</p>
         </div>
         <div class="icon">
            <i class="fas fa-plus" aria-hidden="true"></i>
         </div>
      </div>
      <!-- small box -->
      <div class="small-box bg-green">
         <div class="inner">
            <h3>{$control->getOpenedTicketsCount()}</h3>

            <p>otevřených tiketů</p>
         </div>
         <div class="icon">
            <i class="fas fa-ticket-alt" aria-hidden="true"></i>
         </div>
      </div>
      <!-- small box -->
      <div class="small-box bg-yellow">
         <div class="inner">
            <h3>{$control->getNewMessageTicketsCount()}</h3>

            <p>nových odpovědí</p>
         </div>
         <div class="icon">
            <i class="fas fa-reply" aria-hidden="true"></i>
         </div>
      </div>
   <!-- ./col -->
      <!-- small box -->
      <div class="small-box bg-red">
         <div class="inner">
            <h3>{$control->getClosedTicketsCount()}</h3>

            <p>uzavřených tiketů</p>
         </div>
         <div class="icon">
            <i class="fas fa-times" aria-hidden="true"></i>
         </div>
      </div>
   </div>
   <!-- ./col -->
</div>