{control flashMessage}

{form form}
   <div class="form-group {if $form['enabled']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {$form['enabled']->getLabelPart()}
      </div>
      <div class="col-sm-7">
         {$form['enabled']->getControlPart()}
         <span class="help-block" n:foreach="$form['enabled']->getErrors() AS $error">{$error}</span>
      </div>
   </div>
   <div class="form-group {if $form['vatId']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label vatId /}
      </div>
      <div class="col-sm-7">
         {input vatId}
         <span class="help-block">DIČ nastavte v záložce <em>Firemní údaje</em></span>
      </div>
   </div>
   <div class="form-group {if $form['defaultPremiseId']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label defaultPremiseId /}
      </div>
      <div class="col-sm-7">
         {input defaultPremiseId}
         <span class="help-block" n:foreach="$form['defaultPremiseId']->getErrors() AS $error">{$error}</span>
      </div>
   </div>
   <div class="form-group {if $form['defaultCashRegisterId']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label defaultCashRegisterId /}
      </div>
      <div class="col-sm-7">
         {input defaultCashRegisterId}
         <span class="help-block" n:foreach="$form['defaultCashRegisterId']->getErrors() AS $error">{$error}</span>
      </div>
   </div>
   <div class="form-group {if $form['certificate']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {label certificate /}
      </div>
      <div
         class="col-sm-7 {if $control->isCertificateExists() && !$form['certificate']->isFilled() && !$form['certificate']->hasErrors()}hidden{/if}"
         id="certificate"
      >
         {input certificate}
         <span class="help-block" n:foreach="$form['certificate']->getErrors() AS $error">{$error}</span>
      </div>
      <div class="col-sm-7 {if !($control->isCertificateExists() && !$form['certificate']->isFilled() && !$form['certificate']->hasErrors())}hidden{/if}">
         <span class="text-success text-bold">Certifikát již byl nahrán.</span>
         <a class="btn btn-warning btn-xs" id="uploadNewCertificate">Chci vložit nový!</a>
      </div>
   </div>
   <div class="form-group
      {if $form['privateKeyPassword']->hasErrors()}has-error{/if}
      {if $control->isCertificateExists() && !$form['certificate']->isFilled() && !$form['certificate']->hasErrors()}hidden{/if}
   "
   id="privateKey"
   >
      <div class="col-sm-3">
         {label privateKeyPassword /}
      </div>
      <div class="col-sm-7">
         {input privateKeyPassword}
         <span class="help-block" n:foreach="$form['privateKeyPassword']->getErrors() AS $error">{$error}</span>
      </div>
   </div>
   <div class="form-group {if $form['verificationMode']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {$form['verificationMode']->getLabelPart()}
      </div>
      <div class="col-sm-7">
         {$form['verificationMode']->getControlPart()}
         <span class="help-block" n:foreach="$form['verificationMode']->getErrors() AS $error">{$error}</span>
         <span class="help-block">V případě zapnutého ověřovacího módu nejsou odeslané záznamy považovány za skutečné tržby.</span>
      </div>
   </div>
   <div class="form-group {if $form['playgroundEnvironment']->hasErrors()}has-error{/if}">
      <div class="col-sm-3">
         {$form['playgroundEnvironment']->getLabelPart()}
      </div>
      <div class="col-sm-7">
         {$form['playgroundEnvironment']->getControlPart()}
         <span class="help-block" n:foreach="$form['playgroundEnvironment']->getErrors() AS $error">{$error}</span>
         <span class="help-block">Nutné nahrát certifikát a zvolit DIČ  pro neprodukční prostředí.</span>
      </div>
   </div>

   <input n:name="submit" class="btn btn-primary" />
   <input n:name="test" class="btn btn-warning" />
{/form}


<script type="text/javascript">
   $("#uploadNewCertificate").click(function (e) {
       $(this).parent().remove();
       $("#certificate").removeClass("hidden");
       $("#privateKey").removeClass("hidden");

       e.preventDefault();
   });
</script>