<script type="text/javascript">
    function calculate(paid) {
        var ret = paid.closest(".cashReceipt").find(".return");

        var value = parseFloat(paid.data("cost")) - parseFloat(paid.val());

        if(value <= 0) {
            paid.removeClass("text-red");
            ret.text(Math.abs(value));
        } else {
            paid.addClass("text-red");
            ret.text("! ! !");
        }
    }
</script>

<div class="nav-tabs-custom" id="selectTypeOfInvoice">
   <ul class="nav nav-tabs pull-right">
      <li n:class="$activeTab == 3 ? active">
         <a href="#zalohovaFaktura" data-toggle="tab" aria-expanded="true">
            Zálohová faktura
         </a>
      </li>
      <li n:if="$sellerTaxablePerson" n:class="$activeTab == 2 ? active">
         <a href="#danovyDoklad" data-toggle="tab" aria-expanded="true">
            Daňový doklad (faktura)
         </a>
      </li>
      <li n:if="!$sellerTaxablePerson" n:class="$activeTab == 2 ? active">
         <a href="#faktura" data-toggle="tab" aria-expanded="true">
            Faktura
         </a>
      </li>
      <li n:class="$activeTab == 1 ? active">
         <a href="#pokladniDoklad" data-toggle="tab" aria-expanded="true">
            {if $sellerTaxablePerson}
               Zjednodušený daňový doklad
            {else}
               Pokladní doklad
            {/if}
         </a>
      </li>
      <li class="pull-left header">
         <i class="fas fa-file-alt"></i>
         Druh dokladu
      </li>
   </ul>
   <div class="tab-content">
      <div class="tab-pane {$activeTab == 1 ? "active"}" id="pokladniDoklad">
         {include "typeSimplifiedTaxInvoice.latte"}
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane {$activeTab == 2 ? "active"}" id="danovyDoklad" n:if="$sellerTaxablePerson">
         {include "typeTaxInvoice.latte"}
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane {$activeTab == 2 ? "active"}" id="faktura" n:if="!$sellerTaxablePerson">
         {include "typeInvoice.latte"}
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane {$activeTab == 3 ? "active"}" id="zalohovaFaktura">
         {include "typeProFormaInvoice.latte"}
      </div>
      <!-- /.tab-pane -->
   </div>
   <!-- /.tab-content -->
</div>