{form proFormaInvoiceForm}
<div class="row">
   <div class="col-lg-8 col-lg-offset-2 col-xs-12">
      <div class="row">
         <div class="col-xs-12 col-sm-6">
            <div class="form-group {if $form['typeOfPayment']->hasErrors()}has-error{/if}">
               {label typeOfPayment}
               {input typeOfPayment}
               <span class="help-block" n:foreach="$form['typeOfPayment']->getErrors() AS $error">{$error}</span>
            </div>
         </div>

         <div class="col-xs-12 col-sm-6">
            <div class="form-group {if $form['creationDate']->hasErrors()}has-error{/if}">
               {label creationDate}
               {input creationDate}
               <span class="help-block" n:foreach="$form['creationDate']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="form-group {if $form['dueDate']->hasErrors()}has-error{/if}">
               {label dueDate}
               {input dueDate}
               <span class="help-block" n:foreach="$form['dueDate']->getErrors() AS $error">{$error}</span>
            </div>
         </div>
      </div>
   </div>
</div>



<div class="clearfix text-center">
   <button n:name="create" class="btn btn-success button">
      <i class="fas fa-check fa-3x"></i>
      <span>Vystavit</span>
   </button>
</div>
{/form}