{form taxInvoiceForm}
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-xs-12">
   <div class="row">
      <div class="col-xs-12 col-sm-6">
         <div class="form-group {if $form['typeOfPayment']->hasErrors()}has-error{/if}">
            {label typeOfPayment}
            {input typeOfPayment}
            <span class="help-block" n:foreach="$form['typeOfPayment']->getErrors() AS $error">{$error}</span>
         </div>
      </div>

      <div class="col-xs-12 col-sm-6">
         <div class="form-group {if $form['creationDate']->hasErrors()}has-error{/if}">
            {label creationDate}
            {input creationDate}
            <span class="help-block" n:foreach="$form['creationDate']->getErrors() AS $error">{$error}</span>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 col-sm-6">
         <div class="form-group {if $form['dueDate']->hasErrors()}has-error{/if}">
            {label dueDate}
            {input dueDate}
            <span class="help-block" n:foreach="$form['dueDate']->getErrors() AS $error">{$error}</span>
         </div>
      </div>

      <div class="col-xs-12 col-sm-6">
         <div class="form-group {if $form['dateOfTaxableSupply']->hasErrors()}has-error{/if}">
            {label dateOfTaxableSupply}
            {input dateOfTaxableSupply}
            <span class="help-block" n:foreach="$form['dateOfTaxableSupply']->getErrors() AS $error">{$error}</span>
         </div>
      </div>
   </div>

   <table class="cashReceipt table no-border">
      <tr>
         <td class="name">K platbě</td>
         <td class="value">
            <span>{$control->getReceiptSum()|number: 2}</span>
            <span class="currency">Kč</span>
         </td>
      </tr>
      <tr>
         <td class="name">Zaplaceno</td>
         <td class="value">
            <input type="text"
                   class="form-inline paid"
                   value="{$control->getReceiptSum()}"
                    n:name="receivedAmount"
                   data-cost="{$control->getReceiptSum()}">
            <span class="currency">Kč</span>
         </td>
      </tr>
      <tr>
         <td class="name">Vrátit</td>
         <td class="value">
            <span class="return">-</span>
            <span class="currency">Kč</span>
         </td>
      </tr>

      <script type="text/javascript">
          $("#" + {$form['receivedAmount']->getHtmlId()}).keyup(function(){
              calculate($(this));
          });

          calculate($("#" + {$form['receivedAmount']->getHtmlId()}));
      </script>
   </table>
</div>
</div>

<div class="clearfix text-center">
   <button n:name="paid" class="btn btn-success button">
      <i class="fas fa-check fa-3x"></i>
      <span>Zaplaceno / vystavit</span>
   </button>
</div>
{/form}