<div class="callout callout-warning" n:if="$control->getReceiptSum() > 10000">
   <h4>Upozornění!</h4>
   <p>Celková částka za plnění na daňovém dokladu je vyšší než 10 tisíc Kč. Je tedy nutné vydat daňový doklad (fakturu) s hlavičkou kupujícího.</p>
</div>

{form simplifiedTaxInvoiceForm}
   <div class="row">
   <div class="col-xs-8 col-xs-offset-2">
      <table class="cashReceipt">
         <tr>
            <td class="name">K platbě</td>
            <td class="value">
               <span>{$control->getReceiptSum()|number: 2}</span>
               <span class="currency">Kč</span>
            </td>
         </tr>
         <tr>
            <td class="name">Zaplaceno</td>
            <td class="value">
               <input class="form-inline paid"
                      value="{$control->getReceiptSum()}"
                       n:name="receivedAmount"
                      data-cost="{$control->getReceiptSum()}">
               <span class="currency">Kč</span>
            </td>
         </tr>
         <tr>
            <td class="name">Vrátit</td>
            <td class="value">
               <span class="return">-</span>
               <span class="currency">Kč</span>
            </td>
         </tr>

         <script type="text/javascript">
             $("#" + {$form['receivedAmount']->getHtmlId()}).keyup(function(){
                 calculate($(this));
             });

             calculate($("#" + {$form['receivedAmount']->getHtmlId()}));
         </script>
      </table>
   </div>
   </div>

   <div class="clearfix text-center">
         <button n:name="paid" class="btn btn-success button">
            <i class="fas fa-check fa-3x"></i>
            <span>Zaplaceno</span>
         </button>
   </div>
{/form}