{block content}

<div class="row">
   <div class="col-md-5" n:snippet="leftColumn">
      {control receiptVisualization:overview}
   </div>


   <div class="col-md-7">
      {control finishReceipt}
   </div>

</div>