{block content}
<div class="container">
   <div class="col-md-4 col-md-push-4 text-center">
      <p class="login-box-msg">Prosím, přihlašte se</p>

      {control signInForm}

      {*<a n:href="passwordRecovery">Ztráta hesla?</a>*}
   </div>
</div>