{snippet}
   {form form}
      <span class="form-group {if $form['value']->hasErrors()}has-error{/if}">
         <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-primary" n:name="minus" value="-">
                 <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>

            {input value}

            <span class="input-group-btn">
              <button class="btn btn-primary" n:name="plus" value="+">
                 <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
        </div>
         <span class="help-block" n:foreach="$control['form']['value']->getErrors() AS $error">{$error}</span>
      </span>
   {/form}
{/snippet}