<div class="row">
   <div class="col-md-4">
      <div class="box box-primary">
         <div class="box-header">
            <h3 class="box-title">Stav</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <dl class="dl-nice">
               {if $control->isSellerTaxablePerson()}
                  <dt>Celkem bez DPH:</dt>
                  <dd>
                     {$control->getSum(false)|number:2:',':' '} Kč
                  </dd>
                  <dt>Celkem s DPH:</dt>
                  <dd>
                     {$control->getSum(true)|number:2:',':' '} Kč
                  </dd>
               {else}
                  <dt>Celkem:</dt>
                  <dd>
                     {$control->getSum(false)|number:2:',':' '} Kč
                  </dd>
               {/if}
            </dl>
         </div>
         <!-- /.box-body -->
      </div>
   </div>
</div>

<div class="box box-primary">
   <div class="box-header">
      <h3 class="box-title">Zboží</h3>
   </div>
   <!-- /.box-header -->
   <div class="box-body">
      {control products}
   </div>
   <!-- /.box-body -->
</div>