.box .overlay > .fas,
.overlay-wrapper .overlay > .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.main-header .sidebar-toggle {
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
}

//sidebar.less
.user-panel {
  > .info {
    > a {
      > .fas {
        margin-right: 3px;
      }
    }
  }
}

.sidebar-menu {
  > li {
    > a {
      > .fas {
        width: 20px;
      }
    }
  }
}

.treeview-menu > li > a > .fas,
.treeview-menu > li > a > .far {
  width: 20px;
}