#selectTypeOfInvoice {
  .cashReceipt {
    table {
      width: 100%;
      margin: auto;
    }

    td {
      padding: 4px 0 4px 0;
    }

    td.name {
      font-size: 20px;
      width: 40%;
    }

    td.value {
      width: 60%;
      font-size: 25px;
      color: @olive;
      font-weight: bolder;
      text-align: right;
    }

    span.currency {
      font-size: 15px;
      color: @orange;
      text-align: right;
    }

    input.paid {
      width: 80%;
      border: 0;
      border-bottom: 1px dotted;
      text-align: right;
      color: @teal;
    }
  }

  button i{
    float: left;
  }

  button span{
    float: right;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 8px 0 0 10px;
    font-size: 20px;
  }
}

