label.required::after {
  content: " *";
  color: red;
  font-size: 17px;
}


.dl-nice dt {
  float: left;
  width: 50%;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}
.dl-nice dd {
  margin-bottom: 5px;
}

//https://stackoverflow.com/questions/47888879/placeholder-fully-not-visible-for-input-type-number-on-firefox-when-using-certai
input[type=number] {
  padding: 0.46rem 1rem;
}

.easy-autocomplete-container ul { max-height: 200px; overflow-y: auto; }