#productSelectGridView {
  margin: auto;

  .item {
    padding: 20px;
    margin: 5px;
    float: left;
    color: black;
    width: 200px;
    height: 100px;
    /*display: table;*/
    text-align: center;
    position: relative;
    border: 1px solid #000000;
  }

  .item .name {
    color: black;
    /*display: table-cell;
    vertical-align: middle;*/
    text-align: center;
  }

  .item .price {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  .item .quantityInStock {
    position: absolute;
    left: 8px;
    bottom: 8px;
  }

  .item .icon {
    position: absolute;
    left: 2px;
    top: 2px;
    opacity: 0.15;
    font-size: 20px !important;
  }
}