#productsForStockIn .productTable {
  margin: 0;
}

#productsForStockIn .productTable {
  border: 2px solid #D2D2D2;
}

#productsForStockIn .infoRow td {
  padding-bottom: 3px;
}

#productsForStockIn .productRow td {
  padding-bottom: 0px;
}

#productsForStockIn .productTable.product-has-error {
  border-color: @red;
}