#receiptTableOverflow {
  overflow:auto;
}

#receiptTable {
  th.itemName {
    width: 51%;
  }

  th.quantity {
    width: 20%;
  }

  th.sum {
    width: 24%;
  }

  th.tools {
    width: 5%;
  }

  td {
    vertical-align: middle;
  }

  td.quantity,
  td.sum {
    color: @olive;
    font-size: 22px;
    font-weight: bold;
  }

  td.quantity .btn {
    padding: 1px 6px;
    font-size: 12px;
  }

  .currency {
    font-size: 15px;
    font-weight: normal;
  }

  .unitPrice, .unit {
    padding-top: 5px;
    font-size: 12px;
    color: @blue;
  }

  .note {
    padding-top: 5px;
    font-size: 12px;
    color: @purple;
  }

  tr.item td {
    border-bottom: 0;
    padding-bottom: 0;
  }

  tr.itemExtraRow td {
    border-top: 0;
    padding-top: 0;
  }
}

#receiptOverview span {
  color: @olive;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}

#receiptOverview span.sum {
  color: @maroon;
}
