.timeline {
  > li {
    // The icons
    > .fas {
      width: 30px;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      position: absolute;
      color: #666;
      background: @gray-lte;
      border-radius: 50%;
      text-align: center;
      left: 18px;
      top: 0;
    }
  }
}