{block content}

<div class="container">
   <h1 class="pull-left">{$pageTitle}</h1>
   <p class="pull-right">
      <a n:href="createTicket" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Položit nový dotaz</a>
   </p>

   <div class="clearfix"></div>

   {control grid}
</div>