<div class="col-md-9" n:snippetArea="info">
   <div class="panel panel-default">
      <div class="panel-heading">
         <i class="fa fa-info-circle"></i>
         Obecné informace
      </div>
      <div class="panel-body" n:inner-snippet="infoBody">
         <dl class="dl-horizontal">
            <dt>Předmět:</dt>
            <dd>{$ticket->getSubject()}</dd>
            <dt>Typ:</dt>
            <dd>{$ticket->getType()}</dd>
         </dl>
         <dl class="dl-horizontal">
            <dt>Autor:</dt>
            {if in_array($control->getLoggedUser()->getRole(), [App\Model\Enums\UserRole::ROLE_CASHIER, App\Model\Enums\UserRole::ROLE_ADMIN])}
               {if $ticket->getAuthor()->getRole() == App\Model\Enums\UserRole::ROLE_CUSTOMER}
                  <dd><a href="{$control->presenter->link(':Admin:Customers:edit', $ticket->getAuthor()->getId())}">{$ticket->getAuthor()->getName()}</a></dd>
               {else}
                  <dd>{$ticket->getAuthor()->getName()}</dd>
               {/if}
            {else}
               <dd>{$ticket->getAuthor()->getName()}</dd>
            {/if}

            <dt>Založen:</dt>
            <dd data-time-title="{$ticket->getCreated()|date:'%d.%m.%Y %H:%M'}">
               {$ticket->getCreated()|date:'j. n. Y H:i'}
            </dd>
            <dt>Poslední zpráva:</dt>
            <dd {if $control->getLastMessage()}data-time-title="{$control->getLastMessage()->getCreated()|date:'%d.%m.%Y %H:%M'}"{/if}>
               {$control->getLastMessage() ? $control->getLastMessage()->getCreated()|date:'j. n. Y H:i' : "-"}
            </dd>
         </dl>
      </div>
   </div>
</div>

<div class="col-md-3" n:if="$ticket->getStatus()->getValue() != App\Model\Enums\TicketStatus::CLOSED">
   <div class="panel panel-success">
      <div class="panel-heading">
         <i class="fa fa-check"></i>
         Ticket je otevřen
      </div>
      <div class="panel-body text-center">
         <a n:href="closeTicket!" class="btn btn-danger"> <i class="fa fa-times"></i> Uzavřít ticket</a>
      </div>
   </div>
</div>

<div class="col-md-3" n:if="$ticket->getStatus()->getValue() == App\Model\Enums\TicketStatus::CLOSED">
   <div class="panel panel-danger">
      <div class="panel-heading">
         <i class="fa fa-times"></i>
         Ticket je uzavřen
      </div>
      <div class="panel-body text-center">
         <a n:href="reopenTicket!" class="btn btn-success"> <i class="fa fa-repeat"></i> Znovuotevřít ticket</a>
      </div>
   </div>
</div>

<div class="clearfix"></div>

<ul class="timeline" n:snippet="ticket">

   <li n:if="$ticket->getStatus()->getValue() != App\Model\Enums\TicketStatus::CLOSED">
      <i class="fa fa-plus bg-blue"></i>
      <div class="timeline-item">
         <h3 class="timeline-header">Přidat zprávu</h3>

         <div class="timeline-body">
            <div id="messageForm">{control addMessage}</div>
            <a class="btn btn-primary btn-flat" id="showForm" n:if="!$control['addMessage']->isSubmitted()">zobrazit formulář</a>


            <script type="text/javascript" n:if="!$control['addMessage']->isSubmitted()">
                $("#messageForm").hide();
            </script>
         </div>
      </div>
   </li>



   {var $prevMessage = null}
   {foreach $control->getMessages() AS $message}
      <!-- timeline time label -->
      <li class="time-label" n:if="is_null($prevMessage) || $prevMessage->getCreated()->format('j. n. Y') != $message->getCreated()->format('j. n. Y')">
        <span class="bg-blue">
            {$message->getCreated()|date:'j. n. Y'}
        </span>
      </li>
      <!-- /.timeline-label -->

      <!-- timeline item -->
      <li>
         <!-- timeline icon -->
         {if $message->getType() == App\Model\Enums\TicketMessageType::CREATED}
            <i class="fas fa-plus bg-green"></i>
         {elseif $message->getType() == App\Model\Enums\TicketMessageType::REOPENED}
            <i class="fas fa-redo bg-orange"></i>
         {elseif $message->getType() == App\Model\Enums\TicketMessageType::CLOSED}
            <i class="fas fa-times bg-red"></i>
         {elseif $message->getType() == App\Model\Enums\TicketMessageType::AUTOMATICALLY_CLOSED}
            <i class="fas fa-times bg-red"></i>
         {elseif $message->getType() == App\Model\Enums\TicketMessageType::MESSAGE || $message->getType() == App\Model\Enums\TicketMessageType::FIRST_MESSAGE}
            {if $message->getTicket()->getAuthor() != $message->getAuthor()}
               <i class="fas fa-comment bg-purple" n:if="!$control->hasAvatar($message->getAuthor())"></i>

               <i class="fa" n:if="$control->hasAvatar($message->getAuthor())">
                  <img src="{$control->getAvatar($message->getAuthor())}" class="img-circle" alt="avatar {$message->getAuthor()->getName()}" width="30">
               </i>
            {/if}

            {if $message->getTicket()->getAuthor() == $message->getAuthor()}
               <i class="fas fa-comment bg-olive" n:if="!$control->hasAvatar($message->getAuthor())"></i>

               <i class="fa" n:if="$control->hasAvatar($message->getAuthor())">
                  <img src="{$control->getAvatar($message->getAuthor())}" class="img-circle" alt="avatar {$message->getAuthor()->getName()}" width="30">
               </i>
            {/if}
         {/if}

         <div class="timeline-item">
            <span class="time" title="{$message->getCreated()|date:'j. n. Y | H:i'}" data-time="{$message->getCreated()|date:'d.m.Y H:i:s'}">
               <i class="fa fa-clock-o"></i>
            </span>

            {if $message->getType() == App\Model\Enums\TicketMessageType::CREATED}
               <h3 class="timeline-header"><a>{$message->getAuthor()->getName()}</a> vytvořil tiket</h3>
            {elseif $message->getType() == App\Model\Enums\TicketMessageType::REOPENED}
               <h3 class="timeline-header"><a>{$message->getAuthor()->getName()}</a> znovuotevřel ticket</h3>
            {elseif $message->getType() == App\Model\Enums\TicketMessageType::CLOSED}
               <h3 class="timeline-header"><a>{$message->getAuthor()->getName()}</a> uzavřel tiket</h3>
            {elseif $message->getType() == App\Model\Enums\TicketMessageType::AUTOMATICALLY_CLOSED}
               <h3 class="timeline-header">Tiket byl automaticky uzavřen</h3>
            {elseif $message->getType() == App\Model\Enums\TicketMessageType::MESSAGE || $message->getType() == App\Model\Enums\TicketMessageType::FIRST_MESSAGE}
               <h3 class="timeline-header"><a>{$message->getAuthor()->getName()}</a> napsal</h3>

               <div class="timeline-body">
                  {$message->getContent()|noescape}
               </div>

               <div class="timeline-footer" n:if="count($message->getAttachments())">
                  {foreach $message->getAttachments() AS $attachment}
                     {if $control->isImageAttachment($attachment)}
                        <a href="{$control->link('image', $attachment->getId())}" class="venobox" data-gall="gallery_{$message->getId()}" title="{$attachment->getName()}">
                           <img src="{$control->link('image', $attachment->getId(), true)}" class="margin img-bordered" title="{$attachment->getName()}">
                        </a>
                     {/if}
                  {/foreach}

                  <div>
                     {foreach $message->getAttachments() AS $attachment}
                        {if !$control->isImageAttachment($attachment)}
                           {first}
                              <span class="text-warning">Přiložené soubory:</span> <br />
                           {/first}
                           <a href="{$control->link('file', $attachment->getId())}" style="margin: 0 3px 0 3px">
                              <i class="fa fa-file-text-o" aria-hidden="true"></i>
                              {$attachment->getName()}
                           </a>
                        {/if}
                     {/foreach}
                  </div>
               </div>
            {/if}
         </div>
      </li>
      <!-- END timeline item -->

      {var $prevMessage = $message}
   {/foreach}


   <li n:if="$control->isShowMoreButton()">
      <i class="fa fa-ellipsis-v bg-gray"></i>

      <div class="timeline-item" style="background: none; -webkit-box-shadow: none; box-shadow: none;">
         <a n:href="showOlder!" class="btn btn-default ajax" title="Ajax Request">
            <i class="fa fa-refresh"></i>&nbsp; zobrazit starší zprávy
         </a>
      </div>
   </li>

   <script type="text/javascript">
       $(".time").each(function(){
           $(this).append(moment($(this).data("time"), 'D.M.Y H:m:s').fromNow());
       });

       $("dd[data-time-title]").each(function(){
           $(this).attr("title", moment($(this).data("time-title"), 'D.M.Y H:m:s').fromNow());
       });

       $('#showForm').click(function (){
           $(this).hide();
           $("#messageForm").slideDown();
       });
   </script>
</ul>