{block content}


<div class="box box-default">
   <div class="box-header with-border no-padding">
   </div>
   <!-- /.box-header -->
   <div class="box-body">
      {control receipts}
   </div>
   <!-- /.box-body -->
</div>

{control sendReceiptModalDialog}
