<div class="modal fade" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog">
      <div class="modal-content" n:if="$show">
         {form form}
            <div class="modal-body overlay-wrapper">
               {control flashMessage}
                  <div class="row">
                     <div class="col-xs-12">
                        <div class="form-group {if $form['email']->hasErrors()}has-error{/if}">
                           {label email}
                           {input email}
                           <span class="help-block" n:foreach="$form['email']->getErrors() AS $error">{$error}</span>
                        </div>
                     </div>
                  </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zavřít</button>
               {input send, class=>'btn btn-primary'}
            </div>
         {/form}
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


