<div class="modal fade" tabindex="-1" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog">
      <div class="modal-content" n:if="$control->show">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Pojmenovat účtenku</h4>
         </div>
         {form form}
            <div class="modal-body">
               {control flashMessage}

               <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
                  {label name /}
                  {input name, autofocus=>autofocus}
                  <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zavřít</button>
               {input submit, class=>'btn btn-primary'}
            </div>
         {/form}
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

