{form form}
   <div class="form-group {if $form['content']->hasErrors()}has-error{/if}">
      {label content/}
      {input content}
      <span class="help-block" n:foreach="$form['content']->getErrors() AS $error">{$error}</span>
   </div>

   {control attachments}
   {input create}
{/form}