<ol class="breadcrumb" n:if="!$hidden">
   {foreach $items AS $item}
      {if $iterator->isLast()}
         <li class="active">{$item->getName()}</li>
      {else}
         {if $item->getLink()}
            <li><a href="{$presenter->link($item->getLink())}">{$item->getName()}</a></li>
         {else}
            <li><a>{$item->getName()}</a></li>
         {/if}
      {/if}
   {/foreach}
</ol>