{control flashMessage}
{control flashMessageNotify}

<div class="pull-right margin-bottom" n:snippet="buttons">
   <a n:href="createProduct!" class="btn btn-primary">
      <i class="fa fa-plus" aria-hidden="true"></i>
      produkt
   </a>
   <a n:href="createCategory!" class="btn btn-default ajax">
      <i class="fa fa-plus" aria-hidden="true"></i>
      kategorie
   </a>
</div>

<div class="clearfix"></div>


<div class="box box-default" id="boxGoods">
   <div class="box-header with-border">

         <div class="pull-left">
            {control categoryLocationScheme}
         </div>

      <div class="pull-right" n:snippet="searchForm">
         {form form}
            <div class="form-group {if $control->searchedTerm}has-warning{/if}">
               <div class="input-group" style="width: 350px;">
                  <div class="input-group-btn" n:if="$control->searchedTerm">
                     <a n:href="resetSearching!" class="btn btn-warning ajax spinner">
                        <i class="fa fa-cancel"></i> zrušit
                     </a>
                  </div>

                  {input searchedTerm}

                  <div class="input-group-btn">
                     <button n:name="search" class="btn {if $control->searchedTerm}btn-warning{else}btn-default{/if}">
                        <i class="fa fa-search"></i>
                     </button>
                  </div>
               </div>
            </div>
         {/form}
      </div>

   </div>
   <!-- /.box-header -->
   <div class="box-body">
      <div class="table-responsive">
      <table class="table table-hover table-striped" n:snippet="table">
         <thead>
         <tr>
            <th style="width: 10px"></th>
            <th style="width: 10px"></th>
            <th>Název</th>
            <th style="width: 15%">Cena [Kč vč DPH]</th>
            <th style="width: 10%">EAN</th>
            <th style="width: 10%">PLU</th>
            <th style="width: 10%" n:if="$control->isWarehouseEnabled()">Sklad</th>
            <th style="width: 100px">Akce</th>
         </tr>
         </thead>

         <tbody n:snippetArea="body">
            {var $colspan = $control->isWarehouseEnabled() ? 8:7}
            <tr n:if="$control->searchedTerm">
               <td colspan="{$colspan}" class="text-center danger">
                  výsledky jsou filtrovány pro výraz <strong>{$control->searchedTerm}</strong>
               </td>
            </tr>
            <tr n:if="$control->getActualCategory()">
               <td colspan="{$colspan}" class="text-center">
                  <a n:href="up!" class="center-block ajax ajax-history spinner">
                     <span class="glyphicon glyphicon-arrow-up" style="padding-right: 60px;"></span>
                     o úroveň výše
                     <span class="glyphicon glyphicon-arrow-up" style="padding-left: 60px;"></span>
                  </a>
               </td>
            </tr>
            {if !$control->searchedTerm}
               <tr n:foreach="$control->getCategories() AS $category" n:snippet="'category_' . $category->getId()">
                  <td style="background-color: {$category->getColor()|noescape};"></td>
                  <td>
                     <i class="fa fa-folder" aria-hidden="true"></i>
                  </td>
                  <td colspan="{$colspan-3}">
                     <a n:href="changeCategory!, $category->getId()" class="ajax ajax-history spinner center-block">
                        {$category->getName()}
                     </a>
                  </td>
                  <td>
                     <a n:href="editCategory!, $category->getId()" class="btn btn-primary ajax">
                        <i class="fas fa-pencil-alt"></i>
                     </a>
                     <a n:href="removeCategory!, $category->getId()" class="btn btn-danger ajax" onclick="if(!confirm('Opravdu?')) return false;">
                        <i class="fas fa-trash"></i>
                     </a>
                  </td>
               </tr>
               <tr n:foreach="$control->getProducts() AS $product" n:snippet="'product_' . $product->getId()">
                  <td style="background-color: {$product->getColor()|noescape};"></td>
                  <td></td>

                  <td>{$product->getName()}</td>
                  <td>{$product->getPriceWithVat()|number:2}</td>
                  <td>{$product->getEan()}</td>
                  <td>{$product->getPlu()}</td>
                  <td n:if="$control->isWarehouseEnabled()">{$product->getQuantityInStock()|number:2}</td>
                  <td>
                     <a n:href="editProduct!, $product->getId()" class="btn btn-primary">
                        <i class="fas fa-pencil-alt"></i>
                     </a>
                     <a n:href="removeProduct!, $product->getId()" class="btn btn-danger ajax" onclick="if(!confirm('Opravdu?')) return false;">
                        <i class="fas fa-trash"></i>
                     </a>
                  </td>
               </tr>
            {else}
               {foreach $control->searchProductsAndCategories() AS $item}
                  <tr n:if="$item['category'] != $control->getActualCategory()">
                     <td style="background-color: {$item['category']->getColor()|noescape};"></td>
                     <td>
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                     </td>

                     <td colspan="{$colspan-2}">
                        <a n:href="changeCategory!, $item['category']->getId()" class="ajax ajax-history spinner center-block">
                           {$item['location']|implode:' / '}
                        </a>
                     </td>
                  </tr>

                  {ifset $item['products']}
                     <tr n:foreach="$item['products'] AS $product" n:snippet="'product_' . $product->getId()">
                        <td style="background-color: {$product->getColor()|noescape};"></td>
                        <td style="padding-left: 15px;">

                        </td>

                        <td style="padding-left: 20px;">{$product->getName()}</td>
                        <td>{$product->getPrice()}</td>
                        <td>{$product->getEan()}</td>
                        <td>{$product->getPlu()}</td>
                        <td n:if="$control->isWarehouseEnabled()">{$product->getQuantityInStock()|number:2}</td>
                        <td>
                           <a n:href="editProduct!, $product->getId()" class="btn btn-primary">
                              <i class="fas fa-pencil-alt"></i>
                           </a>
                           <a n:href="removeProduct!, $product->getId()" class="btn btn-danger ajax">
                              <i class="fas fa-trash"></i>
                           </a>
                        </td>
                     </tr>
                  {/ifset}
               {/foreach}
            {/if}
         </tbody>
      </table>
      </div>
   </div>
   <!-- /.box-body -->
</div>

<script type="text/javascript">
    $.nette.ext('spinner', {
        start: function(jqXHR, settings) {
            if(settings.nette && !settings.nette.el.is(".spinner")) {
                return;
            }
            //show spinner
            $("#boxGoods").append($('<div class="overlay">' +
                '                             <i class="fas fa-spinner fa-spin fa-2x"></i>' +
                '                          </div>'));
        },
        success: function(payload, status, jqXHR, settings){
            if(settings.nette && !settings.nette.el.is(".spinner")) {
                return;
            }

            //remove spinner
            $("#boxGoods").find(".overlay").fadeOut();
        }
    });


    $(document).barcodeScannerListener().on("barcode.valid", function(e, code) {
        $.notify({
            message: "Načten EAN: " + code,
            icon: "icon fa fa-info"
        });

        $.nette.ajax({
            url: {link barcodeScanned!, code=>''},
            data: {
               {$control->getParameterId('code')}: code
            },
            success: function (payload) {
               if(payload.redirect) {
                   window.location = payload.redirect;
               }
            }
    })
    });
</script>

{control addEditProductCategoryModal}