{form form}
   <div class="box box-primary">
      <div class="box-body">
         <div class="form-group {if $form['subject']->hasErrors()}has-error{/if}">
            {label subject/}
            {input subject}
            <span class="help-block" n:foreach="$form['subject']->getErrors() AS $error">{$error}</span>
         </div>
         <div class="form-group {if $form['type']->hasErrors()}has-error{/if}">
            {label type/}
            {input type}
            <span class="help-block" n:foreach="$form['type']->getErrors() AS $error">{$error}</span>
         </div>
         <div class="form-group {if $form['receipt']->hasErrors()}has-error{/if}">
            {label receipt/}
            {input receipt}
            <span class="help-block" n:foreach="$form['receipt']->getErrors() AS $error">{$error}</span>
         </div>
         <div class="form-group {if $form['content']->hasErrors()}has-error{/if}">
            {label content/}
            {input content}
            <span class="help-block" n:foreach="$form['content']->getErrors() AS $error">{$error}</span>
         </div>

         {control attachments}
      </div>
      <div class="box-footer">
         {input create}
      </div>
   </div>

   <script type="text/javascript">
      $("#" + {$form['receipt']->getHtmlId()}).select2();
   </script>
{/form}