<table class="table" id="productsForStockIn">
   <thead>
   <tr>
      <th style="width: 40%">Název</th>
      <th style="width: 20%">Celkem nákupní cena (vč. DPH)</th>
      <th style="width: 20%">
         Prodejní cena za jednotku
         {if $taxablePerson}
            vč. DPH
         {/if}
      </th>
      <th style="width: 20%">Počet jednotek</th>
      <th></th>
   </tr>
   </thead>

   <tbody n:snippet="items">
      {foreach array_reverse($control->getItems()) AS $item}
         {control editItem-{$item->getId()}}
      {/foreach}

      {if $control->getItems() === []}
         <tr>
            <td class="text-center" colspan="4">
               <strong>vyberte položky pro naskladnění</strong>
            </td>
         </tr>
      {/if}
   </tbody>

   <tfoot n:snippet="overview">
      <tr n:if="count($control->getItems())">
         <td></td>
         <td><strong>&sum; {$control->getProductPurchasePricesSum()|number:2}</strong> Kč</td>
         <td></td>
         <td><strong>&sum; {$control->getProductQuantitiesSum()|number:2}</strong></td>
      </tr>
   </tfoot>
</table>

<script type="text/javascript">
    $("#productsForStockIn").on("change", "input", function () {
        $(this).closest("form").submit();
    });

    $("#" + {$control['form']->getElementPrototype()->getId()}).on("change", "input, select, textarea", function () {
        $(this).closest("form").submit();
    });

    function markError() {
        $(".productTable").each(function () {
            if($(this).find(".has-error").length) {
                $(this).addClass("product-has-error");
            } else {
                $(this).removeClass("product-has-error");
            }
        });
    }

    markError();

    $.nette.ext("mark-error", {
        success: function () {
            markError();
        }
    });
</script>