<div class="row">
   <div class="col-md-5 selectProducts">
      {control selectProducts}
   </div>
   <div class="col-md-7 stockInProducts" n:snippet="stockIn">
      <div class="box box-default">
         <div class="box-header with-border">
            <div class="pull-left">
               <h3 class="box-title">Produkty pro naskladnění</h3>
            </div>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            {form form}
               <div class="form-horizontal">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group {if $form['supplier']->hasErrors()}has-error{/if}">
                           <div class="col-sm-4">
                              {label supplier /}
                           </div>
                           <div class="col-sm-8">
                              {input supplier}
                              <span class="help-block" n:foreach="$form['supplier']->getErrors() AS $error">{$error}</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group {if $form['invoiceNumber']->hasErrors()}has-error{/if}">
                           <div class="col-sm-4">
                              {label invoiceNumber /}
                           </div>
                           <div class="col-sm-8">
                              {input invoiceNumber}
                              <span class="help-block" n:foreach="$form['invoiceNumber']->getErrors() AS $error">{$error}</span>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div class="form-group {if $form['note']->hasErrors()}has-error{/if}">
                           <div class="col-sm-2">
                              {label note /}
                           </div>
                           <div class="col-sm-10">
                              {input note}
                              <span class="help-block" n:foreach="$form['note']->getErrors() AS $error">{$error}</span>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-12 text-center">
                        {input stockIn}
                     </div>
                  </div>
               </div>
            {/form}

            {snippetArea table}
               {include "table.latte"}
            {/snippetArea}
         </div>
         <!-- /.box-body -->
      </div>
   </div>
</div>

<script type="text/javascript">
   $("a.ajax").addClass("spinner").data("spinner-target", ".selectProducts, .stockInProducts");

   $.nette.ext("spinner");

   $.nette.ext({
     success: function () {
         $("a.ajax").addClass("spinner").data("spinner-target", ".selectProducts, .stockInProducts");
     }
   });
</script>