{$controlRender}

{if $view == App\Forms\Controls\CKeditor\CKeditor::VIEW_BASIC}
    <script type="text/javascript">
        CKEDITOR.replace({$control->getHtmlId()}, {
            toolbar: [
                { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat' ] },

                { name: 'links', items: [ 'Link', 'Unlink'] },
                { name: 'insert', items: [ 'Image'] },
                { name: 'tools', items: [ 'Maximize' ] },
                { name: 'document', items: [ 'Source' ] },
            ]
        });

        CKEDITOR.config.height = 100;
    </script>
{/if}

{if $view == App\Forms\Controls\CKeditor\CKeditor::VIEW_FULL}
    <script type="text/javascript">
        CKEDITOR.replace({$control->getHtmlId()}, {
            toolbar: [
                { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                { name: 'editing', items: [ 'Scayt' ] },
                { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
                { name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar' ] },
                { name: 'tools', items: [ 'Maximize' ] },
                { name: 'document', items: [ 'Source' ] },
                '/',
                { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
                { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
                { name: 'styles', items: [ 'Styles', 'Format' ] }
            ]
        });
    </script>
{/if}

<script type="text/javascript">
    CKEDITOR.config.height = 100;
    CKEDITOR.config.htmlEncodeOutput = false;
    CKEDITOR.config.entities = false;
</script>