{block content}

<div class="row">
   <div class="col-md-5 col-xs-12" n:snippet="receipt">
      {ifset $receipt}
         {control receiptVisualization:readonly}
      {else}
         <div class="box box-primary" n:if="!isset($receipt)">
            <div class="box-header with-border">
               <h3 class="box-title">Náhled účtu</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive text-center">
               <p>vyberte účet</p>
            </div>
            <!-- /.box-body -->
         </div>
      {/ifset}
   </div>


   <div class="col-md-7 col-xs-12">
      {control selectActiveReceipt}
   </div>
</div>

