<div class="modal fade" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog">
      <div class="modal-content" n:if="$show">
         {form form}
            <div class="modal-body">
               <div class="form-group {if $form['customer']->hasErrors()}has-error{/if}">
                  {label customer}
                  {input customer, style=>"width: 100%"}
                  <span class="help-block" n:foreach="$form['customer']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zavřít</button>
               {if $removeButton}
                  {input remove, class=>'btn btn-danger'}
               {/if}
               {input submit, class=>'btn btn-primary'}
            </div>
         {/form}

         <script type="text/javascript">
             $('#' + {$form['customer']->getHtmlId()}).select2({
                 language: "cs",
                 placeholder: "-",
                 ajax: {
                     url: {link loadCustomers!},
                     data: function (params) {
                         var query = {
                           {$control->getParameterId('term')}: params.term
                         }

                         return query;
                     }
                 }
             });
         </script>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


