{block content}

<div class="container">
   <h1>{$pageTitle}</h1>


   <div class="row">
      <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
               <div class="panel-heading">Poslední přihlášení</div>
               <div class="panel-body">
                  <dl class="dl-nice">
                     <dt>Datum:</dt>
                     <dd>{$presenter->getLoggedUser()->getLastLoginDate()|date:'j. n. Y H:i'}</dd>
                     <dt>IP adresa:</dt>
                     <dd>{$presenter->getLoggedUser()->getLastLoginFromIP()}</dd>
                  </dl>
               </div>
            </div>

            <div class="panel panel-success">
               <div class="panel-heading">Doklady</div>
               <div class="panel-body">
                  <table class="table table-hover">
                     <tr n:foreach="$presenter->getLastReceipts() AS $receipt">
                        {var $date = $receipt->getCreationDate()}

                        <td style="line-height: 34px; {first}border: 0;{/first}">
                           {$receipt->getNiceId()}
                        </td>
                        <td title="{$date|date:'j. n. Y H:i'}" style="line-height: 34px; {first}border: 0;{/first}" data-time="{$date|date:'%d.%m.%Y %H:%M'}">
                           <span class="niceTime label label-default label-sm"></span>
                        </td>
                        <td class="text-right" style="{first}border: 0;{/first}">
                           <a n:href="Receipts:detail, $receipt->getId()" class="btn btn-primary">
                              <i class="fas fa-search"></i>
                           </a>
                        </td>
                     </tr>
                  </table>
                  <script type="text/javascript">
                      $(".niceTime").each(function () {
                          $(this).text(moment($(this).parent().data("time"), 'D.M.Y H:m:s').fromNow())
                      });
                  </script>
               </div>
            </div>
      </div>
      <div class="col-md-6 col-xs-12">
         <div class="panel panel-primary" style="width: 100%">
            <div class="panel-heading">Podpora</div>
            <div class="panel-body" style="overflow-y: auto; height: 460px;">
               {control ticketsTimeline}
            </div>
         </div>
      </div>
   </div>
</div>