{block content}

{if $presenter->getActiveView()->equalsValue(\App\Model\Enums\CashView::IMMEDIATE_SALE)}
   {snippet}
      {control receiptManualCreation}
   {/snippet}
{else}
   <div class="row">
      <div class="col-md-5 sticky" n:snippet="leftColumn">
         <div class="box box-primary" n:if="!$presenter->getActiveReceipt()">
            <div class="box-header with-border">
               <h3 class="box-title">
                  Účet
               </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive text-center">
               <a n:href="newReceipt!" class="btn btn-success btn-lg ajax">
                  Nový
               </a>
               -
               <a n:href="ChangeReceipt:" class="btn btn-primary btn-lg">
                  Otevřít zaparkovaný
               </a>
            </div>
         </div>

         {if $presenter->getActiveReceipt()}
            {control receiptVisualization}
         {/if}
      </div>


      <div class="col-md-7 no-float">
         {control productSelect}
      </div>
   </div>
{/if}


<script type="text/javascript">
    $(".sticky").stick_in_parent();


    $(document).barcodeScannerListener().on("barcode.valid", function(e, code) {
      $.nette.ajax({
        url: {link barcodeScanned!, code=>''},
        data: {
           {$control->getParameterId('code')}: code
        }
    })
    });
</script>