<div class="modal fade" tabindex="-1" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog">
      <div class="modal-content" n:if="$show">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4>Režim zobrazení</h4>
         </div>
            <div class="modal-body" n:snippet="content">
               <a
                       n:href="changeView!, \App\Model\Enums\CashView::TABLE"
                       class="btn btn-primary col-md-5 col-xs-12  {if $control->isViewSelected(\App\Model\Enums\CashView::TABLE)}btn-success{/if}"
               >
                  <i class="fas fa-table fa-4x"></i> <br />
                  výběr z katalogu - tabulka
               </a>
               <a
                       n:href="changeView!, \App\Model\Enums\CashView::GRID"
                       class="btn btn-primary col-md-5 col-md-offset-2 col-xs-12 {if $control->isViewSelected(\App\Model\Enums\CashView::GRID)}btn-success{/if}"
               >
                  <i class="fas fa-th-large fa-4x"></i> <br />
                  výběr z katalogu - mřížka
               </a>

               <a
                       n:href="changeView!, \App\Model\Enums\CashView::IMMEDIATE_SALE"
                       class="btn btn-primary col-md-6 col-md-offset-3 col-xs-12 {if $control->isViewSelected(\App\Model\Enums\CashView::IMMEDIATE_SALE)}btn-success{/if}"
                       style="margin-top: 15px;"
               >
                  <i class="fas fa-bars fa-4x"></i> <br />
                  manuální režim
               </a>

               <div class="clearfix"></div>
            </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

