{form form}
<div class="box box-default">
   <!-- /.box-header -->
   <div class="box-body">
      <div class="form-group {if $form['name']->hasErrors()}has-error{/if}">
         <div class="col-md-4 col-lg-2">
            {label name /}
         </div>
         <div class="col-md-8 col-lg-6">
            {input name}
            <span class="help-block" n:foreach="$form['name']->getErrors() AS $error">{$error}</span>
         </div>
      </div>
      <div class="form-group {if $form['premiseId']->hasErrors()}has-error{/if}" n:if="$eetEnabled">
         <div class="col-md-4 col-lg-2">
            {label premiseId /}
         </div>
         <div class="col-md-8 col-lg-6">
            <div class="input-group">
               {input premiseId}
               <span class="input-group-addon">obdrženo od FÚ</span>
            </div>
            <span class="help-block" n:foreach="$form['premiseId']->getErrors() AS $error">{$error}</span>
         </div>
      </div>
      <div class="form-group {if $form['cashRegisterId']->hasErrors()}has-error{/if}" n:if="$eetEnabled">
         <div class="col-md-4 col-lg-2">
            {label cashRegisterId /}
         </div>
         <div class="col-md-8 col-lg-6">
            {input cashRegisterId}
            <span class="help-block" n:foreach="$form['cashRegisterId']->getErrors() AS $error">{$error}</span>
         </div>
      </div>
      <div class="form-group {if $form['privileges']->hasErrors()}has-error{/if}">
         <div class="col-md-4 col-lg-2">
            {label privileges /}
         </div>
         <div class="col-md-8 col-lg-6">
            {input privileges}
            <span class="help-block"><strong>Tip:</strong> výběr více uživatelů provedte pomocí <kbd>ctrl</kbd>.</span>
            <span class="help-block" n:foreach="$form['privileges']->getErrors() AS $error">{$error}</span>
         </div>
      </div>
   </div>
   <!-- /.box-body -->

   <div class="box-footer">
      <input n:name="submit" class="btn btn-primary" />
   </div>
</div>
{/form}