<div class="modal modal-danger fade" role="dialog" n:snippet="modal" data-history-nocache>
   <div class="modal-dialog">
      <div class="modal-content" n:if="$show" n:inner-snippet="content">
         {form form}
            <div class="modal-header">
               <h4 class="modal-title">Opravdu chcete provést storno dokladu?</h4>
            </div>
            <div class="modal-body">
               <div class="form-group {if $form['stockIn']->hasErrors()}has-error{/if}" n:if="$control->isWarehouseEnabled()">
                  {label stockIn}
                  {input stockIn}
                  <span class="help-block" n:foreach="$form['stockIn']->getErrors() AS $error">{$error}</span>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-success pull-left" data-dismiss="modal">NE</button>
               <button n:name="makeCancel" class="btn btn-warning">ANO</button>
            </div>
         {/form}
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


