<div class="dropdown">
   <button
           class="btn btn-default btn-xs dropdown-toggle {$column->getActiveOption($row)->getClass()}"
           type="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="true">
      {$column->getActiveOption($row)->getTitle()}
      <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li n:foreach="$column->getOptions() AS $option">
         <a n:href="changeColumnStatus!, $column->getKey(), $row->getId(), value => $option->getValue()" class="ajax">{$option->getTitle()}</a>
      </li>
   </ul>
</div>